[2019-01-15 21:41] #7891 closed, assigned to nobody

[2019-01-16 09:19] EfimovVladimir opened #7925 "TableDisplay setRowFilter() method doesn't work"
try http://localhost:8888/notebooks/doc/groovy/TableAPI.ipynb
for example:
[code]
wrong result:
![image](https://user-images.githubusercontent.com/17744188/51238729-a8380100-1988-11e9-8e5a-15af0b7ae703.png)

[2019-01-16 10:24] EfimovVladimir opened #7926 "Not readable message about limits rows ( Jupyter Lab)"
Try ../test/ipynb/python/ChartingTest.ipynb notebook
and cell with heatmap that contains over 10000 rows
[code]
![image](https://user-images.githubusercontent.com/17744188/51242652-8f801900-1991-11e9-811c-2d5c2abee2e3.png)

This reproduced only on Lab

[2019-01-17 11:41] EfimovVladimir opened #7928 "Interrupting of kernel doesn't work (Jupyter Lab)"
Interrupting of kernel doesn't work for clojure, croovy, java, kotlin and scala kernels. (Jupyter Lab)
for example  (Groovy)
[code]

Interrupting of kernel works fine only for python kernel.

[2019-01-18 13:08] piorek commented on #7690
@dclong folowed your step by step instructions and still cant see it:
![image](https://user-images.githubusercontent.com/743617/51388469-cd17aa00-1b29-11e9-92dd-169d1d85d253.png)

node version:
![image](https://user-images.githubusercontent.com/743617/51388595-3f888a00-1b2a-11e9-9c08-108b3973368b.png)

[2019-01-18 18:10] dclong commented on #7690
@piorek That's weird. I tried it in Chrome, Firefox and Opera and encounter the same issue (floating charts over the notebook) every time. Which browser are you using and which version is it?

[2019-01-21 09:15] piorek commented on #7690
@dclong
![image](https://user-images.githubusercontent.com/743617/51464259-6c74b100-1d65-11e9-9863-dc35b34f7438.png)

[2019-01-21 10:53] jaroslawmalekcodete commented on #7924
![info](https://user-images.githubusercontent.com/21952713/51470053-173f9c00-1d73-11e9-8c78-2a21dceccb63.png)

[2019-01-21 14:42] jaroslawmalekcodete opened #7930 "fix setStringFormatForType(ColumnType.Time, TableDisplayStringFormat.getTimeFormat()) method"
[code]
nothing change when
[code]

[2019-01-22 13:00] piorek opened #7932 "Time difference between python and groovy"
loading and displaying same data in python and groovy results in different output for time column

python
[code]

groovy
[code]

 src | value
-----|----------
 csv | 1990-01-30 19:00:00.000 -0500
 python | 1990-01-30 20:00:00.000 +0100
 groovy | 1990-01-30 00:00:00.000 +0100

![image](https://user-images.githubusercontent.com/743617/51536565-4aa22980-1e4c-11e9-954a-05fbaf13a523.png)

[2019-01-22 19:00] dclong commented on #7690
@piorek I tried again and it seems to me that the issue is gone.

Note: To be more specifically, I didn't encountered the same issue a bunch of times but I figured out that it was due to cached JS in the saved notebooks. After rerunning the visualization code, saving the notebook and refreshing the JupyterLab server, the issue was gone! I think this is the cause the "weird phenomenon" I mentioned

[2019-01-22 20:43] #7923 closed, assigned to jaroslawmalekcodete

[2019-01-22 20:43] #7920 closed, assigned to jaroslawmalekcodete

[2019-01-22 20:43] #7913 closed, assigned to LeeTZ

[2019-01-23 03:56] #7930 closed, assigned to jaroslawmalekcodete

[2019-01-23 04:21] LeeTZ opened #7933 "Investigate on solution to get user input in Java kernel"
A java user may use class like Scanner to read from user input.
We should provide a solution to read from user input in Java kernel as well.

[2019-01-23 14:23] EfimovVladimir opened #7935 "Error: Circular reference detected (Python table)"
try http://localhost:8888/notebooks/test/ipynb/python/TableAPIPythonTest.ipynb notebook
and cell with code:
[code]

![image](https://user-images.githubusercontent.com/17744188/51612931-7a782c80-1f33-11e9-89f6-7a7c0adf65cb.png)

[2019-01-24 11:43] EfimovVladimir commented on #7935
#6963

[2019-01-24 11:48] EfimovVladimir commented on #7935
At the same time the  `pd.Float64Index()` works fine
![image](https://user-images.githubusercontent.com/17744188/51676178-e5367000-1fe6-11e9-9328-01553c4c008e.png)

[2019-01-24 15:05] EfimovVladimir opened #7937 "The Legend not visible (Python)"
See http://localhost:8888/notebooks/test/ipynb/python/ChartingTest.ipynb
![image](https://user-images.githubusercontent.com/17744188/51686770-11131f00-2002-11e9-95db-bfca517dc77e.png)

see right result on groovy:
http://localhost:8888/notebooks/test/ipynb/groovy/XChartingTest.ipynb
![image](https://user-images.githubusercontent.com/17744188/51686893-5f282280-2002-11e9-87ca-e5ddc863426f.png)

[2019-01-24 15:13] EfimovVladimir opened #7938 "Legend position doesn't work (Python)"
we can't set TOP position for HeatMap Legend
see http://localhost:8888/notebooks/test/ipynb/python/ChartingTest.ipynb
![image](https://user-images.githubusercontent.com/17744188/51687424-87645100-2003-11e9-9e5a-81ab8117244a.png)

see right result on groovy:
http://localhost:8888/notebooks/test/ipynb/groovy/XChartingTest.ipynb
![image](https://user-images.githubusercontent.com/17744188/51687504-b1b

[2019-01-24 15:14] EfimovVladimir commented on #7938
#7937

[2019-01-24 15:25] EfimovVladimir opened #7939 "warning message doesn't appear (Python)"
see http://localhost:8888/notebooks/test/ipynb/python/ChartingTest.ipynb
![image](https://user-images.githubusercontent.com/17744188/51688257-3fdec480-2005-11e9-8a6f-59dc5c21a375.png)

see right result on groovy:
http://localhost:8888/notebooks/test/ipynb/groovy/XChartingTest.ipynb
![image](https://user-images.githubusercontent.com/17744188/51688345-6dc40900-2005-11e9-8320-800219a4cca9.png)

[2019-01-24 17:37] afshin commented on #7928
The kernel status is being refactored in JupyterLab in this PR: https://github.com/jupyterlab/jupyterlab/pull/4724

If this feature can wait a few weeks, I would hold off until that PR has been released to see if it resolves the issue.

[2019-01-25 10:55] EfimovVladimir opened #7940 "The Points in Plot doesn't work (Python)"
try code
[code]
we don't see any Point element
![image](https://user-images.githubusercontent.com/17744188/51741271-87b62800-20a7-11e9-85fa-a488047bd9c7.png)

expected result:
![image](https://user-images.githubusercontent.com/17744188/51741713-c39dbd00-20a8-11e9-8950-d4aa8bc568a6.png)

[2019-01-25 11:04] EfimovVladimir opened #7941 "The TimePlot doesn't work (Python)"
see http://localhost:8888/notebooks/test/ipynb/python/PlotPythonTest.ipynb
cell with TimePlot (milliseconds)
![image](https://user-images.githubusercontent.com/17744188/51742115-df559300-20a9-11e9-9c03-5b4ec2045cf9.png)
cell with TimePlot (nanoseconds)
![image](https://user-images.githubusercontent.com/17744188/51742205-20e63e00-20aa-11e9-8ee9-cafc2124160d.png)

[2019-01-25 11:05] EfimovVladimir commented on #7941
#7940

[2019-01-25 15:34] #7863 closed, assigned to piorek

[2019-01-25 15:34] #7703 closed, assigned to piorek

[2019-01-25 15:34] #7690 closed, assigned to piorek

[2019-01-28 13:10] piorek commented on #7937
![image](https://user-images.githubusercontent.com/743617/51838331-44a5c000-2306-11e9-9202-f2af258b85a7.png)
@EfimovVladimir @LeeTZ cannot reproduce this

[2019-01-28 13:19] piorek commented on #7938
![image](https://user-images.githubusercontent.com/743617/51838799-b29eb700-2307-11e9-8f2a-6c90108f386d.png)
@EfimovVladimir @LeeTZ Works for me

[2019-01-28 13:23] piorek commented on #7939
![image](https://user-images.githubusercontent.com/743617/51839027-4a040a00-2308-11e9-8c77-3ec50d497922.png)
@LeeTZ @EfimovVladimir Works 4 me

[2019-01-28 13:27] piorek commented on #7940
![image](https://user-images.githubusercontent.com/743617/51839169-c4cd2500-2308-11e9-8dbb-9779391b7967.png)
@LeeTZ @EfimovVladimir cannot reproduce it

[2019-01-28 13:48] piorek commented on #7941
@EfimovVladimir @LeeTZ Reproduced.

It looks like data that I'm getting from python is different than data in groovy.
In groovy shape property for a point is "rect"
In python it's "7"

[2019-01-28 13:54] EfimovVladimir commented on #7937
@piorek
console log on browser:
![image](https://user-images.githubusercontent.com/17744188/51840436-26978a00-231d-11e9-8059-bae3782562e3.png)

[2019-01-28 14:06] EfimovVladimir commented on #7940
@piorek
console log on browser
![image](https://user-images.githubusercontent.com/17744188/51841152-fa7d0880-231e-11e9-95bf-16d6d707f60c.png)

[2019-01-29 09:42] EfimovVladimir commented on #7941
see this [code](https://github.com/twosigma/beakerx/pull/7931/files#diff-841395705044869a1d14027b3062e487R171)
using Enum.name is fixed the bug

[2019-01-29 14:37] piorek commented on #7935
@EfimovVladimir @LeeTZ https://github.com/twosigma/beakerx/commit/f460b909b3e04629b262610fa3b4dbbd28b87d1b fixes this but someone with more knowledge about python should look at this

[2019-01-30 08:30] #7935 closed, assigned to jaroslawmalekcodete

[2019-01-30 08:31] #7937 closed, assigned to piorek

[2019-01-30 08:32] #7938 closed, assigned to piorek

[2019-01-30 08:32] #7939 closed, assigned to piorek

[2019-01-30 08:32] #7940 closed, assigned to piorek

[2019-01-30 08:33] #7941 closed, assigned to piorek, jaroslawmalekcodete

[2019-01-30 10:15] EfimovVladimir opened #7945 "wrong type of data (Table API)"
see http://localhost:8888/notebooks/doc/groovy/TableAPI.ipynb
![image](https://user-images.githubusercontent.com/17744188/51973686-3c2cc100-248f-11e9-9915-282fd508b19f.png)

see the file with data  ../resources/data/interest-rates.csv
there are

Why the column "y30" has type `string` but another columns ("m3", "y1" etc) have type `double`?
I would expected for "7.8981" and "8.2586" the same type o

[2019-01-30 10:34] EfimovVladimir commented on #7945
This bug is for Groovy kernel
Python kernel doesn't have this problem

[2019-01-30 11:24] EfimovVladimir opened #7946 "duplicate of index column"
Does we need every time when we download table add new index column?
see http://localhost:8888/notebooks/doc/python/TableAPI.ipynb
Let say you have table and you format and save it.
![image](https://user-images.githubusercontent.com/17744188/51977716-320fc000-2499-11e9-9f18-e76006c96868.png)

Then you display that new table.
The new table will have duplicate for `index` column
![image](https://use

[2019-01-30 12:07] EfimovVladimir opened #7947 "java.lang.ArrayIndexOutOfBoundsException (Groovy table)"
try to use file ../resources/data/interest-rates-small.csv
http://localhost:8888/notebooks/doc/groovy/TableAPI.ipynb
for groovy kernel we get error
![image](https://user-images.githubusercontent.com/17744188/51980129-2b387b80-24a0-11e9-93b8-a89114057511.png)

http://localhost:8888/notebooks/doc/python/TableAPI.ipynb
for python all works fine
![image](https://user-images.githubusercontent.com/17744

[2019-01-30 13:55] piorek opened #7949 "Add unit test for python enum problems"
We recently introduced errors like
#7937, #7938, #7939, #7940, #7941
we should at least have tests for ObjectEncoder from https://github.com/twosigma/beakerx/blob/master/beakerx/beakerx/utils.py

[2019-01-30 14:13] jaroslawmalekcodete commented on #7933
look at an example ``` http://localhost:8888/notebooks/test/ipynb/java/stdin.ipynb ```

[2019-01-31 13:37] jaroslawmalekcodete commented on #7932
now the date are equal but In python we need use
[code]
![tabledisplaytimecolumn](https://user-images.githubusercontent.com/21952713/52057376-238eda80-2565-11e9-92fa-5f3bd42e12f4.png)

the difference between csv and groovy/python is related with how we interpret date, maybe it is time to change it.

[2019-02-01 11:35] EfimovVladimir opened #7953 "setColumnFrozenRight() method doesn't work"
try http://localhost:8888/notebooks/doc/python/TableAPI.ipynb
we can drag and drop frozen column
![image](https://user-images.githubusercontent.com/17744188/52120690-2b668180-262e-11e9-8830-2d5276dbd154.png)
as result the frozen column will be on another place
![image](https://user-images.githubusercontent.com/17744188/52120648-02de8780-262e-11e9-9e86-84271923ea22.png)

[2019-02-02 06:09] benmccann opened #7955 "How to publish output to nbviewer"
I'm not sure if this is a beakerx issue, but was hoping you might have a pointer for me even if it's not. This might be something good to add to the documentation if it's possible

I've been maintaining an [example of using beakerx with tablesaw](https://github.com/twosigma/beakerx/blob/71ad7d33588ab85c7b9e261713ef76473a27dc12/doc/groovy/Tablesaw.ipynb). We've always checked in these documentation

[2019-02-02 08:00] benmccann commented on #7955
Nevermind. Found it: https://ipywidgets.readthedocs.io/en/stable/embedding.html

[2019-02-02 08:00] #7955 closed, assigned to nobody

[2019-02-04 03:22] prusswan opened #7956 "syntax error in CSVTest.java:92"
Method body is not closed properly, causing compilation to fail

[2019-02-04 14:33] #7956 closed, assigned to nobody

[2019-02-05 12:08] EfimovVladimir opened #7958 "table setRowFilter() method doesn't work (Python, Groovy)"
let see http://localhost:8888/notebooks/doc/python/TableAPI.ipynb

![image](https://user-images.githubusercontent.com/17744188/52272168-f7090300-2956-11e9-9d85-e2cfa2f86bdf.png)

http://localhost:8888/notebooks/doc/groovy/TableAPI.ipynb
![image](https://user-images.githubusercontent.com/17744188/52272399-bc539a80-2957-11e9-9c78-355e288dd819.png)

[2019-02-07 04:55] Hubbitus opened #7959 "Start 1.3.0: socket.gaierror: [Errno -2] Name or service not known"
[code]

[2019-02-07 04:59] Hubbitus commented on #7959
And what also interesting your [`latest` tag](https://hub.docker.com/r/beakerx/beakerx/tags) does not point on version `1.3.0` released 2 months ago, but `latest` has 7 months age. Is it intentional?

[2019-02-07 06:14] Hubbitus commented on #7959
If someone interested, I use workaround for now (`docker-compose.yml`):
[code]

[2019-02-07 12:26] Hubbitus opened #7960 "Autotranslation %%javascript: ReferenceError: beakerx is not defined"
Try [GeneralAutotranslation.ipynb](https://mybinder.org/v2/gh/twosigma/beakerx/1.3.0?filepath=doc/groovy/GeneralAutotranslation.ipynb) feature. Most examples works except `javascript` one. I got error:
[code]
![image](https://user-images.githubusercontent.com/720349/52411109-a1199400-2aeb-11e9-9588-75109187a6fd.png)

In JavaScript console:
[code]

What interesting, if in binder directly run [doc/g

[2019-02-07 22:37] Hubbitus commented on #2687
Sorry, I also do not see groovy auto-completion in `beakerx` version 1.3.0. But I allo do not see tag 1.4.0 in that repository, nor docker containers with that number.

Could you please say which settings I should check to enable it?

[2019-02-08 06:58] ghost commented on #7933
Just a quick comment - this would be very valuable for using BeakerX to help teach a Java course. Any progress on getting Scanner to work? If stdin is working, are there any examples to demonstrate? Finally, is there anything beyond "conda update -c conda-forge beakerx" to get the new version?

[2019-02-08 08:44] benmccann commented on #5428
I'm curious if this is something that might be prioritized soon since Conda has added Java 9 support now

[2019-02-08 16:38] ghost commented on #7933
Quick question: I looked through the 'handle stdin' commit and found stdin.ipynb. Last night I updated JupyterHub and BeakerX on my server. Today I tried the example "stdin.ipynb" and it does not work i.e. does not pause for keyboard input and shows error instead:ERROR: java.util.NoSuchElementException: No line found.
How do I obtain or enable this patch?

[2019-02-09 00:12] #7947 closed, assigned to jaroslawmalekcodete

[2019-02-10 18:36] dclong opened #7961 "Upgrade sqlite-jdbc to the latest version"
Currently sqlite-jdbc 3.21.0 is used which misses some import features.

[2019-02-11 07:27] jizhilong opened #7962 "any plan for upgrading to groovy 2.5.x?"
Hi,
   I noticed the groovy version has stayed at 2.4.3 for a long time(since the last upgrade at #1624), and groovy has evolved a lot,  the latest stable branch is 2.5.x,  so is there any plan for beakerx to upgrade to groovy 2.5?

[2019-02-12 22:18] bn2302 opened #7964 "Scala kernel fails executing lambda functions in Spark client mode on Kubernetes"
When running spark 2.4.0 in client mode on Kubernetes, I can't execute lambda functions. When I run the following example:

[code]

The following exception is thrown:
[code]

Please see the Jupyter notebook for a detailed reference [link to gist](https://nbviewer.jupyter.org/gist/bn2302/4b2461dd2dcf5486b6cf6dee37393c7a )

[2019-02-13 07:33] dnk8n opened #7965 "UsageError: Cell magic `%%kernel` not found."
After installing beakerx through conda I can see the following:

[code]

I can use each of these kernels except Julia with the %%scala, %javascript, etc commands.

As you can see in the screenshot, %%kernel is not found as a cell magic.

I unfortunately do need Julia 0.6.4 since the libraries I require depend on it.

I am running in a Docker container ([Dockerfile here](https://github.com/HIVDiver

[2019-02-13 11:45] geoHeil opened #7966 "How to overwrite maven central resolver"
How can I overwrite the central maven resolver

trying to execute
`%classpath config resolver repository.central https://repository.my.corp.com/repository/myRepo
`
does not seem to do the trick.

I need to overwrite the central resolver to a corporate proxy repository!

Also can I turn up the log level to debug this, i.e. see the URLs it tires to connect to?

# edit
Neither `central` nor `central-

[2019-02-14 06:06] geoHeil opened #7968 "Install via Conda but without JDK11"
Installing via:
`conda install -c conda-forge ipywidgets beakerx` as mentioned http://beakerx.com results in a JDK 11 being installed to this specific environment.

This is causing 2 problems for me:
- I am developing with spark and it only supports JDK8
- in a corporate environment with custom certificates the Conda installed JDK is using a different keystone than the IT managed JDK8 installation

[2019-02-15 01:15] lakemove commented on #7968
I am running beakerx-1.3.0 in corporate env also, beakerx auto select my jdk8 from env(JAVA_HOME and $PATH).

[2019-02-15 01:33] lakemove commented on #7966
config resolver is line magic, remove one `%` from your `%%classpath` should work

[2019-02-15 08:36] geoHeil commented on #7968
@lakemove did you manually set your PATH / JAVA_HOME after Conda's overwrites? In my case Conda is overwriting it.

[2019-02-15 08:38] geoHeil commented on #7966
sorry this was a typo. I was trying with a single `%`. But I just realised it might be related to https://github.com/twosigma/beakerx/issues/7968

When the Conda environment for beakerX is active, a different JDK without the corporate keystone is used.

[2019-02-15 09:01] geoHeil commented on #7968
Temporary workaround is to

in:
`~/.conda/envs/<<my_env>>/etc/conda/activate.d/openjdk_activate.sh
`
disable:

`#export JAVA_HOME=$CONDA_PREFIX
`
and set

`export PATH=$JAVA_HOME/bin:$PATH`

now I can again use the IT managed JDK installation.

[2019-02-15 09:01] #7968 closed, assigned to nobody

[2019-02-15 09:02] geoHeil commented on #7966
@lakemove I just got the JDK fixed (see the last comment). The problem persists even with JDK8 with proper keystore. Is BeakerX reading it from `JAVA_HOME`?

In any case is there a way tu turn up the log level of the jar-resolution-process? I.e. it would be great to see which URLs it is trying to access.

[2019-02-15 09:21] geoHeil opened #7970 "fail to start spark session on beakerX in yarn client mode"
In the local shell a:
[code]
works just fine.

However, when trying to start via beakerX:
`val spark = Saprksession.builder.appName("foo").master("yarn").config("spark.submit.deployMode", "client").getOrCreate()`

fails with a timeout:

[code]

## edit
I am running on a HDP 2.6.4 cluster. Would I need to pass some of the yarn/hadoop/hive/spark site-xml manually to BeakerX?
Currently, I add all the

[2019-02-15 18:37] bn2302 commented on #7964
The Apache Toree and Spylon kernel of the [jupyter-all-spark-notebook](https://jupyter-docker-stacks.readthedocs.io/en/latest/using/selecting.html#jupyter-all-spark-notebook) are working.

Also, I rebuild and deployed Spark using the azul zulu-openjdk 8u192, to have the same runtime on the executors and Scala kernel, but no success.

[2019-02-18 10:26] lukas-kairevicius opened #7971 "Return date with milliseconds in header"
We use the [message headers' `date`](https://github.com/twosigma/beakerx/blob/60a0bdc6f31802fc6570165536e2a539cd1ed317/kernel/base/src/main/java/com/twosigma/beakerx/message/Message.java#L44) field to determine how long it took for a cell to execute.

Because the timestamp is generated with a resolution of [minutes](https://github.com/twosigma/beakerx/blob/1ecc9385dfe161ab8fe697dcc7996c1235cfa7a4/

[2019-02-18 15:00] jaroslawmalekcodete commented on #7958
it is duplication of https://github.com/twosigma/beakerx/issues/7925

[2019-02-19 14:34] jaroslawmalekcodete commented on #7958
it can be closed because of #7925

[2019-02-20 09:08] #7926 closed, assigned to piorek

[2019-02-20 09:17] #7738 closed, assigned to nobody

[2019-02-20 09:26] #7383 closed, assigned to piorek

[2019-02-20 09:39] EfimovVladimir opened #7974 "error in JavaScript for nanoPlot (Lab, Python)"
See http://localhost:8888/notebooks/doc/python/PlotJSAPI.ipynb notebook
code for nanoPlot doesn't work and displays the message: "Big is not defined - please check console"
![image](https://user-images.githubusercontent.com/17744188/53081387-d2428d00-350b-11e9-9cca-7c6ad1a0d519.png)

[2019-02-20 10:01] EfimovVladimir opened #7975 "content is placed over the Plot border (javaScript)"
See http://localhost:8888/notebooks/doc/python/PlotJSAPI.ipynb notebook
Try to **move** the content of Plot. We can see that the content is placed over the border of Plot.
![image](https://user-images.githubusercontent.com/17744188/53083232-8abe0000-350f-11e9-8b60-875690175f88.png)

[2019-02-20 10:33] EfimovVladimir opened #7976 "Uncaught Error: cannot call methods on resizable prior to initialization (javaScript)"
See http://localhost:8888/notebooks/doc/python/PlotJSAPI.ipynb notebook.
Try the cell with `US Treasuries`
The Plot is displayed not correctly:
![image](https://user-images.githubusercontent.com/17744188/53085417-e5595b00-3513-11e9-812b-6d228f975400.png)

error on console:
 **Uncaught Error: cannot call methods on resizable prior to initialization; attempted to call method 'option'**
    at Functi

[2019-02-20 11:32] tschm opened #7977 "conda clean?"
I wonder whether it might be a good idea to include in your Dockerfile(s):

USER root
RUN conda clean -y --all
USER ${NB_USER}

This deletes 523 MB of tar.bz2 files....

Fantastic product.
Thank you for sharing this...

[2019-02-20 11:36] tschm opened #7979 "pip support?"
It would be helpful to update the outdated version of pip in your Images:

RUN pip install --no-cache-dir --upgrade pip

Also I wonder what's the best way to install the private repositories we are using here. Currently I run
COPY requirements.txt requirements.txt
RUN pip install --no-cache-dir  --target "/opt/conda/envs/beakerx/lib/python3.6/site-packages" -r requirements.txt && rm requirements.t

[2019-02-20 14:11] EfimovVladimir opened #7981 "Menu doesn't work (LevelsOfDetails feature)"
See http://localhost:8888/notebooks/doc/groovy/LevelsOfDetails.ipynb notebook
We can't change the displaying type from `river` to another.
![image](https://user-images.githubusercontent.com/17744188/53097124-c49ffe00-3531-11e9-9341-484783f9f46e.png)

[2019-02-20 14:29] piorek commented on #7974
@EfimovVladimir  look here: https://github.com/twosigma/beakerx/blob/master/doc/javascript/usingExternalLibs.ipynb

[2019-02-21 12:18] EfimovVladimir commented on #7974
@piorek thanks, it helps

[2019-02-22 08:50] EfimovVladimir commented on #7974
hm, it works only on jupyter notebook, not on JupyterLab

[2019-02-22 15:25] yingbo opened #7984 "Pandas table doesn't show correctly in tabbed output container"
Language is Python. Just run the example notebook https://nbviewer.jupyter.org/github/twosigma/beakerx/blob/master/doc/python/OutputContainers.ipynb

Unless the table is the first tab, the size of the table is just too small.

![tabbed output container](https://user-images.githubusercontent.com/109221/53252079-23798a80-368c-11e9-9a16-e8427e376a24.png)

[2019-02-26 14:20] EfimovVladimir commented on #7946
for groovy kernel, the `index` column is added to 5 position
![image](https://user-images.githubusercontent.com/17744188/53419303-abdc9000-39ea-11e9-9759-b7fc0a30028c.png)

[2019-02-26 23:53] ghost commented on #7933
Just tried keyboard input using the Xeus cling (C++) kernel. It works in a way that is exactly what I'd love to see in BeakerX - Java. Here's the example program. It puts up a small box and waits for user input...
(note: Xeus-cling doesn't like 'main' outside C++ classes, so I commented that out).

#include <iostream>
using namespace std;
//int main() {
    char name[64];
    cout << "Please enter

[2019-02-27 06:19] piorek commented on #7974
@EfimovVladimir looks like you added only first of the two needed.
It is not needed in classical notebok because Big.js is already in global scope.

[code]

[code]

[2019-02-27 13:27] #7925 closed, assigned to piorek

[2019-02-27 13:27] #7958 closed, assigned to LeeTZ

[2019-02-28 08:41] EfimovVladimir opened #7985 "The command 'println' doesn't work for Scala and Clojure"
When we use `println` it will output into console
Let see http://localhost:8888/notebooks/doc/scala/Scala.ipynb
![image](https://user-images.githubusercontent.com/17744188/53552771-2f15f700-3b4d-11e9-814d-ead5d06f3ca3.png)
![image](https://user-images.githubusercontent.com/17744188/53552833-55d42d80-3b4d-11e9-9e75-ad40fd400bb2.png)

The same for clojure http://localhost:8888/notebooks/doc/clojure/

[2019-03-03 23:16] Mjboothaus opened #7988 "ConstantLine( ) doesn't appear to work with date values within TimePlot( )"
Thanks for the BeakerX package - very nice!

In a Jupyter notebook (in Python/pandas) I am trying to plot a constant line on a `TimePlot()` and it doesn't seem to recognise the date as a date - it is not clear to me how it is being handled. If I just plot a two point series/dataframe to replicate a constant (vertical) line it works fine - but passing in the `x=DateValue` doesn't. I will create a s

[2019-03-04 01:16] Mjboothaus commented on #7988
Here is my example (Python) notebook -- I believe this is also an issue with `ConstantBand()`
[TimePlot_ConstantLine_Error.ipynb.zip](https://github.com/twosigma/beakerx/files/2923959/TimePlot_ConstantLine_Error.ipynb.zip)

[2019-03-04 22:09] LeeTZ commented on #7962
Good point, we are working on that now.

[2019-03-04 22:25] #7971 closed, assigned to LeeTZ

[2019-03-05 11:47] EfimovVladimir opened #7991 "Table Action details for Scala"
Can we add Table Action `details` for Scala as we already use it on Groovy and Python

for example http://localhost:8888/notebooks/doc/python/TableAPI.ipynb
![image](https://user-images.githubusercontent.com/17744188/53802610-3ffea800-3f53-11e9-9a43-73e0e6d4395b.png)

but for http://localhost:8888/notebooks/doc/scala/TableAPI.ipynb it's error
![image](https://user-images.githubusercontent.com/1774

[2019-03-06 08:12] EfimovVladimir commented on #7946
Our decision for this issue:
1. don't adding new column when save table to csv file.
2. don't use own label for `index` column (i.e. the same as pandas).
3. if there is `index` in csv its normal column

[2019-03-06 12:27] jaroslawmalekcodete commented on #7964
`%%spark` magic command allows to run spark tasks on beakerx.
The "--noUI" option allows to run spark tasks without SparkUI
![kubernetes](https://user-images.githubusercontent.com/21952713/53881250-74399d80-4013-11e9-9ad6-5803336bee3f.png)

[2019-03-06 13:22] jaroslawmalekcodete commented on #7946
I think this issue is only about 1st point, it fixes problem with duplicate index.
I suggest to create new issue for 2nd and 3rd point, because the issue won't fix a bug but provide similar behaviour like in pandas view

[2019-03-06 13:31] jaroslawmalekcodete opened #7993 "Upgrade gradle version"
https://gradle.org/releases/

[2019-03-06 13:42] EfimovVladimir opened #7994 "pandas behavior for `index` column"
1. don't adding new column when save table to csv file.  - [#7946 ](https://github.com/twosigma/beakerx/issues/7946)

2. don't use own label for index column (i.e. the same as pandas).
3. if there is index in csv its normal column.

[2019-03-06 13:44] EfimovVladimir commented on #7946
[issue #7994](https://github.com/twosigma/beakerx/issues/7994) for 2nd and 3rd  points

[2019-03-06 13:50] EfimovVladimir commented on #7964
was tested: spark as with --noUI option as with usual UI works fine

[2019-03-07 13:07] jaroslawmalekcodete opened #7998 "docker run "ValueError: '' does not appear to be an IPv4 or IPv6 addres""
[code]

[2019-03-08 10:21] smduarte opened #7999 "Java annotations"
Java kernel does not support Java annotations right before class or interface declarations.

Class Codev.java

public Codev(String code, JavaEvaluator javaEvaluator) {
    this.code = code;
    this.lines = code.split("\n");
    this.javaEvaluator = javaEvaluator;
    this.pname = configurePackage();
    configureImports();
    //eg., some logic should be here to allow for @annotations
  }

[2019-03-08 13:15] tschm opened #8001 "Plotting a long time series"
I am running your docker container and Python.
I construct the following time series and empty plot:
[code]
If I do p.add(Line(x)) I somewhat see the first few years of the data. If I do p.add(Area(x)) the system won't display anything...
I assume it's my job to resample the series and make it shorter?

[2019-03-08 22:46] ktaletsk opened #8002 "Cannot install or build Docker image"
Looks like this line is causing error    https://github.com/twosigma/beakerx/blob/fabee2856ef04acb512e8d4e1b8c3eb31767f13c/beakerx/beakerx/handlers.py#L34

The error message from Conda is:
[code]

Looks like `tornado` had a new release since `beakerx` was last released. I dig around in the current container from Dockerhub and it has a different version of `tornado` (5.0.2) from what conda is tryin

[2019-03-11 05:44] jizhilong commented on #7962
that's awesome, thanks.

[2019-03-11 21:42] tschm opened #8003 "Installing Beakerx in a Juptyer image"
I am trying to install Beakerx via conda in a Docker image based on the Jupyter base-notebook image.
I have compiled the following Dockerfile for it:

[code]
This seems to build and runs happily. I can use the TableDisplay and create simple plots. However, as soon as I try this trivial example:

[code]

I get no output unless I comment the last line! The error message I receive when running the Ju

[2019-03-11 23:34] Mjboothaus commented on #8003
Hi - the ConstantLine() method doesn’t work with time stamps- see the issue I have reported. The documentation on this is a bit opaque.

Currently you need to convert it to a Unix seconds since 1970 to work.

As to your broader question about BeakerX install - I’ll leave to others :) cheers!

[2019-03-11 23:36] Mjboothaus commented on #8003
ConstantLine( ) doesn't appear to work with date values within TimePlot( ) #7988

[2019-03-12 09:48] tcombes1 opened #8005 "Adding your own data listings to the data browser"
Hi all,

This is purely a question of where to begin, but is there any documentation for how to add / remove listings of datasets from the data browser in a light touch way, preferably without branching the code? It's a  useful tool, and would like to use the feature to display listings of other data that I'm working with if possible.

Appreciate any guidance on this.

[2019-03-12 10:56] tschm commented on #8003
I have not dogged very deep yet. The ConstantLine works with pd.Timestamp but not Dates in the BeakerX docker image. Have you tried experimenting with it in the Binder environment?

[2019-03-13 02:05] #7993 closed, assigned to LeeTZ

[2019-03-13 02:06] #7998 closed, assigned to LeeTZ

[2019-03-13 02:06] #7962 closed, assigned to LeeTZ

[2019-03-13 02:06] #7964 closed, assigned to LeeTZ

[2019-03-13 02:06] #7949 closed, assigned to LeeTZ

[2019-03-13 02:07] #7960 closed, assigned to LeeTZ

[2019-03-13 02:07] #7946 closed, assigned to LeeTZ

[2019-03-13 02:07] #7933 closed, assigned to LeeTZ

[2019-03-13 02:08] #7932 closed, assigned to LeeTZ

[2019-03-13 02:08] #7924 closed, assigned to LeeTZ

[2019-03-13 03:07] #7879 closed, assigned to LeeTZ

[2019-03-13 07:58] dclong commented on #8002
I encounter the same issue building my own docker image for beakerx.

[2019-03-13 09:23] tschm opened #8006 "Problems in Dockerfile?"
Hi,
I keep playing with your Dockerfile and I wonder whether it would make sense to:

Extend the Path variable as in:
`ENV PATH /opt/conda/envs/beakerx/bin:$PATH`
This would make sure that when running pip it's the one installed in beakerx environment and therefore accessible by the beakerx user. Otherwise the user has to specify this path or define a target when using pip

I have noted that the f

[2019-03-13 09:23] tschm commented on #7977
Nonsense :-)

[2019-03-13 09:23] #7977 closed, assigned to nobody

[2019-03-13 11:29] #7979 closed, assigned to nobody

[2019-03-14 03:09] LeeTZ commented on #8002
Thanks for reporting, we are updating our code to stand with tornado 6.0.  It should come out soon.

[2019-03-14 13:13] EfimovVladimir opened #8009 "Error on console (Scala Spark)"
see http://localhost:8888/notebooks/doc/scala/SparkUI.ipynb
![image](https://user-images.githubusercontent.com/17744188/54359495-d168cb00-4673-11e9-82a9-4c59f5ff8f48.png)
When we run or stop Spark session then on console appears error message:
[code]

[2019-03-14 14:36] tschm opened #8010 "DoubleClickAction on a prefiltered TableDisplay"
Ok, I am playing with the TableDisplay as described in your Python Table API:

[code]
This works like a charm. However, if I restrict the rows displayed by searching for a particular substring it all falls over. row and column still refer to the full display, e.g. let's say I only display the row with Index 2. Beakerx assumes I have clicked on row 0 and will apply the maths to this row rather than

[2019-03-15 10:52] EfimovVladimir opened #8011 "No connection to kernel"
To reproduce this error: build new environment, install beakerx by our instruction, run jupyter notebook, open any notebook.
The result no any kernels will works.
![image](https://user-images.githubusercontent.com/17744188/54426120-1cdcb100-4728-11e9-9fb2-0277425b3d07.png)

browser console:
![image](https://user-images.githubusercontent.com/17744188/54426311-88268300-4728-11e9-8b83-4261abad410d.pn

[2019-03-15 11:31] EfimovVladimir commented on #8011
looks like the problem is on 5.7.4 version of notebook.

Issue was fixed after I downgraded notebook to version 5.7.2
`conda install notebook=5.7.2`

[2019-03-15 13:40] jaroslawmalekcodete commented on #8011
related with https://github.com/twosigma/beakerx/issues/8009
working on it

[2019-03-20 12:33] kalkolab commented on #7970
I solved this problem with
`%classpath add dynamic "/etc/hadoop/conf/"`

[2019-03-20 12:39] kalkolab opened #8013 "Spark dataframe.display() not showing array columns correctly"
I have a Spark dataframe with ArrayType(StringType) fields, trying to display it with df.display() call, but the arrays are not printed correctly.
Example:

    import spark.implicits._
    import org.apache.spark.sql.functions._
    val df = Seq("en,fr,de", "en,fr", "ru,ua", "en,ru").toDF("languages")
    df.withColumn("langArray", split(col("languages"), ",")).display(4)

Result looks like:

ind

[2019-03-22 20:37] dclong opened #8014 "Cannot start Python kernel after install beakerx"
I have a base image of JupyterHub which works well but after adding another layer with beakerx I cannot start kernels any more. Below is the detailed log. There still seems to be some tornado related issues.
[code]

[2019-03-22 22:57] feribg opened #8015 "Vertical lines on TimePlot broken in python"
The following code and variations of it produce a blank chart

[code]

If I switch to using nanoseconds as keys instead of Timestamp then it works as expected.
I'm attaching a couple of  screenshots of  the chart and the log with the error. I'm not even sure how to  get to the backend log of beakerX in order to see what's the root exception, any  direction would be very helpful.

<img width="1098"

[2019-03-23 01:05] sterlinm commented on #8005
I'm also looking for information on this!

[2019-03-24 15:59] benmccann commented on #7876
This generally works. I'm guessing that Quandl was having a temporary outage. Can you try again?

[2019-03-24 16:06] benmccann opened #8016 "groovy join overrides Tablesaw join method"
The following code fails:

[code]

The error is:

This is strange `Table.join(String)` returns a `DataFrameJoiner`: http://www.javadoc.io/doc/tech.tablesaw/tablesaw-core/0.32.6

I think what's happening is that `Table` is an `Iterable<Row>` so maybe Groovy is picking up [its own join method](http://docs.groovy-lang.org/latest/html/groovy-jdk/java/lang/Iterable.html).

Where it gets really strange

[2019-03-24 16:28] benmccann commented on #7876
Also of note, Quandl4j 2.0.0 doesn't give great error messages. I've fixed that in master, but am waiting for the next release to be cut: https://github.com/jimmoores/quandl4j/commit/c4067f6f079a01b38058f8f394df71e05d1b65c9

[2019-03-24 18:43] benmccann commented on #5428
https://github.com/SpencerPark/IJava uses JShell and is MIT licensed in case it is helpful to have an example of another JShell kernel

[2019-03-25 15:21] tschm commented on #8015
I guess you have installed beakerx via pip rather than using the beakerx Docker container. Using Docker this works without problems. Just try docker run -p 8888:8888 beakerx/beakerx and run your code in a notebook. It will work. I had the same issue you have observed while trying to install beakerx in a container from the Jupyter family...

[2019-03-25 15:24] feribg commented on #8015
That's surprising, I installed it via conda actually and using it in jupyter lab. Sadly docker is a no go for me. Do you know the root cause for this and what would be the difference between the docker version and the conda version. Could it also be because of using jupyter lab instead of notebook.

[2019-03-25 15:30] tschm commented on #8015
Yes, I tried with conda into a Jupyter container, too. Won't work either. I don't know enough about JavaScript to drill into such isssues. I stick to the Docker container. Do yourself a favor :-) You have Jupyter in the beaker container :-) It's much easier using their prebuilt Docker containers...

[2019-03-25 15:32] tschm commented on #8015
You may want to check #8003 :-)

[2019-03-25 15:42] feribg commented on #8015
Just out of curiousity whats the jupyter lab and beakerX version you see reported in your docker image? I have a feeling it's a version issue not so much an environment thing, because I had a peak at the Dockerfile and env setup and nothing stands out, it's basically a conda install of beakerx, ipywidget and jupyter, pretty much what i'm doing.

The workaround in the ticket works, using integers,

[2019-03-25 16:15] tschm commented on #8015
Here's my conda list within the container:
[code]

[2019-03-26 08:11] jaroslawmalekcodete commented on #8011
fixed in 8009

[2019-03-26 19:22] feribg commented on #8015
Your version of beakerx is 1.0.0 and mine from conda is 1.3.0, that seems like a meaningful difference.

[2019-03-27 04:16] dclong opened #8020 "Possible classpath issue for Groovy"
The code example below doesn't work in the Groovy kernel but it works well in the Scala kernel.

![image](https://user-images.githubusercontent.com/824507/55050127-62dd2300-500c-11e9-8f68-15bd32aeb3bb.png)

[2019-03-27 09:10] #8009 closed, assigned to LeeTZ

[2019-03-27 09:11] #8011 closed, assigned to LeeTZ

[2019-03-27 14:01] tschm commented on #8015
Yes, that's certainly an issue. Using the beakerx docker container also comes with a lot of extra excitement. For example if you try to install matplotlib or scipy or ... via conda, conda will update tornado and break the entire setup by doing so. beakerx 1.0.0 won't work with tornado 6. At the moment I rely on the beakerx container and stick to pip install for further packages. Dependency hell al

[2019-03-27 14:14] #7985 closed, assigned to LeeTZ

[2019-03-27 14:18] LeeTZ commented on #8014
Hey are you installing from the dev repo or the latest release?  Haven't looked closely but It could be a tornado issue that we recently addressed but haven't released yet. Can you try tornado<6.0.0 with beakerx?

[2019-03-27 14:22] LeeTZ commented on #8010
Thanks for report, we haven't taken care of this case. Will fix.

[2019-03-27 14:24] LeeTZ commented on #8015
I can reproduce the bug. We will take a look. And also the docker image beakerx:latest will be updated with the tornado fix so latest beakerx would stand with tornado peacefully. Thank you all for report!

[2019-03-27 19:24] dclong commented on #8014
@LeeTZ I confirm that downgrading to Tornado 5.1.1 fix the issue.

[2019-03-29 10:15] piorek commented on #7976
@EfimovVladimir @LeeTZ see cell in which data is defined

![image](https://user-images.githubusercontent.com/743617/55225600-49f28e80-5213-11e9-941b-697576d43a30.png)

input data in rates ends on 1998-04-30T00:00:00.000Z

so displayed Plot is correct

[2019-03-30 16:31] scientific-coder opened #8022 "Missing required dependencies ['numpy'] trying to run beakerx with binder"
Hi,
I have a BeakerX notebook that used to work perfectly fine on mybinder.org but is now broken at build time :

  File "/srv/conda/bin/beakerx", line 7, in <module>
    from beakerx import run
  File "/srv/conda/lib/python3.7/site-packages/beakerx/__init__.py", line 15, in <module>
    from .plot import *
  File "/srv/conda/lib/python3.7/site-packages/beakerx/plot/__init__.py", line 15, in <modu

[2019-04-02 13:50] JohnOmernik opened #8024 "After restarting Kernel, charts display, but dataframe table output does not: Error creating widget: could not find model"
When looking at a notebook that has been run in the past, charts/graphs display properly, however, the tables with the dataframes output do not.  Ideally, it would be nice if even coming from a notebook server restart, if a notebook file is loaded, that all of the output would be preserved as if it were freshly ran. The idea here is the data is old, but it would be nice to still be able to sort et

[2019-04-03 00:52] tuh8888 opened #8025 "Syntax highlighting not working"
I'm using the Clojure kernel. After the first cell, none of the other cells get syntax highlighting.

[2019-04-03 09:36] EfimovVladimir commented on #8025
Could you check the type of column for which you added highlighting. Looks like that for `number` type it's not working. For `double` and `integer` types should work fine.

[2019-04-03 09:45] EfimovVladimir commented on #8025
![image](https://user-images.githubusercontent.com/17744188/55469463-3e85d580-560e-11e9-9de0-4d7e53e82a67.png)

[2019-04-03 10:03] EfimovVladimir opened #8026 "The table highlighting doesn't work for `string` and `number` types"
The default type for digits are defined as `number` type. But for `number` and `string` types the highlighting doesn't work.

Try this code on groovy:
[code]
the result is:
![image](https://user-images.githubusercontent.com/17744188/55470226-dfc15b80-560f-11e9-9a98-cc4a1fe35051.png)

[2019-04-03 10:04] EfimovVladimir commented on #8026
#8025

[2019-04-04 13:31] jaroslawmalekcodete commented on #7970
We added support for yarn in PR https://github.com/twosigma/beakerx/pull/8018
[code]
more info in **test/ipynb/scala/SparkYarn.ipynb**

[2019-04-04 21:07] ducalpha commented on #8002
This bug seems to be fixed in version 1.4.0 but `conda-forge` still has version 1.3.0 so I had to use pip to install instead ([documentation](http://beakerx.com/documentation#tutorials-and-examples)).
[code]

[2019-04-08 12:03] jaroslawmalekcodete opened #8028 "Docker build failed : python is v3.7.3, which is not supported by gyp."
gyp ERR! stack Error: Python executable "/opt/conda/envs/beakerx/bin/python" is v3.7.3, which is not supported by gyp.

[2019-04-08 14:13] jaroslawmalekcodete commented on #8028
it looks like docker build works for nodejs = 10.13.0, doesn't for 11.x.x

[2019-04-08 23:29] MInner commented on #1963
(or pass `--NotebookApp.allow_origin='*'` as a command-line augment)

[2019-04-09 08:32] #7976 closed, assigned to piorek, EfimovVladimir

[2019-04-09 08:39] EfimovVladimir opened #8029 "Combined Plot bug on JavaScript"
Try this code:
[code]
We get 4 plots instead of two.
![image](https://user-images.githubusercontent.com/17744188/55785996-112ca200-5abc-11e9-8c6f-16ca2d7549e2.png)

[2019-04-09 22:11] deeplook opened #8030 "BeakerX vs. SparkMagic?"
I have colleagues telling me that BeakerX does not compete well enough with https://github.com/jupyter-incubator/sparkmagic and that AWS and Azure are using it for that reason, giving it more industry support. Can you provide any background information on this and/or some roadmap explaining if and when BeakerX wants to close that gap?

[2019-04-10 00:32] sgloutnikov commented on #8028
Just ran into the same issue and the suggested workaround above worked--setting `nodejs=10.13.0` in `configuration.yml`.

There was also a failing test. Had to disable tests to get the docker buld to go through.

[code]

[2019-04-10 06:14] altavir opened #8031 "Windows install fails on 1.4.1"
Rerproduced on two different computers with Windows 10:
[code]
Probably something is wrong with tornado module.

[2019-04-10 07:57] EfimovVladimir commented on #8031
@altavir Could you show tornado version on your beakerx environment?
`conda list`

[2019-04-10 08:50] altavir commented on #8031
It was 5.0.2. I am trying to update it manually.

[2019-04-10 09:44] altavir commented on #8031
Seems to be working after manual tornado update.

[2019-04-10 11:10] EfimovVladimir commented on #8031
right, it's a problem with updating `tornado` package.

[2019-04-10 11:22] EfimovVladimir opened #8032 "Sync configuration on master and conda-forge"
We have the issue https://github.com/twosigma/beakerx/issues/8031, because conda configuration doesn't have instruction like `tornado>6`

We could be sync two configuration to avoid the such issues
1. config for beakerx manual installation https://github.com/twosigma/beakerx/blob/master/configuration.yml
2.  config for conda package https://github.com/conda-forge/beakerx-feedstock/blob/master/reci

[2019-04-12 06:17] jaroslawmalekcodete commented on #8020
To fix this problem we had to add[ BxDriverManager](https://github.com/twosigma/beakerx/blob/master/kernel/runtimetools/src/main/java/com/twosigma/beakerx/BxDriverManager.java) class in PR https://github.com/twosigma/beakerx/pull/8033
You can use it in the following way
`%classpath add mvn org.xerial sqlite-jdbc 3.27.2.1`
`conn = BxDriverManager.getConnection("jdbc:sqlite:sample.db");`

[2019-04-12 10:04] jaroslawmalekcodete commented on #8026
@LeeTZ  two questions how TableDisplay should work :
1. for "string column":
HeatmapHighlighter calculates highlights based on numbers as for "integer column"
so if column has type "string" shouldn't we just leave it with white background ?

2. for the code where user doesn't provide type class for row4
`new TableDisplay([row1, row2, row3, row4], colNames, ['string', 'integer', 'double'])`
shouldn

[2019-04-12 10:11] jaroslawmalekcodete commented on #8014
@LeeTZ Is it still valid ?
I think we solved the Tornado problem in the following PR https://github.com/twosigma/beakerx/pull/8012

[2019-04-12 16:09] #8014 closed, assigned to LeeTZ

[2019-04-12 16:37] dclong commented on #8020
@jaroslawmalekcodete Mind to explain a little bit on why BxDriverManager is needed? Is it due to the fact that Groovy is a scripting language?

[2019-04-12 22:03] dclong opened #8034 "Spark/Scala Issues"
1. Spark (in the Scala kernel) cannot read in parquet files (throws IllegalArgumentException)
2. DataFrame.count throws IllegalArgumentException
[code]
[code]
![image](https://user-images.githubusercontent.com/824507/56068565-2f043c00-5d34-11e9-83f0-6264d4cfb2c1.png)

![image](https://user-images.githubusercontent.com/824507/56068675-90c4a600-5d34-11e9-9893-9a9ba57af606.png)

[2019-04-16 12:10] Fristy89 commented on #7795
I would like to add MarkLogic API into beaker When wil this be available

[2019-04-16 18:07] nscozzaro opened #8037 "Uncaught TypeError: Cannot read property 'handleEvent' of null at BeakerXDataGrid.handleEvent"
Hi, when I select the "Filter by expression" option in the table drop-down-menu, all of the data gets cleared and I get the error in the JS Console:
Uncaught TypeError: Cannot read property 'handleEvent' of null  at BeakerXDataGrid.handleEvent

I'm using Chrome 73.0.3683.103

![image](https://user-images.githubusercontent.com/15185105/56233236-a3025500-6050-11e9-8c0c-e21e4645aa4b.png)

[2019-04-17 12:30] piorek commented on #8028
@LeeTZ @jaroslawmalekcodete

OK. That java error happened to me at least twice now with non docker build. I will try to reproduce it later. and provide some stack traces.

[2019-04-17 13:06] piorek commented on #8028
Failed test
**sparkImplicit**
[code]

**Standard output**
[code]

[2019-04-19 13:12] jaroslawmalekcodete commented on #8034
Hi @dclong
I created [an example](https://github.com/twosigma/beakerx/blob/jarek/8034_parquet_files/test/ipynb/scala/parquet.ipynb) in branch **jarek/8034_parquet_files** and it looks like the parquet files work well

![parquetExample](https://user-images.githubusercontent.com/21952713/56425570-30de7a00-62b5-11e9-9a64-f49a44c83583.png)

please provide your example that will allow us to reproduce i

[2019-04-22 18:01] #7739 closed, assigned to nobody

[2019-04-22 18:54] dclong commented on #8034
@jaroslawmalekcodete Thank you for taking time investigating the issue. Please follow the steps below to reproduce the issue.

1. Pull the Docker image `dclong/jupyterhub-ds`.
[code]
2. Start a container by running the following command.
[code]
3. Login to the JupyterHub server using your username on the host machine as both user name and password. For example, if you launched a container on a mac

[2019-04-23 03:43] LeeTZ commented on #8026
1. For Highlighter for string column, we will leave it with a white background if  it is typed as "string".
2. We will only highlight numerical types and ask users to provide types, if unknown.

[2019-04-23 14:31] jaroslawmalekcodete commented on #8034
Hi @dclong
It looks like your docker container uses java 11
![parquet_java_version](https://user-images.githubusercontent.com/21952713/56588664-19b8c880-65e4-11e9-8da2-0a51685e4194.png)

beakerx supports java 8 https://github.com/twosigma/beakerx/blob/master/configuration.yml#L6

from your docker container

![dockerContainerJdks](https://user-images.githubusercontent.com/21952713/56588687-23dac700

[2019-04-23 17:37] nscozzaro commented on #6667
I'm getting the following error when I try to install packages with pip after installing beakerx. The command `beakerx-install --disable` is not recognized. How can I make this error go away?

`FileNotFoundError: [Errno 2] No such file or directory: '/anaconda3/lib/python3.6/site-packages/beakerx-1.4.1.dist-info/METADATA'`

[2019-04-23 17:48] dclong commented on #8034
@jaroslawmalekcodete Thank you very much! It seems that `apt-get install openjdk-8-jdk maven gradle` installed openjdk-11-jdk in my Docker image. Install openjdk-8-jdk specifically resolves the issue.

[2019-04-23 17:48] #8034 closed, assigned to jaroslawmalekcodete

[2019-04-23 18:47] tuh8888 commented on #8025
I meant the coding cells aren't getting syntax highlighting, not the table cells.

![Screenshot from 2019-04-23 12-46-00](https://user-images.githubusercontent.com/13961671/56607466-d0f21700-65c5-11e9-81f0-0dfcd399ea51.png)

[2019-04-24 15:36] LeeTZ commented on #8026
For `new TableDisplay([row1, row2, row3, row4], colNames, ['string', 'integer', 'double'])`
We should throw exception there telling user the length of types should be same as number of rows.

[2019-04-24 15:49] #7970 closed, assigned to LeeTZ

[2019-04-25 06:44] jaroslawmalekcodete commented on #8028
The EnableSparkSupportTest was fixed https://github.com/twosigma/beakerx/pull/8042

[2019-04-25 22:50] dclong commented on #7690
@LeeTZ @piorek Can we reopen this issue? It appears again now.

[2019-04-27 21:25] mingfang commented on #7498
It took me an entire day to realize `spark.jars.packages` is not working

[2019-04-29 13:21] piorek commented on #7988
Most likely same reason as #8015

[2019-04-29 16:24] mingfang opened #8047 "Add exclusions support to classpath add mvn magic"
mvn natively supports exclusions to exclude certain artifacts from the transitive dependency graph.  It's very useful in some cases.

[2019-05-01 19:01] dclong opened #8049 "Side effect on the HoloViews library in JupyterLab"
Please refer to https://github.com/twosigma/beakerx/issues/7690 for previous discussions on this issue. The issue was gone for some time but it comes up again recently. Below are the details of my environment.

Details:
OS: Ubuntu 18.10
JupyterLab: 0.35.5 (install by pip)
BeakerX: 1.4.1 (install by pip)
HoloViews: 1.12.2 (install by pip)

$ jupyter labextension list
JupyterLab v0.35.5
Known labext

[2019-05-02 23:22] sgloutnikov commented on #8028
Confirming I was able to build the latest master with Docker. Looks fixed.

[2019-05-06 11:35] jaroslawmalekcodete commented on #7988
fixed in #8015

[2019-05-06 12:58] jaroslawmalekcodete commented on #7945
@LeeTZ
The problem is related with "NaN" value in [interest-rates.csv](https://github.com/twosigma/beakerx/blob/master/doc/resources/data/interest-rates.csv)
look at 148 line
[code]
The "NaN" value is from python world,  java doesn't have it, for java "NaN" is just a String.
The question is how we should treat such case?

Possible solutions:
1. nothing to do, because user should prepare the correc

[2019-05-06 19:31] LeeTZ commented on #7945
We will not convert NaN, or Infinity if user provides values like that.

[2019-05-06 19:31] #7945 closed, assigned to jaroslawmalekcodete

[2019-05-06 19:32] #8022 closed, assigned to LeeTZ

[2019-05-06 19:32] #8013 closed, assigned to LeeTZ

[2019-05-09 08:26] jaroslawmalekcodete commented on #8020
Hi @dclong
The problem is in [DriverManager.java](https://github.com/JetBrains/jdk8u_jdk/blob/master/src/share/classes/java/sql/DriverManager.java#L208) , the [caller](https://github.com/JetBrains/jdk8u_jdk/blob/master/src/share/classes/java/sql/DriverManager.java#L640) doesn't return our bx classloader but the groovy classloader and this is why we added [BxDriverManager.java](https://github.com/t

[2019-05-10 11:26] EfimovVladimir opened #8054 "CategoryPlot fill property (Groovy vs Python)"
`fill = false ` works on Groovy and doesn't work on python
Groovy:
[code]
![image](https://user-images.githubusercontent.com/17744188/57523946-0ff6cb00-732f-11e9-848e-cb00c3f13b98.png)

Python:
[code]
![image](https://user-images.githubusercontent.com/17744188/57524036-53e9d000-732f-11e9-8a3c-f836d9848132.png)

[2019-05-13 03:57] LeeTZ opened #8056 "Separate tabledisplay as an individual install-able extension"

[2019-05-13 12:15] piorek commented on #8037
@LeeTZ can't reproduce it.

@nscozzaro can you check if it is still happening?

[2019-05-14 13:40] kenmencher opened #8057 "BeakerX not displaying pandas tables when timestamps are columns"
I have a pandas dataframe setup as the following:

[code]

When I try to display the dataframe, nothing displays.  I see the following error in JavaScript console:

[code]

Other dataframes in the same ipynb work just fine...it's just ones with timestamps as column headers.  Using BeakerX 1.4.1.

[2019-05-15 12:21] EfimovVladimir opened #8058 "HTML format bug"
See http://localhost:8888/notebooks/doc/groovy/TableAPI.ipynb notebook
Values  are not visible on 1st and 2nd cells:
![image](https://user-images.githubusercontent.com/17744188/57775017-b7577180-7724-11e9-8fdb-456c39328318.png)

[2019-05-15 13:50] EfimovVladimir commented on #8054
Groovy:
![image](https://user-images.githubusercontent.com/17744188/57780634-4f5b5800-7731-11e9-8071-e41955b505f7.png)

Python:
![image](https://user-images.githubusercontent.com/17744188/57780716-80d42380-7731-11e9-92e4-824810ac1632.png)

[2019-05-20 08:47] EfimovVladimir commented on #8054
in this case we can use this syntax for python: `fill = [False, False] `

[2019-05-20 08:47] #8054 closed, assigned to nobody

[2019-05-21 04:54] whiteboxbatteries commented on #7766
Per https://nbviewer.jupyter.org/github/twosigma/beakerx/blob/master/doc/python/TableAPI.ipynb,
you actually want to call:
`beakerx.object.beakerx.pandas_display_default()`

[2019-05-22 02:29] gkatakou opened #8060 "Issue updating cells"
BeakerX 1.4.1

Issues when updating cells using similar code to the documentation examples notebook.

**Example 1:**

[code]
Running this code produces the following table:

![image](https://user-images.githubusercontent.com/39306971/58142420-4a932880-7c8a-11e9-95cb-e772399ab8d1.png)

Updating a cell with either of the following two code blocks:

[code]
or
[code]

produces the following result:

!

[2019-05-23 10:31] EfimovVladimir commented on #8026
@LeeTZ @jaroslawmalekcodete
I see we calculate highlighters only for `integer` and `double` types. Any another type will be cast to `string` type. At the same time the column displays name of type from parameters of TableDisplay() constructor, that not anytime is correct.

![image](https://user-images.githubusercontent.com/17744188/58246054-ca8ac280-7d5e-11e9-9a97-091fc267b1ce.png)

1. Does we nee

[2019-05-23 12:41] EfimovVladimir opened #8062 "Highlighting for full row (Python)"
Highlighting doesn't work for `time` column.
code:
[code]
result:
![image](https://user-images.githubusercontent.com/17744188/58253174-81436e80-7d70-11e9-971a-170130bb6c9a.png)

[2019-05-23 12:41] EfimovVladimir commented on #8062
#8026

[2019-05-25 16:04] Fredu7 opened #8063 "Unknown system variable 'query_cache_size'"
Hello,
I can use the beaker SQL Notebook to connect myself to a MySql Database with:
%defaultDatasource jdbc:mysql://username:@hostname/dbnameserver?Timezone=Europe/Amsterdam
But after trying a sql query "Select * from <tablename>" I get the error:
java.sql.SQLException: Unknown system variable 'query_cache_size'
Apparently it is because  the MySql Version 8 does not support 'query_cache_size' any

[2019-05-28 21:32] qqingvarqq commented on #8060
I want to attempt this one.

[2019-05-29 08:45] #7981 closed, assigned to piorek

[2019-05-29 08:53] #7975 closed, assigned to piorek

[2019-05-29 09:02] #8029 closed, assigned to piorek

[2019-06-01 15:43] benmccann commented on #8016
Got an answer on StackOverflow: https://stackoverflow.com/questions/56401713/prevent-groovydefaultmethods-join-from-shadowing-join-method-of-java-class

[2019-06-01 15:43] #8016 closed, assigned to nobody

[2019-06-01 17:17] Brett-Plemons opened #8067 "Gettiing issues while using SQL kernel and trying to display a table"
When using a SQL kernel with ipywidgets through BeakerX, i am getting an error when trying to display a table. I can pull information from the table like
[code]
I get back that specific value

but if i run

[code]

i get the error

`No renderer could be found for output. It has the following MIME types: method, application/vnd.jupyter.widget-view+json`

i checked the version with:

[code]
and get

[2019-06-03 06:04] byezy commented on #8067
Hi there! I have the same issue just trying to run the TableAPI notebook published in doc/python. I too have version 7.4.2 installed.

[2019-06-06 15:42] benmccann opened #8069 "Install instructions force old version of beakerx due to jdk pin"
When I choose to "Download All as CSV" from the table widget it adds an extra "index" column, which isn't present in my data. I like the download functionality a lot, but would prefer if it did not alter my data at all

[2019-06-06 15:45] EfimovVladimir commented on #8069
#7994

[2019-06-06 15:52] benmccann commented on #8069
https://github.com/twosigma/beakerx/commit/115439848739f96fc348c564d2a0043a90c2c828 claims to fix it in 1.4.0/1.4.1. However, it looks like I'm stuck on an old version

[code]

Why am I not being updated to the latest when following the [upgrade instructions](http://beakerx.com/documentation)?

[2019-06-06 16:20] benmccann opened #8070 "Update doesn't work"

[2019-06-06 16:20] #8070 closed, assigned to nobody

[2019-06-06 16:28] benmccann commented on #8069
I ran the full setup again
[code]

Now it's updated to beakerx 1.4.0. I'm not sure why it's still not finding 1.4.1 to update to yet
[code]

[2019-06-06 16:31] benmccann commented on #8069
I doubt I'm the only one who's stuck on 1.4.0. It looks like it's been downloaded almost half as many times as 1.4.1 despite there only being 6 hours between the two releases: https://anaconda.org/conda-forge/beakerx/files

And it looks like 1.2.x and 1.3.x have been downloaded much more than 1.4.x

[2019-06-06 16:39] benmccann opened #8071 ""conda activate" preferred over "source activate""
[The instructions](http://beakerx.com/documentation) say to use `source activate beakerx`. It seems that the preferred way is now `conda activate beakerx`

[2019-06-06 17:02] benmccann commented on #8069
`conda search -c conda-forge beakerx` finds it:
[code]

[2019-06-06 17:09] benmccann commented on #8069
Adding the `--no-pin` flag solved it:

[code]

[2019-06-06 17:12] benmccann commented on #8069
I removed the `beakerx` environment and did the install again, this time leaving out the line below from the [install instructions](http://beakerx.com/documentation) and it worked:
[code]

[2019-06-10 13:36] LeeTZ commented on #8062
We won't highlight String type or datetime columns, will only do numerical columns.

[2019-06-14 12:21] EfimovVladimir opened #8072 "highlighting for full row (Groovy)"
related with #8062
code:
[code]
result:
![image](https://user-images.githubusercontent.com/17744188/59508836-f4e02380-8eb7-11e9-9674-c92678259a94.png)

[2019-06-14 12:47] jaroslawmalekcodete commented on #7966
Hi @geoHeil
we merged maven logger functionality to master, we added an [example](https://github.com/twosigma/beakerx/blob/master/test/ipynb/groovy/MavenLogger.ipynb) how to use it

![mavenLogger](https://user-images.githubusercontent.com/21952713/59509443-5355d380-8eb1-11e9-8c5f-c06805e2c8ae.png)

please try it in your case and maybe this will help us to solve your problem.
To use the maven logge

[2019-06-14 13:42] jaroslawmalekcodete commented on #8057
Hi @kenmencher
Can you provide an example(.ipynb) which would help us to reproduce the problem?

[2019-06-17 09:04] jaroslawmalekcodete commented on #8067
Hi
We can't reproduce the problem, can you provide more details?

1. how do you install beakerx?
(conda package, docker or from https://github.com/twosigma/beakerx#build-and-install-linux-and-mac)
2. OS?
3. `conda list` from your env ?
4. can you provide an example ?
sth like https://github.com/twosigma/beakerx/blob/master/test/ipynb/sql/SQLTest.ipynb

[2019-06-17 09:15] jaroslawmalekcodete commented on #8072
Hi @EfimovVladimir
look at rows from 4  to 7, there are "NaN" strings.
In groovy "NaN" is treated as String so this is why there is no highlighting in this column.
It looks like "interest-rates-small.csv" file is prepared for python,
please try to replace "NaN" to "0" in interest-rates-small.csv

[2019-06-17 09:16] EfimovVladimir commented on #8062
In case we use `TableDisplayCellHighlighter.FULL_ROW` constant we expect that whole row will have the same color as base column.
Let's see example above. We add highlighting for whole row by values from column `m3`. See column `y30` that have string type (because NaN value) but works correctly.

[2019-06-17 09:21] EfimovVladimir commented on #8072
In case we use `TableDisplayCellHighlighter.FULL_ROW` constant we expect that whole row will have the same color as base column.

[2019-06-17 12:51] jaroslawmalekcodete commented on #8062
the issue was fixed in https://github.com/twosigma/beakerx/issues/8072

[2019-06-17 13:43] #8020 closed, assigned to LeeTZ

[2019-06-19 18:09] benmccann opened #8078 "Improve README's treasury inversion example"
The README highlights a treasury inversion example: https://github.com/twosigma/beakerx#groovy-with-interactive-plotting

The source code for this example is here: https://github.com/twosigma/beakerx/blob/master/doc/groovy/Charting.ipynb

However, this example is not very realistic because it hard codes the dates for the inversions. I'd like to see an example of how you would calculate and display

[2019-06-24 00:32] #8078 closed, assigned to nobody

[2019-06-25 08:05] zhehao opened #8081 "set up default number of rows to show"
I wonder if the number of  `Rows to Show` option could be set up a parameter, now it's 25 by default, is it possibile to change the default one?
![image](https://user-images.githubusercontent.com/5079008/60080075-c7219700-9761-11e9-97cf-c52aaa7b238d.png)

[2019-06-25 13:51] EfimovVladimir opened #8082 "Plugin `beakerx_tree` failed to activate"
Trying to use jupyterlab `1.0.0rc0`
Any notebook are not opening and browser console display error: `plugin beakerx_tree failed to activate`

![image](https://user-images.githubusercontent.com/17744188/60103622-9f81fd00-9768-11e9-8b67-d807247a18cc.png)

(cmd console didn't display errors)

conda list output:
[loggg.txt](https://github.com/twosigma/beakerx/files/3325547/loggg.txt)

[2019-06-26 20:20] JohnOmernik opened #8083 "Error: Circular Reference Detected on Table Display"
So this may appear to be similar to #7935 is is actually different. I was running a Dataframe into a BeakerX table and saw that I had some int64 columns and assumed they were the issue. They were not.

However, I had two columns that were of type bool in df.dtypes. When I converted these two to type object, then the dataframe was displayed correctly. Thus what ever caused an issue with int64 proba

[2019-06-27 11:59] JohnOmernik commented on #8083
Example Code:
[code]
[code]
0    float64
1    float64
2    float64
3    float64
4    float64
dtype: object
[code]
0    float64
1    float64
2       bool
3    float64
4    float64
dtype: object
[code]

[code]

[2019-07-01 09:36] aolwas commented on #8083
I just ran into the same problem with Pandas 0.24.2 and BeakerX 1.4.1

[2019-07-01 18:41] dclong opened #8085 "Compatible issues with JupyterLab 1.0.0"
BeakerX theme cannot be used in JupyterLab 1.0.0. When switching to a BeakerX theme, the following error happens.

![image](https://user-images.githubusercontent.com/824507/60459220-64168100-9bf5-11e9-8fb7-88c371fdb1ef.png)

[2019-07-02 07:50] #8062 closed, assigned to LeeTZ

[2019-07-02 07:50] #8072 closed, assigned to LeeTZ

[2019-07-03 12:51] piorek commented on #8085
@dclong https://github.com/twosigma/beakerx/pull/8084 should fix this

[2019-07-05 11:50] EfimovVladimir opened #8086 "EasyForm errors"
try http://localhost:8888/notebooks/doc/groovy/EasyForm.ipynb notebook

![image](https://user-images.githubusercontent.com/17744188/60720573-dd82dc00-9f33-11e9-8bad-d0cd6f05e7b1.png)

[2019-07-05 11:53] piorek commented on #8086
Reproduced. Happens with ipywidgets@7.5.0 but with ipywidgets@7.4.2 everything is ok.

[2019-07-08 00:59] ghost opened #8087 "NOMAD Analytics Toolkit error"
![캡처](https://user-images.githubusercontent.com/52640531/60776375-b2cc9980-a166-11e9-8738-17208a83299b.PNG)

I tried the tutorial of NOMAD  big-data analytics; predicting the metal-insulator classification of elements and binary systems. But it doesn't wokr.

Looking the picture, when I click the RUN button,
    ERROR: ssh connection failed. The error message:
    [Errno -2] Name or service not kn

[2019-07-08 12:31] JohnOmernik commented on #8024
Note, after more research, this appears to be because BeakerX uses the actual dataframe (which is an in-memory variable) for display.  Where as when say a Dataframe is printed in the console as HTML, that data is copied to HTML and displayed, therefore the data exists in the notebook output. Right now, BeakerX's output is not stored in the notebook output.

Obviously, notebook outputs/sizes could

[2019-07-10 21:47] JohnOmernik opened #8090 "Turn off Rendering of links in BeakerX tables"
Some times my data has links in it.  BeakerX apparently detects that and tries to make it a hyper link. Can we turn this off so it just shows the text without a hyperlink (so we don't accidentally click on it. )

[2019-07-11 19:10] JohnOmernik commented on #8090
Note.  it appears to be only a beakerx thing, if I to_html() or to_list and then print it in a  notebook, it doesn't auto hyperlink the URL.

Where would I look to find a way to make this "auto interpretation of a link" an optional thing.

[2019-07-11 20:48] JohnOmernik commented on #8090
So, I found in this doc page that it is indeed doing this:

https://nbviewer.jupyter.org/github/twosigma/beakerx/blob/master/doc/python/TableAPI.ipynb

This could be very dangerous depending on the data set from a security perspective.

[2019-07-13 20:38] maxstreese commented on #7757
@tactevo did you ever solve this? Just in case you are still wondering, I also just stumbled across this problem but what you can do is and one way to solve it is updating the global maven settings.xml something like such:

[code]

And then using the classpath magic something like such:

[code]

Now as I am not knowledgeable about maven at all really there maybe even simpler setups (I am guessing

[2019-07-16 00:56] ghost opened #8092 "beakerx: command not found"
Trying to get beakerx working with `pipenv` and an existing `JupyterLab` setup.

[code]

[code]

At this point, I have restarted the JupyterLab server but `import beakerx` is not rendering pandas df's as beakerx tables.

[2019-07-16 09:56] #8058 closed, assigned to EfimovVladimir

[2019-07-16 12:36] rootty commented on #7953
https://github.com/twosigma/beakerx/blob/b3448d62915a825933c36c7fb42f72c676ce4525/js/notebook/src/tableDisplay/dataGrid/interface/IDataGridModelState.ts#L26

^--- according this comment, the feature was dropped in purpose

[2019-07-16 12:41] EfimovVladimir commented on #7953
@LeeTZ  If we don't need this functionality we should clean source code and example in http://localhost:8888/notebooks/doc/python/TableAPI.ipynb notebook

[2019-07-17 02:58] farhan5900 opened #8094 "Scala Spark Magic not able to identify spark master for mesos"
I am using Jupyter Notebook to run Scala Spark Magic. Here are the config JSON and Notebook I am using.

[beakerx-notebook.txt](https://github.com/twosigma/beakerx/files/3399911/beakerx-notebook.txt)
[beakerx-json.txt](https://github.com/twosigma/beakerx/files/3399912/beakerx-json.txt)

The second cell in the attached notebook, which invoke `%%spark --start` is throwing error:

`2019-07-17 02:40:0

[2019-07-19 03:14] #8092 closed, assigned to nobody

[2019-07-19 03:25] ghost commented on #8086
[code]
But still getting error

[2019-07-20 02:14] ghost commented on #7868
I got this error when trying to map a volume in a docker-compose file. The error goes away when I comment out the volume: array.

[2019-07-22 20:34] bitsnaps commented on #6983
This gives me a warning:
[code]

[2019-07-23 11:34] gkatakou commented on #8090
I agree with the above. The display of live links should at least be an option that can be enabled/disabled. I use beakerx tables to display data containing malicious URLs. I currently need to defang them in the backend pandas dataframe before displaying them in a beakerx table.

[2019-07-24 15:16] JohnOmernik opened #8097 "Future Warning in Table Display"
Getting this when tables are displayed. Only started happening recently.

/opt/conda/lib/python3.7/site-packages/beakerx/tabledisplay/tabledisplay.py:109: FutureWarning: The 'get_values' method is deprecated and will be removed in a future version. Use '.to_numpy()' or '.array' instead.
  value = args[0][columnName].get_values()[index]

[2019-07-25 10:25] tschm opened #8098 "save plots (with the legend)"
I struggle to export simple Timeplots into flat *.svg or *.png files. The legend is always ignored... Do I miss something?

[2019-07-29 14:29] JohnOmernik opened #8099 "Tables Not Displayed in Export to PDF"
When I export to PDF, the BeakerX tables are not displayed in the output.  Is there  way, on export, to include these in the PDF, even if it's just a image of the table as currently seen in the notebook?

[2019-07-29 20:01] #8060 closed, assigned to nobody

[2019-07-31 00:26] dclong opened #8100 "Kernel Restarting issue in JupyterLab 1.0"
The BeakerX Scala kernels restart if the notebooks are newly opened.

JupyterLab: 1.0.4
BeakerX: 1.4.1

![image](https://user-images.githubusercontent.com/824507/62174438-d2cb2500-b2ee-11e9-9672-2523fd5cd323.png)

[2019-08-01 08:57] piorek commented on #6893
will have to check that as it is probably fixed as mentioned here https://github.com/jupyter-widgets/ipywidgets/issues/1005#issuecomment-508592284

[2019-08-01 08:59] piorek commented on #7904
this may be fixed by now https://github.com/jupyter-widgets/ipywidgets/issues/1005#issuecomment-508592284 will check that

[2019-08-01 09:03] piorek commented on #8069
@LeeTZ looks like www instructions are outdated

[2019-08-01 11:32] piorek commented on #6972
@LeeTZ This one may be fixed too. Will check

[2019-08-05 14:01] piorek commented on #8086
@EfimovVladimir @LeeTZ fixed in master

[2019-08-06 07:57] deeplook commented on #8030
Do you have any info on this, including support for Apache Livy, please?

[2019-08-06 13:40] #8086 closed, assigned to LeeTZ

[2019-08-07 13:24] jaroslawmalekcodete commented on #8097
Hi @JohnOmernik
I'm not able to reproduce this warning.
Could you provide more details?

[2019-08-08 08:09] piorek opened #8104 "Lab themes are broken"
After Lab 1.0 and probably this https://github.com/jupyterlab/jupyterlab/pull/6040 lab themes are not loading.

![image](https://user-images.githubusercontent.com/743617/62685359-cfa4f880-b9c2-11e9-87b9-ac1099a2bed8.png)

After a quick research, a code fix will not be simply renaming `themeDir` to `themePath` as it looks like it does not support pointing to the directory.

We will probably have to

[2019-08-12 15:34] EfimovVladimir opened #8106 "Error of FloatSlider widget"
the value is not correctly displayed when you try to call 3 cells in a row:
![image](https://user-images.githubusercontent.com/17744188/62876987-cacba600-bd2e-11e9-97fc-c8492bb885ef.png)

But, at the same time, code with one cell works fine
![image](https://user-images.githubusercontent.com/17744188/62877155-226a1180-bd2f-11e9-9d08-5b260139fca5.png)

[2019-08-12 16:14] EfimovVladimir opened #8107 "getCodeCells hangs in Lab"
you can see this in doc/groovy/CodeCell.ipynb

[2019-08-12 17:25] JohnOmernik commented on #8097
So I just did a bunch of upgrading. Running BeakerX 1.4.0, and recent versions of Pandas and Jupyter Lab and still getting:

/opt/conda/lib/python3.7/site-packages/beakerx/tabledisplay/tabledisplay.py:109: FutureWarning: The 'get_values' method is deprecated and will be removed in a future version. Use '.to_numpy()' or '.array' instead.
  value = args[0][columnName].get_values()[index]
/opt/conda/

[2019-08-13 13:47] JohnOmernik opened #8109 "Upgrade to JupyterLab 1.0.5 - No Horizontal Scroll bar"
I upgraded to JupyterLab 1.0.5, and am using BeakerX 1.4.0, and when I have dataframes that have many columns, there is no Horizontal scroll bar. In previous versions of Jupyter Lab, there was always a Horizontal Scroll bar. Is there a change/setting I should be looking to?

[2019-08-13 14:03] JohnOmernik commented on #8109
After more research, it looks like beakerx tables are not limited by the window size, they just keep going.  And Jupyter Lab doesn't see them as going further than the edge of the screen, so I don't have an horizontal scroll on JupyterLab OR BeakerX

[2019-08-13 14:21] JohnOmernik commented on #8109
From what I can see, BeakerX just ignores the window size, and outputs with no horizontal scroll bar.  Everything is working fine with scroll bars.

[2019-08-15 11:44] Gerenuk commented on #8083
Had the same bug with all of float16, float32, int8, int16, int32, ... for `TableDisplay(pd.DataFrame(np.array([[1]], dtype="float32")))`

[2019-08-19 12:17] JohnOmernik commented on #8109
Is anyone seeing this on BeakerX 1.4.0 and JupyterLab 1.0.5?  Once again, to reproduce display a wide Dataframe (lots of columns) and the Horizontal Scroll bar doesn't appear. It seems if I can make Jupyter Lab Larger, I the columns are there, but no scroll bar.

If possible, I'd love to see if anyone else is (OR isn't) having this issue on the above versions, also, any tips on whether I should be

[2019-08-19 13:15] EfimovVladimir opened #8112 "Preview 10 rows does't work (Scala, Lab)"
See doc/scala/SparkUI notebook
![image](https://user-images.githubusercontent.com/17744188/63268244-6794c300-c29c-11e9-9c2a-aa5813cc8e2c.png)

 It dispays nothing after clicking `Preview 10 Rows` button
![image](https://user-images.githubusercontent.com/17744188/63268117-1dabdd00-c29c-11e9-9717-551055845b1a.png)

[2019-08-19 14:10] #8082 closed, assigned to LeeTZ

[2019-08-20 09:12] EfimovVladimir opened #8113 "TableDisplayCellHighlighter for full row dosn't work (Scala, Lab)"
See doc/scala/TableAPI notebook
![image](https://user-images.githubusercontent.com/17744188/63333944-ffe58300-c342-11e9-9f6f-fa74e231b6e9.png)

Expected result:
![image](https://user-images.githubusercontent.com/17744188/63334028-27d4e680-c343-11e9-9153-956e7b63e3fb.png)

[2019-08-20 09:25] EfimovVladimir opened #8114 "Incorrect default order in table (Scala)"
See doc/scala/TableAPI notebook
![image](https://user-images.githubusercontent.com/17744188/63334626-76cf4b80-c344-11e9-986f-e65f3bcec031.png)

The order is different in source file:
![image](https://user-images.githubusercontent.com/17744188/63334889-0ecd3500-c345-11e9-971a-30d11df6da12.png)

note: our another kernels create  right default order for tables

[2019-08-20 09:48] EfimovVladimir opened #8115 "Table actions doesn't work (Scala, Lab)"
It doesn't work either for `contextMenu` or `doubleClick` action.
See doc/scala/TableAPI notebook
for example this cell:
![image](https://user-images.githubusercontent.com/17744188/63336740-51444100-c348-11e9-969c-b3bc673369d4.png)

[2019-08-20 12:56] piorek commented on #8099
When trying to export as PDF im getting:

[code]

So it looks like it's **nbconvert** related

[code]
It looks like there is some ongoing job related to that problem:

https://github.com/jupyter/nbconvert/issues/920
https://github.com/jupyter/nbconvert/pull/900
https://github.com/jupyter/nbconvert/pull/901

[2019-08-20 13:28] piorek commented on #8097
@jaroslawmalekcodete I saw these warnings and fixed them while extracting table display so it's fixed in the current master, but i don't think it's released yet

[2019-08-20 13:29] JohnOmernik commented on #8097
What is the timeline for 1.4.1 to be released (into the Conda repos?)

On Tue, Aug 20, 2019 at 8:28 AM Łukasz Pior <notifications@github.com>
wrote:

[2019-08-20 13:30] piorek commented on #6823
@LeeTZ what do we do with this one?

[2019-08-25 06:13] ssadedin commented on #8109
Just tried the update to Beakerx 1.5.0 and the corresponding jupyter-lab and observed the same.

A second issue along with this one made me roll back to beakerx 1.0 (the second issue being that the jupyterlab_vim extension does not handle the escape key correctly any more).

[2019-08-25 07:27] ssadedin opened #8116 "Groovy Autocomplete based on Runtime Introspection?"
I've been browsing the code and notice that there is quite sophisticated support for Groovy autocomplete based on a fully integrated parser / lexer that can infer the static type of expressions and determine their methods etc.  Using this I can get autocomplete for some things eg:

![image](https://user-images.githubusercontent.com/138868/63646752-319f8500-c75b-11e9-9ee6-b7848244a915.png)

However

[2019-08-26 09:55] tarunsharma87 commented on #6752
I'm facing the same issue. I have added the jar in classpath using `%classpath add jar <path to jar>`. also set connection url to default datasource using `%defaultDatasource <url>` so that by default sql kernel will access hive datastore. But there is no way to specify the main driver class inside the jar. I have checked the documentation but there is no such information available about how to sp

[2019-08-26 10:38] dclong opened #8117 "Has beakerx 1.5.0 being pushed to PYPI yet?"
`pip search beakerx` show 1.4.1 only.

[2019-08-29 13:22] kenmencher commented on #8057
See attached ipynb & pickle file...
[Archive.zip](https://github.com/twosigma/beakerx/files/3555721/Archive.zip)

[2019-08-30 21:22] LeeTZ commented on #8117
Will publish to pypi soon.  Thanks for asking!

[2019-09-02 09:14] EfimovVladimir opened #8120 "Output widget doesn't work properly"
see http://localhost:8888/notebooks/doc/groovy/OutputWidget.ipynb notebook
We expect that outputWidget displays the output after the cell with code
[code]
but not after the second cell
![image](https://user-images.githubusercontent.com/17744188/64103425-e862bd00-cd7a-11e9-81c6-6fed72e7551a.png)

[2019-09-10 12:09] EfimovVladimir opened #8125 "Plot doesn't display legend for Kotlin kernel"
on groovy it works fine
![image](https://user-images.githubusercontent.com/17744188/64612618-e8973400-d3dc-11e9-866d-dfa130265309.png)

[2019-09-10 12:10] #8125 closed, assigned to nobody

[2019-09-12 03:30] arocnies commented on #7898
This is an issue for the live Binder example from the BeakerX site.
https://hub.gke.mybinder.org/user/twosigma-beakerx-9a8c94zi/notebooks/doc/kotlin/Kotlin.ipynb

[2019-09-12 10:13] jaroslawmalekcodete commented on #8115
works for me

[2019-09-12 10:16] #8115 closed, assigned to jaroslawmalekcodete

[2019-09-16 17:38] Takhion commented on #7898
@arocnies the issue is that the [link on the homepage](https://github.com/twosigma/beakerx/blame/9ede82559dd3be5211207687ac0fc95d900a4625/README.md#L34) points to an older version, try this: https://mybinder.org/v2/gh/twosigma/beakerx/1.5.0?filepath=doc/kotlin/Kotlin.ipynb

[2019-09-17 14:07] EfimovVladimir opened #8128 "removeAllCellHighlighters() method doesn't work in scala"
see http://localhost:8888/notebooks/doc/scala/TableAPI.ipynb

![image](https://user-images.githubusercontent.com/17744188/65048876-835bb980-d96d-11e9-88d6-1a01ca805956.png)

[2019-09-17 17:21] benmccann commented on #8117
Looks like it's still missing:
[code]

[2019-09-19 04:00] LeeTZ opened #8131 "Make sure latest Scala is installed with BeakerX, and in docker image"
2.13.1

[2019-09-19 04:03] LeeTZ opened #8132 "Incorporate sparkmonitor with BeakerX"
https://github.com/krishnan-r/sparkmonitor is a great extension for monitoring spark jobs. We could try to make it work with current notebook and lab, and integrate it into BeakerX installation

[2019-09-24 14:38] Ben-Epstein opened #8134 "Add support for adding SQL query overrides to associated databases"
Certain databases that have internal optimizers such as Derby and Splicemachine allow for passing overrides to the SQL query via specific comment structures:
In Derby: pass in `--DERBY-PROPERTIES constraint=cons1` after the FROM clause
In Splicemachine: pass in `--SPLICE-PROPERTIES constraint=cons1` after the FROM clause

The proposed fix for this is to modify [QueryParser.java](https://github.com

[2019-09-25 02:51] Ben-Epstein commented on #8134
PR available [here](https://github.com/twosigma/beakerx/pull/8135)

[2019-09-25 12:55] #8112 closed, assigned to piorek, LeeTZ

[2019-09-25 13:03] #8113 closed, assigned to LeeTZ

[2019-09-25 13:08] #8106 closed, assigned to LeeTZ

[2019-09-26 11:11] jaroslawmalekcodete commented on #8094
Hi @farhan5900
I created an [example](https://github.com/twosigma/beakerx/commit/31704190a3e59d9a5b3dfa991aff5097bf88e0c8) how we run spark-mesos.
In short:
1. run mesos
2. in CLI  `export MESOS_NATIVE_JAVA_LIBRARY="path to libmesos.so"` and run jupyter notebook
3. `%%classpath add mvn
org.apache.spark spark-mesos_2.11 2.4.0`
4. create spark using
 `%%spark`
`SparkSession.builder()`
 `.appName("Si

[2019-09-26 12:56] #8107 closed, assigned to LeeTZ

[2019-09-26 20:39] farhan5900 commented on #8094
Hi @jaroslawmalekcodete, Thanks for putting an example. We have solved our problem in our environment.

[2019-09-30 13:23] #8114 closed, assigned to LeeTZ

[2019-09-30 20:28] rchossein commented on #6747
Could you provide a working D3 example in Jupyter Lab?

[2019-10-01 11:37] #8120 closed, assigned to LeeTZ

[2019-10-01 12:48] piorek commented on #8109
@LeeTZ it's not only table display issue. As far as I can tell displaying anything wider than output area will result in truncated output.

I've tried with TableDisplay, Plot, raw pandas data.

@afshin can you look at this and see if it is not an issue that should be handled by jupyter lab team?

[2019-10-01 13:34] pdex777 opened #8141 "Dynamic jdbc connection string"
Hi!

First of all, thank you for the Beaker project. I've been regularly using it for a few years and I'm now giving a try to the modern BeakerX.

When in SQL language, I create a connection via jdbc using the %defaultDatasource magics. Although the connection itself works fine (i.e. I can retrieve the data from the database), my jdbc connection string contains sensitive information (i.e. login/pa

[2019-10-01 16:36] marcusianlevine commented on #7543
Is there any movement on this? We'd really love to see BeakerX's capabilities expanded to include PySpark

[2019-10-01 18:56] JoshuaCWebDeveloper commented on #2695
Found this issue while trying to figure out how I am supposed to import classes in the Groovy kernel. Seems like that this is the expected way to do it (using a BeakerX magic):
[code]

[2019-10-03 12:51] JohnOmernik commented on #8109
This is a huge blocker for us as beakerx tables are a big part of our environment, but we want to also use new features in Jupyter lab.

Thanks

[2019-10-03 22:52] Ohtar10 commented on #7543
I would also love to try BeakerX with PySpark :)

[2019-10-04 00:08] JoshuaCWebDeveloper commented on #8117
It is still missing:
[code]

Edit: Looks like it hasn't been pushed to Conda forge yet either.

[2019-10-07 13:45] wiz21b opened #8143 "SQL cell's result doesn't export"
Hello,

Today I've installed jupyter and beakerx (using pip, following the documentation).
Following that I've been able to connect to a database of mine and to show the result of a very simple query. The notebook just behave as I expect it to : I type my SQL command, evaluate the cell and a nice table with the result appears below the cell.

Now, I try to "print preview" and "file -> download as

[2019-10-11 12:34] EfimovVladimir opened #8147 "NameError: name 'ThreeColorHeatmapHighlighter' is not defined (Python)"
When we trying to use ThreeColorHeatmapHighlighter on python kernel we get the error ```NameError: name 'ThreeColorHeatmapHighlighter' is not defined```

![image](https://user-images.githubusercontent.com/17744188/66651618-22599580-ec3c-11e9-919b-1d0a354c5fb2.png)

the same code on groovy kernel works fine:
![image](https://user-images.githubusercontent.com/17744188/66651747-82503c00-ec3c-11e9-917

[2019-10-13 16:18] raisercostin commented on #7795
I found that beakerx in docker is caching everything in `/opt/conda/envs/beakerx/share/beakerx/maven/cache`.

Maybe the location is `/tmp/share/beaker/maven/cache` ?

[2019-10-17 11:52] jaroslawmalekcodete commented on #8141
Hi @pdex777
We've have just added new functionality ([PR](https://github.com/twosigma/beakerx/pull/8148) not merged yet to master) to %defaultDatasource magic command that should avoid storing credentials as plain text in the notebook, please look at the [example](https://github.com/twosigma/beakerx/blob/jarek/8141_dynamic_jdbc_connection_string/test/ipynb/sql/SQL_user_password_Test.ipynb) and let

[2019-10-17 22:54] tantra35 opened #8150 "can't install beakerx_tabledisplay throw conda"
As said in README of project we try to install  `beakerx_tabledisplay` as a separate component with conda

[code]

but without success due not found package:

[code]

Does this mean that `beakerx_tabledisplay` can't be installed without beakerx?

[2019-10-20 03:25] ssadedin opened #8151 "Error building jupyterlab"
I'm having trouble getting an end to end build to work with the current tree.

Everything is OK through to the last command but then this command:

[code]

fails with:

[code]

I got it to go a little further by doing this:

[code]
(this just copies the files it's looking for to the place that it is looking for them).

However then that just dies with a similar error but looking for a file that is

[2019-10-20 17:36] dclong opened #8152 "Does the Python package need to add py4j as dependency?"
It seems to me that beakerx need py4j but it is not automatically installed.

[2019-10-21 08:53] #8147 closed, assigned to jaroslawmalekcodete

[2019-10-21 08:56] #8128 closed, assigned to LeeTZ

[2019-10-21 09:27] EfimovVladimir opened #8153 "Another column type of Table (Python)"
We have different results on python and other kernels when we are setting up column types.
Python:
![image](https://user-images.githubusercontent.com/17744188/67193095-651a2b00-f3fd-11e9-985d-f501970934fb.png)

Scala:
![image](https://user-images.githubusercontent.com/17744188/67193427-f4bfd980-f3fd-11e9-888f-fa49cc37bd54.png)

[2019-10-23 08:36] pdex777 commented on #8141
Hi @jaroslawmalekcodete ! Thank you for adding this functionality. I would love to give it a try. However, I'm currently using the version of BeakerX from Conda forge (which is 1.4.1 at the time of writing), so this new functionality is not there yet.

Are there other ways like e.g. daily builds where I can try it out?

Do you have an estimate when the future is going to appear in Conda forge?

Th

[2019-10-23 18:17] Vance-Turner opened #8155 "Stack Trace in Scala"
Is there a way to make Scala stack traces larger?

  ... 51 elided

after calling into a Java library.

[2019-10-24 10:43] EfimovVladimir opened #8156 "Error: Cannot read property 'push' of undefined (Plot Points element)"
see cell with `Points` elements in our doc notebook http://localhost:8888/notebooks/doc/groovy/PlotFeatures.ipynb

When we run this cell it displays nothing
![image](https://user-images.githubusercontent.com/17744188/67477896-ac095a00-f663-11e9-85e5-89b5cf88dacf.png)

console error:
![image](https://user-images.githubusercontent.com/17744188/67477747-62207400-f663-11e9-9375-dbfe2fc0de41.png)

[2019-10-24 11:54] jaroslawmalekcodete commented on #8143
Hi @wiz21b
It looks like it is a normal behaviour.
Try online jupyter notebook from https://jupyter.org/try
and run the python example as below and then try to "print preview"

[code]

[2019-10-25 12:00] jaroslawmalekcodete commented on #8141
Hi @pdex777
The PR was merged so you can try to install our master using our instructions https://github.com/twosigma/beakerx#build-and-install-linux-and-mac

[2019-10-25 12:21] jaroslawmalekcodete commented on #8155
Hi @Vance-Turner
We get the stack trace from scala shell.
I compared our kernel
![Screenshot from 2019-10-25 14-14-59](https://user-images.githubusercontent.com/21952713/67570629-2c968c00-f732-11e9-801a-39ae09e53a22.png)
and scala repl
![Screenshot from 2019-10-25 14-15-44](https://user-images.githubusercontent.com/21952713/67570648-39b37b00-f732-11e9-8b54-ec4886e7607d.png)
and results are the sam

[2019-10-28 13:35] jaroslawmalekcodete commented on #8152
Hi @dclong
Can you provide more details about the installation of beakerx?
Do you use instructions from https://github.com/twosigma/beakerx#build-and-install-linux-and-mac or do you install from conda or do you use docker?

[2019-10-28 14:04] jaroslawmalekcodete commented on #8151
Hi @ssadedin
I've just built jupyterlab and I have not problems with the "jupyter lab build" command. Everything works.
Please try to clone the repo to new directory and run the installation instructions once again.
Additionally please check if we have the same version of yarn and node.
My versions:

[2019-10-29 11:08] EfimovVladimir opened #8160 "Area disappears in Plot on Python"
try python code:
[code]
when we move the mouse over name of Area , the Area in Plot will disappear
![image](https://user-images.githubusercontent.com/17744188/67761836-24ea2680-fa55-11e9-9db4-f1e30af759b6.png)

Look at right behavior on groovy
[code]
When we move the mouse over name of Area it will changes to more highlight color
![image](https://user-images.githubusercontent.com/17744188/67761667

[2019-10-30 09:02] EfimovVladimir opened #8161 "AttributeError: type object 'LegendPosition' has no attribute (Python)"
on python we get error:
![image](https://user-images.githubusercontent.com/17744188/67843152-7ef9f300-fb0c-11e9-907e-4d15810811d6.png)

see the expected result on groovy:
![image](https://user-images.githubusercontent.com/17744188/67843432-034c7600-fb0d-11e9-9875-612425eedf59.png)

[2019-10-30 10:06] EfimovVladimir opened #8162 "NanoPlot doesn't have X axis labels"
see the cell with NanoPlot in doc/groovy/plotFeatures.ipynb.

![image](https://user-images.githubusercontent.com/17744188/67847387-d3ed3780-fb13-11e9-9a33-cb7241277d39.png)

[2019-11-01 15:49] kiranchitturi opened #8165 "Declare sparkSession and sparkContext as transient variables"
Spark magic `%%spark --start` does not declare spark context as a transient variable and due to this doing any sort of RDD manipulations will throw the below error

[code]

the fix is to declare https://github.com/twosigma/beakerx/blob/d6233eb3baa8a8528e415401985da9e2e2d4ccfe/kernel/sparkex/src/main/java/com/twosigma/beakerx/widget/SparkEngineBase.java#L160 as transient variables

[code]

Please l

[2019-11-02 03:21] dclong commented on #8152
I installed BeakerX using pip in a Docker environment. For more details please refer to my Dockerfile.

https://github.com/dclong/docker-jupyterhub-beakerx/blob/master/Dockerfile

[2019-11-04 08:17] ssadedin opened #8166 "Clipboard Copy Off-by-one Column in BeakerX table"
Using the Groovy kernel I make a table like this:

[code]
This displays like so:

![image](https://user-images.githubusercontent.com/138868/68106673-75babd00-ff36-11e9-839d-2b0b9270afac.png)

I then select some values from the `foo` column and choose "Copy" from the menu:

![image](https://user-images.githubusercontent.com/138868/68106728-a569c500-ff36-11e9-84eb-4a670deb0d64.png)

Choosing Copy:

[2019-11-04 16:43] dclong opened #8167 "The `trimIndent` function of the text package in Kotlin doesn't behave as expected"
You can refer to the 2nd example in the link below.
http://www.legendu.net/misc/blog/string-functions-kotlin/#trimIndent

According to the doc,
the result of
[code]
should be
[code]
while the Kotlin kernel outputs
[code]

[2019-11-07 14:20] Ben-Epstein opened #8175 "DROP TABLE IF EXISTS fails on non-existent table"
When I run DROP TABLE IF EXISTS using %%sql magic on a table that exists, it's dropped. But when I run it on a table that does not exist, I get the following error

<code>java.sql.SQLNonTransientConnectionException: The DDM parameter value 0x1149 is not supported.  An input host variable may not be within the range the server supports.  The connection has been terminated.</code>

I'm running Beake

[2019-11-08 08:59] thomasjm opened #8176 "nteract"

[2019-11-08 08:59] #8176 closed, assigned to nobody

[2019-11-08 09:00] thomasjm commented on #8176
Sorry, wrong button

[2019-11-08 09:07] thomasjm opened #8177 "Can SQL kernel output other MIME types besides a Jupyter widget?"
I see that the SQL kernel outputs its data only as a MIME type `application/vnd.jupyter.widget-view+json`, which corresponds to a Jupyter widget.

Jupyter messages from other kernels often appear with multiple MIME types to allow different display options--for example, a Pandas dataframe by default comes with `text/html` and `text/plain`.

I'm wondering if the SQL kernel can be configured to outpu

[2019-11-12 19:14] vnijs opened #8178 "ModuleNotFoundError: No module named 'beakerx'"
I can no longer install beakerx in a docker image with pip3. Error message and docker file below. This worked before although there were [issues](https://github.com/twosigma/beakerx/issues/7867) running the SQL kernel reliably. Strangely I tried installing beakerx in a running Docker container and that seems to work fine.

Any suggestions?

https://github.com/radiant-rstats/docker/blob/master/rsm-

[2019-11-14 10:50] #8156 closed, assigned to jaroslawmalekcodete

[2019-11-14 11:00] EfimovVladimir opened #8179 "Plot Points element doesn't work"
see cell with Points elements in our doc notebook http://localhost:8888/notebooks/doc/groovy/PlotFeatures.ipynb

When we run this cell it displays nothing
![image](https://user-images.githubusercontent.com/17744188/68850977-0d15d200-06e6-11ea-995a-dada0bd62391.png)

the same situation with Points in http://localhost:8888/notebooks/doc/groovy/Tablesaw.ipynb notebook
![image](https://user-images.git

[2019-11-14 15:01] dpbergmann opened #8180 "SQL Kernel - Sqlite path with Spaces"
Hi,
I try to build a Sql connection to a sqlite database where the path contains spaces:

E.g. %defaultDatasource jdbc:sqlite:te st/test.sqlite

Probably an easy question but I couldn't get this to work.

[2019-11-15 13:32] EfimovVladimir opened #8181 "can't run Jupyter Lab"
After recreating new conda env and installation Lab I can't run it.

Traceback (most recent call last):

the version tornado:
`tornado                   6.0.3            py38hfa6e2cd_0    conda-forge`

[2019-11-18 09:17] jaroslawmalekcodete commented on #8181
There seems to be a problem in win Tornado 6.0.3 version,
the jupyter laboratory works for Linux

[2019-11-18 12:55] mcai4gl2 opened #8183 "nbconvert errors for notebook requiring auto translation"
When running notebook via jupyter nbconvert --execute, the beakerx extension is not enabled.  As a result,  I am getting exception:
[code]
when executing notebooks which require auto translation (notebooks which mix multiple languages.  In my example, it was python mixed  with  java).

Is there a way to enable beakerx for nbconvert already? or can we add it as a feature?

[2019-11-18 12:56] mcai4gl2 opened #8184 "Adding %classpath add dynamic support in java kernel"
%classpath  add dynamic works in groovy kernel. If would be great if it can be added to java kernel as well.

[2019-11-19 12:52] mcai4gl2 opened #8185 "Higher Guice version dependency"
In java kernel, I am loading jars which requires Guice version 4. But java kernel by default loads guice 3.0 from base kernel lib: beakerx/kernel/base/lib/guice-3.0.jar.

Is there any workaround to allow me load a different version of guice on start up?

Thanks

[2019-11-19 14:30] piorek opened #8186 "SparkUI issues"
There is something wrong with SparkUI output.
On preview all cells are populated with "string"
![image](https://user-images.githubusercontent.com/743617/69154762-e50ce100-0ae0-11ea-88e8-863643eebe1f.png)
After pressing "Preview 10 rows" button data is OK but there is additional stage
![image](https://user-images.githubusercontent.com/743617/69154948-31582100-0ae1-11ea-86fa-c40b013e7608.png)

[2019-11-20 11:02] TheNameIsChaitanya opened #8187 "Java kernel stopped recognizing identifiers defined in another cell"
I'm having a truly weird problem, and what makes it even more weird is that, an hour ago, it was working just fine. It has just stopped working for no apparent reason. When I'm in a Java notebook, if I define something in one cell (and execute that cell, of course), and then access that thing from another cell, I get the "Cannot find symbol" error. For example, if in a particular cell I define `in

[2019-11-21 14:07] EfimovVladimir commented on #8181
the problem was in old version jupyter Lab from conda

[2019-11-21 14:07] #8181 closed, assigned to jaroslawmalekcodete

[2019-11-27 09:54] EfimovVladimir opened #8188 "Exception for length of types (Python)"
For python we have
![image](https://user-images.githubusercontent.com/17744188/69712165-6aad1400-1113-11ea-920c-135cfbaaf672.png)

1. to do exception as for Groovy:
![image](https://user-images.githubusercontent.com/17744188/69712291-a0ea9380-1113-11ea-9a04-c0e9aaa6c4fe.png)

2. to correct typo of error message:
The length of types should be same as number of `cols`,  not rows

[2019-11-28 13:30] jaroslawmalekcodete opened #8189 "Add support for %%spark magic command in python"

[2019-12-02 04:06] SalvatoreT opened #8192 "ipywidgets, pandas, and py4j need to be explicit dependencies"
I installed `beakerx` via `pip3 install beakerx`, but when I went to run it, I found out it didn't include `ipywidgets`.
[code]
After running `pip3 install ipywidgets`, I ran into a similar issue where `pandas` and `py4j` was required but not installed.

Please add them as explicit dependencies for the pip package to make the install process smoother.

[2019-12-02 23:08] tobiaslocker opened #8194 "Table setFontColorProvider is off by one"
Hello,

I needed to fiddle around with the function to avoid being off by one when returning a Color for a cell like this

[code]

is there another attribute than `table.values` that is meant to be used for that or is it just off by one?

[2019-12-04 12:36] jaroslawmalekcodete commented on #8175
Hi @Ben-Epstein
can you try to use newer version of Beakerx?, I mean 1.4.1 (https://anaconda.org/conda-forge/beakerx).
I tried "DROP TABLE IF EXISTS" on this version 1.4.1 and It looks like everything works fine. If you reproduce the problem please send us your example.

[2019-12-04 14:06] LeeTZ commented on #8178
Hi, @vnijs I noticed you lock the version to 1.4.1,  Seems it used to work before, did it work in a previous version?  In the meantime we are investigating on this issue could you use conda package as a workaround?

[2019-12-04 21:54] SalvatoreT commented on #8192
It looks like there are no dependencies listed on the `setup.py` files that `pip` uses. The Python documentation lists [two options to fix this](https://packaging.python.org/discussions/install-requires-vs-requirements/#install-requires-vs-requirements-files).

[2019-12-04 22:50] vnijs commented on #8178
Thanks for the reply @LeeTZ. The package used to install but had another issue that prevented it from working (https://github.com/twosigma/beakerx/issues/7867). I use only pip in my docker containers but perhaps @CerebralMastication could try it out?

[2019-12-05 10:45] gailmargolis76 opened #8196 "executing shell commands in Scala kernel"
How come something like `!pwd` to check present working directory works in python kernel but not scala kernel? How do i issue shell commands from the notebook whilst using scala kernel?

[2019-12-05 12:53] EfimovVladimir opened #8197 "differences of default alignment"
default alignment on groovy and scala is left
![image](https://user-images.githubusercontent.com/17744188/70236782-ab8dd400-1776-11ea-9663-b77d400e4063.png)

but alignment on python is right
![image](https://user-images.githubusercontent.com/17744188/70236851-dc6e0900-1776-11ea-9635-8873c6bf8c0e.png)

expect result is the same default alignment for all kernels

[2019-12-05 13:00] EfimovVladimir commented on #8197
can see examples on http://localhost:8888/notebooks/test/ipynb/groovy/TableAPITest.ipynb
http://localhost:8888/notebooks/test/ipynb/python/TableAPIPythonTest.ipynb
http://localhost:8888/notebooks/test/ipynb/scala/TableAPITest.ipynb

[2019-12-05 13:09] EfimovVladimir commented on #8197
differences types

[2019-12-05 13:09] #8197 closed, assigned to jaroslawmalekcodete

[2019-12-05 18:25] LeeTZ opened #8198 "Migrate BeakerXDoclet off from com.sun.javadoc.*"
These classes were deprecated long ago and are now removed in Java 13.  We should get ready and migrate these classes.
Some migration hints here:
https://docs.oracle.com/javase/9/docs/api/jdk/javadoc/doclet/package-summary.html#migration

[2019-12-05 18:34] gailmargolis76 opened #8199 "Disable cell output in scala kernel"
In scala kernel, the output of the code in every cell is displayed. This becomes a huge problem when cell for example contains an assignment involving a list with millions of elements - the attempt to display that huge output cripples the notebook. Any way to disable outputs being printed out for every cell?

[2019-12-09 01:39] Ben-Epstein commented on #8175
Hi @jaroslawmalekcodete
Thanks for the reply! I will try to run this on my system and see if I can reproduce. Why is the latest release (1.4.X) not represented on the Github releases or on Dockerhub? Is it beta?

[2019-12-09 08:23] tobiaslocker opened #8201 "Changing index (ascending/descending) does not update font colors"
The following code snippet results in a rather odd behavior when clicking in the top-left cell, which by default is change the index from ascending to descending or vice versa

[code]

For the necessary weird indexing in `color_provider` i opened another issue (#8194)

So, when i change the index, the colored cell simply stays in the same position (when the value obviously changes) in the table, w

[2019-12-09 08:23] tobiaslocker commented on #8194
ping

[2019-12-09 09:54] jaroslawmalekcodete commented on #8199
Hi  @gailmargolis76
have you tried to use  the [OutputCell.HIDDEN](http://localhost:8888/notebooks/doc/old/OutputCell.HIDDEN.ipynb) ?

[code]

[2019-12-09 20:23] LeeTZ commented on #8175
Thanks Ben, we will release a new version of BeakerX to Github and Dockerhub soon.

[2019-12-10 12:13] jaroslawmalekcodete commented on #8194
Hi @tobiaslocker
it looks like you missed **else** statement for `if column < len(row) - 1`:

[code]

[2019-12-10 12:27] tobiaslocker commented on #8194
Hello @jaroslawmalekcodete

Actually, the `if column < len(row) - 1:` is needed to avoid an `IndexError` when accessing `row[column + 1]` (the actual off by one problem) so the `else` case is never needed.

_To put the problem more clear:_

If i want to access a cell with `func(row, column, table)`, this cell is **not** accessed via `table.values[row][column]`  but with `table.values[row][column +

[2019-12-10 14:35] jaroslawmalekcodete commented on #8194
do you mean sth like that doesn't work for you?
![Screenshot from 2019-12-10 15-33-48](https://user-images.githubusercontent.com/21952713/70538546-93e19180-1b62-11ea-972c-26bbe19a41c1.png)

can you send your example ?

[2019-12-10 16:14] tobiaslocker commented on #8194
Nope, it doesn't

[code]
results in:

![table1](https://user-images.githubusercontent.com/11057140/70546964-07d26880-1b68-11ea-8c5b-c8a1dbf85f1d.png)

[code]

gets it right

![table2](https://user-images.githubusercontent.com/11057140/70547051-2c2e4500-1b68-11ea-959b-91e78acfe062.png)

[2019-12-11 12:16] EfimovVladimir opened #8203 "Wrong UniqueEntriesHighlighter for strings"
Have we to use highlighter for string?
for code we see this:
![image](https://user-images.githubusercontent.com/17744188/70620358-1b450880-1c28-11ea-963a-2919f3434e08.png)

for menu command we see this:
![image](https://user-images.githubusercontent.com/17744188/70620758-22b8e180-1c29-11ea-8d51-b2fd167a365e.png)

[2019-12-11 12:47] EfimovVladimir commented on #8203
https://github.com/twosigma/beakerx/issues/8026#issuecomment-485632205
@LeeTZ @jaroslawmalekcodete Do we really need remove highlighters for string type?
Because this function makes tables more useful.

[2019-12-12 12:03] EfimovVladimir opened #8204 "update table model (Scala)"
Let see http://localhost:8888/notebooks/doc/groovy/TableAPI.ipynb
![image](https://user-images.githubusercontent.com/17744188/70710269-d7b5d180-1cef-11ea-918d-0351068980b6.png)

On Scala we don't have this function
![image](https://user-images.githubusercontent.com/17744188/70710503-5ca0eb00-1cf0-11ea-9528-66b719679485.png)

[2019-12-12 12:39] jaroslawmalekcodete commented on #8194
The problem is related with the #7994

[2019-12-12 13:27] #8179 closed, assigned to jaroslawmalekcodete

[2019-12-12 14:47] EfimovVladimir commented on #8203
decided to use highlighters for `string` type

[2019-12-12 14:47] #8203 closed, assigned to jaroslawmalekcodete

[2019-12-12 15:01] EfimovVladimir opened #8205 "Implement Heatmap highlighter for string type"
Implement heatmap highlighter for `string` type as it works to `integer` type.
If the cell value not convertable to `integer` than  stay this cell with default background
![image](https://user-images.githubusercontent.com/17744188/70722475-67677a00-1d08-11ea-9380-af5eb31de966.png)

[2019-12-18 13:23] EfimovVladimir opened #8208 "update instructions doesn't work"
let see instruction for implementing js changes
![image](https://user-images.githubusercontent.com/17744188/71088812-72128b00-21b0-11ea-992d-74934a4801bf.png)

but it does nothing
![image](https://user-images.githubusercontent.com/17744188/71088993-e9e0b580-21b0-11ea-9d2c-9a70eac17ce1.png)

[2019-12-20 10:46] gailmargolis76 opened #8210 "Kotlin kernel doesn't work"
Gives the following errors/warnings:

[2019-12-20 11:23] altavir commented on #8210
Kotlin kernel works only on Java 8. There are multiple issues about that already. There is new kernel provided by JetBrains, which fixes it. Let me write a separate issue about it.

[2019-12-20 11:27] altavir opened #8211 "Use official jupyter kernel for kotlin."
There is a lot of issues on the tracker about broken kotlin kernel. It uses obsolete hacks for cli interface and is very unstable.

I am rather happy to say that now there is the official JetBrains jupyter kernel: https://github.com/Kotlin/kotlin-jupyter. I think it makes sense to wrap it in beakerx autotranslation tooling or work with kotlin-DS team to negotiate some kind of common API, they are

[2020-01-02 08:03] jaroslawmalekcodete commented on #8198
To do this we need to upgrade java

[2020-01-02 14:12] jaroslawmalekcodete commented on #8165
Hi @kiranchitturi
Could you provide some simple example (ipynb) that will allow us to reproduce the problem ?

[2020-01-03 15:17] haloforensics commented on #8090
Curious if the auto link disable feature has been implemented?  If so, how would you disable auto links when using BeakerX in Python?

[2020-01-07 09:23] LeeTZ opened #8214 "Set global timezone for Tabledisplay widget"
We could allow a user to set the timezone for all tabledisplay widgets in the notebook.

[2020-01-07 11:44] jaroslawmalekcodete commented on #8205
an example
![Screenshot from 2020-01-07 12-40-00](https://user-images.githubusercontent.com/21952713/71893221-451c1d00-314b-11ea-99c3-1f16ea92ffd5.png)

[2020-01-08 19:55] benmccann commented on #8117
Still missing...

[2020-01-09 12:51] nshaud commented on #8196
I have the same the question. Could this be implemented in some way?

In the meantime, using the ``%%bash`` cell magic works.

[2020-01-09 14:45] jaroslawmalekcodete commented on #8196
Hi
I've just added an example of executing shell commands,
the result looks like below
![Executing_shell_commands2](https://user-images.githubusercontent.com/21952713/72076927-aaf8d800-32f6-11ea-8773-8feb784f59fd.png)

please let us know if that works for you

[2020-01-09 15:59] nshaud commented on #8196
@jaroslawmalekcodete Thanks. I'd prefer something that works across various kernels (ergo the "!pwd" example) but this works too.

[2020-01-14 16:22] vitaly-zverev commented on #7959
workaround #2
docker run -dp 8888:8888 --entrypoint='/usr/local/bin/start-notebook.sh'  --name  jupyterlab  beakerx/beakerx:1.3.0 "--ip=127.0.0.1"

docker exec  -u beakerx jupyterlab bash -c "/opt/conda/envs/beakerx/bin/jupyter-notebook  --ip=\$HOSTNAME"

docker exec  -u beakerx jupyterlab bash -c "/opt/conda/envs/beakerx/bin/jupyter-notebook  list"

[2020-01-17 11:31] markterm opened #8220 "1.5.0 release"
It looks like BeakerX 1.5.0 was released in GitHub a few months ago, but hasn't been released in PyPI or Conda. It would be great to have the release distributed.

[2020-01-17 11:32] markterm commented on #8220
Oops, duplicate of https://github.com/twosigma/beakerx/issues/8117

[2020-01-17 11:32] #8220 closed, assigned to nobody

[2020-01-22 12:34] jarach opened #8224 "multiple condition filtering not working in table display"
Multiple condition filtering not working in table display.
![image](https://user-images.githubusercontent.com/58830859/72894173-01184300-3d1b-11ea-9aa4-643b23911ed8.png) ![image](https://user-images.githubusercontent.com/58830859/72894219-1ab98a80-3d1b-11ea-95fc-3c0de7c8a389.png)

Am I using incorrect syntax or the feature is not available yet?

Thanks

[2020-01-22 21:07] jvivian-atreca commented on #8083
Confirming I get the same bug using the same versions of pandas and beakerx as the original poster.

[2020-01-23 21:31] pdeitel opened #8225 "Java support plan?"
Hi, I am just curious if there is a schedule for supporting newer versions of Java. Will you be supporting intermediate releases? Just LTS releases? Thanks!

[2020-01-28 10:11] #8188 closed, assigned to LeeTZ

[2020-01-28 11:01] #8161 closed, assigned to LeeTZ

[2020-01-28 11:30] #8204 closed, assigned to LeeTZ

[2020-01-28 18:19] caseyjconger commented on #8006
I just wanted to support this. I am no expert, but I have found the permissions and user structure to be quite restrictive. The docker works great as it is, but any sort of extensions, even minor, I've found difficult.

[2020-01-28 22:16] tschm commented on #8006
I haven't touched the dockerfile touched by Beakerx for ages. These days I install beakerx with anaconda in the standard Jupyter docker images. Have a look here https://github.com/lobnek/docker/tree/master/jupyter_classic

[2020-01-29 04:38] LeeTZ opened #8228 "Use %classpath magic to specify version of mysql-connector-java driver"
To avoid bug for every new version of the driver, for SQL users, before using SQL functionalities, they have to add appropriate driver by our magic command:
`%classpath add mvn mysql mysql-connector-java 8.0.18`
If no version is provided, we should download the latest version.

[2020-01-30 20:14] mahsheed commented on #8097
With Beakerx version 1.4.1, I am getting the same warning:
[code]

[2020-01-30 20:40] JohnOmernik commented on #8097
Yes, and when Pandas got updated to 1.0.0 the get_values is gone, and is now erroring out instead of just providing warnings.

[2020-01-31 08:02] #8208 closed, assigned to nobody

[2020-02-05 19:25] mahsheed commented on #8150
@tantra35 , No, it seems that even after installing beakerx, this same error occurs in JupyterLab.

[2020-02-07 13:24] EfimovVladimir opened #8233 "Error big.js invalid number"
try on scala
[code]
we will see nothing in cell output.

There is error in console:
![image](https://user-images.githubusercontent.com/17744188/74032766-d5a58180-49c5-11ea-9c9c-a0df729ef7a7.png)

[2020-02-10 12:22] EfimovVladimir opened #8234 "empty column after deleting highlighters"
try this code on python
[code]
then
`table99.removeAllCellHighlighters()`

we will see empty column
![image](https://user-images.githubusercontent.com/17744188/74149545-0a5d4700-4c19-11ea-8b26-f983b64748ce.png)

[2020-02-10 12:23] EfimovVladimir commented on #8234
on console the error about big.js
![image](https://user-images.githubusercontent.com/17744188/74149632-44c6e400-4c19-11ea-8a73-4cdfd3401b2d.png)

[2020-02-10 12:24] EfimovVladimir commented on #8234
#8233

[2020-02-10 21:15] GorlomiX3 opened #8235 "Data Catalog Panel / Dataset Panel Not Showing"
Hi everyone,

As you can see below, the button for dataset panel is not showing. I've tried installing it using Conda and Pip, on a Mac and Windows to no avail.

Am I missing something?

<img width="509" alt="Capture" src="https://user-images.githubusercontent.com/60900720/74190489-71cac500-4c20-11ea-93c3-07b730f84394.PNG">

[2020-02-11 22:08] ssadedin commented on #8109
Just noting despite all the fixes by @piorek and @LeeTZ  (thanks both!) I am still observing this problem with a fresh build from master.

Would be wonderful to get it fixed!

[2020-02-12 19:19] mahsheed commented on #8150
Hello, I was able to install beakerx_tabledisplay in JupyterLab with pip instead of conda by running the following commands:

[code]

[2020-02-12 19:30] mahsheed commented on #8097
Originally, I got this warning and error mentioned above from following the JupyterLab installation instructions provided from the BeakerX [website](http://beakerx.com/documentation), but installing in the following way instead seems to prevent the error. However, I still get the warning "tabledisplay.py:109: FutureWarning: The 'get_values' method is deprecated and will be removed in a future vers

[2020-02-13 18:25] Ben-Epstein commented on #7543
Is this improvement still being looked at? Native PySpark support would be really great!

[2020-02-13 20:14] Ben-Epstein commented on #8175
Closing this as I'm no longer seeing the issue

[2020-02-13 20:14] #8175 closed, assigned to nobody

[2020-02-15 18:28] tantra35 commented on #8150
@mahsheed i doesn't check this but sounds good, thanks

[2020-02-20 07:58] EfimovVladimir opened #8239 "table link doesn't work"
see doc/groovy/tableAPI.ipynb notebook and cell with links
![image](https://user-images.githubusercontent.com/17744188/74912350-9c124480-53cf-11ea-8fe1-ad0bad5e03a3.png)
The clicking on link doesn't open new window

[2020-02-20 08:38] EfimovVladimir opened #8240 "wrong view of plot menu"
see doc/groovy/levelsOfDetails.ipynb notebook
![image](https://user-images.githubusercontent.com/17744188/74915254-f661d400-53d4-11ea-8c1b-54085d74a491.png)
plot menu always displays all menu items

[2020-02-21 10:38] mardukbp opened #8241 "%import magic in the Java kernel"
It would be very useful to have the %import magic from the Groovy kernel in the Java kernel.

[2020-02-21 11:23] #8239 closed, assigned to piorek, jaroslawmalekcodete

[2020-02-21 15:04] mardukbp opened #8243 "Why use Java 1.8.0-121 and not 1.8.0-242?"
BeakerX enables interactive use of Java libraries, but it turns out that a non-public library I am using does not work with Java 1.8.0-121. Why BeakerX does not use version 1.8.0-242?

[2020-02-24 12:08] psaigal95 opened #8244 "Incomplete plot"
x_data = kbos.index.to_series()
len(x_data)
914197
type(x_data)
pandas.core.series.Series

y_data = kbos['base_px']
len(y_data)
914197
type(y_data)
pandas.core.series.Series

time_plot_2 = TimePlot()
time_plot_2.add(Line(x=x_data, y=y_data))

When I plot this, I see the graph plotted but incomplete or for a very short duration.
Can you please tell me if I am doing something wrong?
Feel free to let

[2020-02-24 12:10] psaigal95 commented on #8244
I checked the console logs as well - they are none.

[2020-02-28 06:58] higumafr commented on #8117
Is there an ETA for publishing 1.5.0 in pypi?
Is something blocking?
I have been using a bit beakerx but some components (1.4.1) are broken when panda is in 1.0.1, like TableDisplay.
Thanks in advance and again a big thanks for the great work.

[2020-03-03 03:19] elefthei opened #8245 "Installing from Git shows no kernels except python3"
I'm trying to build BeakerX from source, hopefully to get autocomplete for Scala. The last release from Conda has no auto-complete unfortunately.

Following these instructions after I cloned the repo.

**Build and Install (linux and mac)**
[code]

I end up with a beakerx only with the Python3 kernel. So I went into `beakerx/kernel` and did `cd kernel; ./gradlew build` to build the JVM based kernel

[2020-03-03 21:44] LeeTZ opened #8246 "Make beakerx compatible with Jupyterlab 2.0"
We will first understand the gap and then create separate issues for migration.

[2020-03-05 16:49] EfimovVladimir commented on #8245
@elefthei  does `conda list` command display beakerx packages?

[code]

[2020-03-08 23:42] Ben-Epstein commented on #8132
I've got this running with BeakerX with a custom build of SparkMonitor https://pypi.org/manage/project/sparkmonitor-s/releases/

But it only works after restarting the kernel once. @LeeTZ I'd be happy to work with you to get it working in a more stable way!

[2020-03-09 02:33] elefthei commented on #8245
yep, all are there.

[2020-03-09 05:36] geyang commented on #6760
How to fix this? thanks.

[2020-03-09 05:45] geyang commented on #6760
for future travelings:
[code]

[2020-03-09 22:24] SichongP commented on #8097
Is there a timeline to release a fix to conda repo? Now it errors out instead of giving warnings with pandas at 1.0.0:
[code]

I have following packages:
\- beakerx=1.4.1=py37_1
\- pandas=1.0.0=py37h0573a6f_0
\- numpy=1.18.1=py37h4f9e942_0
\- jupyterlab=1.2.6=py_0

[2020-03-10 12:44] JohnOmernik commented on #8097
This has to do with an issue between beakerx and Pandas 1.0, hence why we
were getting future warnings on the version of Pandas just prior to 1.0, it
was warning us something was going away, now that Pandas is 1.0, this is
not working.

On Mon, Mar 9, 2020 at 5:24 PM Sichong <notifications@github.com> wrote:

[2020-03-10 13:07] EfimovVladimir opened #8248 "autotranslation pandas error"
see test\ipynb\groovy\autotranslationPandas.ipynb notebook

![image](https://user-images.githubusercontent.com/17744188/76315136-2a9c2680-62e9-11ea-8cd8-5ed4dc562bcf.png)
![image](https://user-images.githubusercontent.com/17744188/76315078-0fc9b200-62e9-11ea-8230-8fbdd7b2b0bd.png)

[2020-03-10 13:57] SichongP commented on #8097
Yes I got that the issue was caused by a deprecated function call in beakerx. I was wondering when it will be updated to be compatible with latest pandas?

Right now I can make it work by downgrading pandas but at some point people will surely need later versions of pandas.

This seems to have been fixed in the master branch but not in conda repo?

[2020-03-15 09:24] deganza opened #8252 "TableDisplay - AttributeError: 'Series' object has no attribute 'get_values'"
Beakerx was working until a few weekly perfect.

The following command shows a beakerx table:
TableDisplay([{'y1':4, 'm3':2, 'z2':1}, {'m3':4, 'z2':2}])

But for a DataFrame it get's the error:
AttributeError: 'Series' object has no attribute 'get_values'

df = ([{'y1':4, 'm3':2, 'z2':1}, {'m3':4, 'z2':2}])
df = pd.DataFrame(df)
TableDisplay(df)

See also the picture below
![beakerx](https://user-

[2020-03-18 03:00] Ben-Epstein opened #8255 "R support"
Is there a timeline to supporting R? I see a few old open issues but they haven't had activity in over a year.

Is this on the roadmap at all?

Thanks!

[2020-03-19 23:20] happy-code-com opened #8256 "SQL JDBC Presto - Error java.lang.NullPointerException"
Good day
I have a problem connecting the presto driver

[code]

I can not figure it out and I can not see the full error trace.

![image](https://user-images.githubusercontent.com/2848403/77123320-d44d8700-6a50-11ea-9199-c8c60f08ff69.png)

[2020-03-20 00:15] happy-code-com commented on #8256
It's my error. I deleted the presto jar from the library folder and error 'java.lang.NullPointerException' disappeared, but a new one appeared - No suitable driver
![image](https://user-images.githubusercontent.com/2848403/77126093-fb0fbb80-6a58-11ea-956f-29807b8033ca.png)

----
UP.2020.03.21

I am install beakerx into docker and have NullPointerException error again:

docker run -p 8888:8888 beak

[2020-03-26 10:28] deganza commented on #8252
the workaround until now is to install the old pandas version with:
pip install pandas==0.25.3
and then beakerx works again

[2020-03-28 05:14] kundeng commented on #7965
Is there a workaround??

[2020-03-31 06:08] psaigal95 commented on #8244
Was anyone able to check this ?

[2020-03-31 13:52] diyoyo opened #8259 "Registry key 'Software\JavaSoft\Java Runtime Environment\CurrentVersion' has value '1.8', but '1.6' is required."
Hi,
I don't understand this error when trying to launch a Java jupyter notebook

It is weird that I am actually asked to downgrade, isn't it?
Thanks.

[2020-04-02 12:54] langusta commented on #8252
You can also do this:

[code]
although it would be best to have support for pandas 1.x .

[2020-04-02 16:23] EfimovVladimir commented on #8252
You can use beakerx from git source.
It doesn't reproduced there.

![image](https://user-images.githubusercontent.com/17744188/78272949-d581b800-7516-11ea-8254-958e6c92a5ff.png)

[2020-04-02 21:10] psaigal95 commented on #8244
@scottdraves Do we have a limit on the number of datapoints somewhere? I am trying to plot 1 million datapoints but I don;t see the graph completely - it gets plot but certainly not for 1 million datapoints.
There are no console logs as well.
Can you please help me out here?

[2020-04-03 05:12] psaigal95 commented on #8252
I am facing the same issue.
@deganza ,with this pandas==0.25.3, beakerx stop working

[2020-04-03 06:01] deganza commented on #8252
@psaigal95 : you have to add the following code than it's working again:

from beakerx import *
from beakerx.object import beakerx

[2020-04-03 06:02] deganza commented on #8252
How it's possible to install from git source with pip and in Google Collaboratory?

[2020-04-03 09:37] psaigal95 commented on #8244
@LeeTZ @jaroslawmalekcodete can you please check this? Sorry to bother you - have been stuck on this one for quite some time.

[2020-04-03 14:01] EfimovVladimir opened #8263 "Create warning message about limits"
code (python) for checking:
[code]
![image](https://user-images.githubusercontent.com/17744188/78368484-62d31400-75cc-11ea-926e-448db9812676.png)
We have limits = 10000 of objects for Plots without any warning message.

We needs create warning message about limits of data, like we done for another widgets:
![image](https://user-images.githubusercontent.com/17744188/78367936-86e22580-75cb-11ea-84dc

[2020-04-03 14:02] EfimovVladimir commented on #8244
#8263

[2020-04-07 14:50] farhan5900 opened #8264 "Extension is not working for JupyterLab version 2.0.0"
I have following setup:
`jupyter --version`:
[code]
`conda --version`: `conda 4.8.2`

After installing beakerx using `pip` and `beakerx install`:
`beakerx --version`:  `1.4.1`

Till this point everything is working, but when I tried to install lab extension
`jupyter labextension install beakerx-jupyterlab@1.4.1`
it fails to open lab UI with this error:
[code]
If we don't install lab extension, lab

[2020-04-08 13:34] EfimovVladimir opened #8265 "Empty tables (classic notebook)"
The table doesn't work on classic notebook:
![image](https://user-images.githubusercontent.com/17744188/78789490-dfdc0000-79b5-11ea-9ffb-672aec95661b.png)

notebook version:
[code]

[2020-04-13 16:54] kdowney-lot49 opened #8266 "js/lab fails to build with Jupyter Lab 1.2.9 + master"
I am trying to do a local build in my Dockerfile to pull in beakerx 1.5.0, and while the beakerx modules all work, the labextension fails to build with an error about a bad reference to ../lib/tree.js in dist.

[code]

The error is below:

[LabBuildApp] yarn run v1.15.2
$ jlpm run build:dev
$ jlpm run build
$ webpack
ModuleNotFoundError: Module not found: Error: Can't resolve '../lib/tree.js' in '

[2020-04-13 17:17] kdowney-lot49 opened #8267 "missing beakerx.button"
With latest code on Jupyter Lab 1.2.9 with the standard labextension (see previous issue) I get the following error when doing a simple "from beakerx import *":

[code]

ModuleNotFoundError                       Traceback (most recent call last)
<ipython-input-1-da693cf0de24> in <module>
      2 import pandas as pd
      3
----> 4 from beakerx import *
      5 from beakerx.object import beakerx

/

[2020-04-13 17:29] kdowney-lot49 commented on #8267
I tried to copy over button and got a bit further (missing "bottle" and "pyspark" dependencies) but then it breaks again on a pyspark API change:

    124         )
    125     else:
--> 126         return types.CodeType(
    127             co.co_argcount,
    128             co.co_kwonlyargcount,

TypeError: an integer is required (got type bytes)

[2020-04-13 17:40] kdowney-lot49 commented on #8267
Latter is because I'm on Python 3.8, which PySpark 2.4.5 does not support.

[2020-04-15 12:37] #8233 closed, assigned to jaroslawmalekcodete

[2020-04-15 12:41] #8234 closed, assigned to jaroslawmalekcodete

[2020-04-15 13:09] ildipo commented on #8264
Not yet supported. We are working on it

[2020-04-15 13:18] EfimovVladimir opened #8268 "Spark error"
see the doc\scala\Spark.ipynb notebook

There are error when we use spark:

![image](https://user-images.githubusercontent.com/17744188/79341349-50de6300-7f34-11ea-8bbf-731b8d8e7e3e.png)

[2020-04-15 13:48] jaroslawmalekcodete opened #8269 "java 11 kernel"

[2020-04-15 19:52] Ben-Epstein opened #8271 "Heatmap/Data bars Don't work on tables from SQL"
When you run SQL queries and the output is as a tabledisplay, the databar and heatmap features don't work. They work fine with Pandas dataframes.

[2020-04-24 10:25] #8268 closed, assigned to jaroslawmalekcodete

[2020-04-27 12:50] piorek commented on #8265
@ildipo I've talked with @jaroslawmalekcodete and i'll try to investigate what have broken and revert only that

[2020-04-27 15:42] benmccann opened #8274 "Groovy 3"
Groovy 3.0 is the latest stable version: https://groovy.apache.org/download.html

It looks like beakerx uses 2.5.6: https://github.com/twosigma/beakerx/blob/master/kernel/groovy/build.gradle#L44

I'd love to see the Groovy version updated. Some of the issues I most frequently encounter I believe would be fixed by Groovy 3. E.g. Groovy 3 supports lambda expressions

[2020-05-05 19:43] piorek commented on #8265
@jaroslawmalekcodete @ildipo

Error is caused by one of those packages
- @phosphor/datagrid
- @phosphor/datastore
- @phosphor/widgets

I had to pin those package versions to the highest known working one.
We will be replacing them with @lumino/* ones and then I will unpin them.

As I had to check package by package investigating this issue I updated many devDependencies to highest working version.

[2020-05-08 10:38] EfimovVladimir opened #8279 "build error: Cannot redeclare block-scoped variable 'tz'."
when we run

we get error
on windows:

on linux:

[2020-05-08 10:41] EfimovVladimir commented on #8279
after we run `(cd beakerx; pip install -r requirements.txt --verbose)` second time - the build is successful

[2020-05-12 09:56] angelcervera opened #8281 "Error reading ORC files from Spark 2.4.* (ANTLR versions)"
# Description
It is not possible to read ORC files from Spark, at least using the docker image.

# Steps to reproduce the error:

1. Start docker instance:
[code]

2. Create a Scala notebook and try to create a orc file:
[code]

3. Output

[code]

# Notes
There are other issues related to mixing ANT versions in the classloader from different kernels. If this is the case, which docker image I must

[2020-05-13 17:33] mahsheed opened #8282 "Visualize vertical scrollbar for tables with many columns following TableDisplay"
Hello. For tables with many columns, is there a way to view the vertical scrollbar without having to scroll past many columns, such as by customizing the window size or through a property that lets you pin the scrollbar to the right of the viewable window, regardless of column position? I am using TableDisplay(pandas.DataFrame()) in a JupyterLab environment. I would appreciate any information.

I

[2020-05-22 17:44] ThibTrip opened #8284 "[BUG] %%classpath add mvn not working with POM"
Hello,

I tried the snippet below found in [ClasspathMagicCommands.ipynb](https://github.com/twosigma/beakerx/blob/master/doc/groovy/ClasspathMagicCommands.ipynb
) in Binder and a local installation and it did not work.

# Snippet
In:
[code]
Out:
[code]

# Notes on my use case

I'd like to be able to put the content of my pom.xml and have it loaded via a magic command as I use Jupyter Lab to make

[2020-06-03 01:25] mcai4gl2 opened #8285 "Next Release timeline"
Hi Team

The last release for beakerx was Aug 2019. Is there any plan for a new release from master anytime soon? There are several new features already on master which I am interested in.

Thanks

[2020-06-03 13:52] afshin opened #8286 "Switching kernels in a notebook with tabledisplay causes a runtime error."
If a notebook has a BeakerX tabledisplay in it and the user switches kernels, the keydown handler for tabledisplay functionality causes a failure here: https://github.com/twosigma/beakerx/blob/bef44325c1b98c813a4efd244e15e7ec2f84fe03/js/lab/src/plugin/index.ts#L83

As a general principle, if we can remove the need for `window.beakerx` in favor of a private module variable, it would be better pract

[2020-06-08 17:27] iynehz commented on #8246
@piorek what's the status of this? thanks!

[2020-06-08 20:23] haloforensics commented on #8264
Hello,

Is there an ETA for JupyterLab 2.x support?

Thanks!

[2020-06-20 07:49] karlduderstadt commented on #8264
We also received the same error. We are very eager to start using the plots with Jupyterlab 2.x. Can we help by testing something?

[2020-06-26 03:15] matheusmota commented on #8063
Same problem here. Does anybody has any suggestion?

Tried importing the jar file:
`%classpath add jar ../resources/jars/mysql-connector-java-8.0.17.jar`

And loading it from maven:
` %classpath add mvn mysql mysql-connector-java 8.0.18`

Both do not work.

Thanks

[2020-06-26 12:58] ildipo commented on #8285
We are refactoring the codebase and we'll release the new version once this is done.

[2020-06-29 12:32] #8265 closed, assigned to piorek, jaroslawmalekcodete

[2020-06-29 12:53] EfimovVladimir commented on #8240
it reproduced on jupyter Lab

[2020-06-30 20:35] #8248 closed, assigned to jaroslawmalekcodete

[2020-06-30 20:35] #8269 closed, assigned to ildipo

[2020-06-30 20:40] #8224 closed, assigned to LeeTZ

[2020-07-01 13:38] jaroslawmalekcodete commented on #8271
Hi
could you add the simple, reproducible example?

[2020-07-01 13:45] Ben-Epstein commented on #8271
@jaroslawmalekcodete Hello, thanks for checking in. If you go to the [binder](https://mybinder.org/v2/gh/twosigma/beakerx/1.5.0?filepath=StartHere.ipynb) and run the SQL notebook under **Languages** The 3rd cell is a `SELECT` query.

If you click the dropdown for the numeric columns and choose heatmap or databars, neither work as expected. The same features work fine with Pandas display tables. I'

[2020-07-02 12:58] #8256 closed, assigned to ildipo

[2020-07-02 12:59] ildipo commented on #8255
Sorry this is outside our roadmap but if you want to give it a shoot feel free to submit a PR.

[2020-07-02 12:59] #8255 closed, assigned to nobody

[2020-07-02 19:01] #8160 closed, assigned to piorek

[2020-07-02 19:30] #8214 closed, assigned to LeeTZ

[2020-07-02 19:54] #8162 closed, assigned to LeeTZ

[2020-07-02 20:00] #8153 closed, assigned to LeeTZ

[2020-07-02 20:18] #7876 closed, assigned to nobody

[2020-07-03 06:52] EfimovVladimir commented on #8284
It can be reproduced on beakerx 1.4.0.
On current master it was fixed. @ThibTrip you can try to install master using our [instructions](https://github.com/twosigma/beakerx#build-and-install-linux-and-mac) or wait next release.

[2020-07-03 12:09] #8284 closed, assigned to jaroslawmalekcodete

[2020-07-03 12:48] jaroslawmalekcodete commented on #8274
upgrade to groovy 3 in https://github.com/twosigma/beakerx_kernel_groovy/pull/5

[2020-07-03 13:01] jaroslawmalekcodete commented on #8243
Hi @mardukbp
[Here]( https://github.com/twosigma/beakerx/pull/8270) switched to  java  11.
You can try to install master using our [instructions](https://github.com/twosigma/beakerx#build-and-install-linux-and-mac) or wait  for the next release.

[2020-07-07 11:09] jaroslawmalekcodete commented on #8281
Hi @angelcervera
It looks like we need to release new  docker image, but I checked our master and your example works fine

![spark_2 4 5](https://user-images.githubusercontent.com/21952713/86771335-54c0e380-c052-11ea-8f95-35082917901f.png)

It looks like that you can build a docker image from master using [instructions](https://github.com/twosigma/beakerx/blob/master/RELEASE.md#release-to-docker-h

[2020-07-08 08:09] torressa opened #8288 "Question: TableDisplay Doubleclick for filtered view"
Hi!
First of all thanks for the hard work, really cool stuff!

I'm implementing a double-click plotting feature on a `TableDisplay` from a `pandas.DataFrame` on a jupyter notebook.
Basically, double-click on the row you want, and a plot appears by extracting the relevant index and plotting

[code]
Works completely fine when the table is in full view, however, as soon as you sort, search or filter

[2020-07-08 09:08] EfimovVladimir opened #8289 "Disappearing column"
try last cell in test/ipynb/python/TableDisplayWIthIndex.ipynb notebook
![image](https://user-images.githubusercontent.com/17744188/86900171-aed5ad80-c113-11ea-9306-1f83b2b2639c.png)

[2020-07-08 09:10] EfimovVladimir commented on #8289
#8194

[2020-07-08 09:34] EfimovVladimir opened #8290 "Search for substring doesn't work"
search on table doesn't work
![image](https://user-images.githubusercontent.com/17744188/86902224-55bb4900-c116-11ea-9710-2cf4ae05d451.png)
![image](https://user-images.githubusercontent.com/17744188/86902645-ea25ab80-c116-11ea-9a41-a90fee71d036.png)
for reproduce bug you can use table from this test/ipynb/groovy/TableAPITest.ipynb  notebook or any else

[2020-07-22 09:19] meta-forte commented on #6583
beakerx does not seem to honour my .m2/settings.xml configuration
It is downloading to C drive only, even though I configured to use D drive
[code]

[2020-07-22 18:01] meta-forte opened #8294 "M2_HOME variable not recognized when I install beakerx via pip"
I have my M2_HOME set to d drive.
However, BeakerX is downloading the jars to the virtualENV's share folder.
 (%virtual_env_folder%\beakerx\maven\cache)

[2020-07-29 13:55] haloforensics commented on #8264
Just checking back in to see if there is an ETA for JupyterLab 2.x support?

[2020-07-29 13:57] feldoh commented on #8264
Same issue here. @ildipo is there an ETA or beta version we could try or help with.

[2020-08-07 10:50] dstieglitz opened #8297 "Type checking service fails when building for jupyterlab"
Hello!

Whilst following the jupyterlab build instructions in the README, we're encountering this error during the yarn build:

[code]

Has anyone seen this before? It seems to be typescript related, but the error is coming from jupyter-widgets, perhaps a recent change needs to be addressed?

Environment:

[code]

[2020-08-07 16:22] dstieglitz commented on #8297
Additional information, this is happening in a Docker image from ubuntu 20.04, but also 16.04, using yarn 1.19.1, and node 12.12.0.

Any hits/suggestions as to where to look to solve this would be appreciated.

[2020-08-08 15:38] dstieglitz commented on #8297
Should anyone else encounter this, it was due to a dependency conflict. Ensure your conda environment is correctly configured.

[2020-08-08 15:38] #8297 closed, assigned to nobody

[2020-08-09 13:26] iynehz commented on #8264
Same here. Now beakerx is the only blocker for us to adopt Jupyterlab 2. I see there is a similar ticket https://github.com/twosigma/beakerx/issues/8246 but that's not moving..

[2020-08-10 10:01] Hubbitus opened #8298 "hub.docker.com contains outdated version (1.3.0) of beakerX"
I see by tags there at least 1.5.0 released.

Could you please update official images on docker hub?

[2020-08-10 14:48] itsergiu opened #8299 "http://beakerx.com - Sse is not secure"
Antivirus is blocking access to site. Why not move the site to https?

![image](https://user-images.githubusercontent.com/28391561/89795889-a0731b00-db31-11ea-9ba7-0329f2cd5a7d.png)

[2020-08-12 14:27] dirkcgrunwald opened #8300 "Hanging after upgrading to jupyterlab-2.1.5"
We use an environment where we add beakerx on top of docker-stacks:datascience-notebook

I recently upgraded this to the version that used jupyterlab 2.1.5 (most recent in docker hub) and now when the container running beakerx starts, it "hangs" -- looking at the processes within the container, the only processes are python/jupyterlab.

Does beakerx depend on jupyterlab 1.x?

The Dockerfile we've

[2020-08-13 11:09] Hubbitus opened #8301 "Build failed: ModuleNotFoundError: Module not found: Error: Can't resolve '@phosphor/datagrid' in '/opt/conda/envs/beakerx/share/jupyter/lab/staging/node_modules/beakerx-jupyterlab/lib'"
I use provided in repository `Dockerfile` to build.
`jupyter labextension install .` command in it (from `setup.sh`) failed.

It is not verbose, so I run `jupyter labextension install --debug .`:
[code]

[2020-08-20 12:31] roger-mahler commented on #8300
Yes, JupyterLab 2.x is not supported yet: https://github.com/twosigma/beakerx/issues/8246

[2020-09-02 13:26] Ben-Epstein commented on #7702
@jdavidheiser Is there any update on this issue? I'm seeing the same problem and would ideally like to be able to call moment.tz.setDefault. How would you set the default from the client side?

[2020-09-06 06:55] alxcnwy opened #8302 "Beaker demo "Python API for Table Display" doesn't work"
I'm evaluating Beaker and the  "Python API for Table Display" demo returns the following error on cell 3:

---------------------------------------------------------------------------
AttributeError                            Traceback (most recent call last)
<ipython-input-3-9387149ae699> in <module>
----> 1 table = TableDisplay(pd.read_csv('../resources/data/interest-rates.csv'))
      2 table.se

[2020-09-08 11:15] EfimovVladimir opened #8303 "EasyForm Name invisible on dark theme"
![image](https://user-images.githubusercontent.com/17744188/92469493-8fbfce80-f1dd-11ea-9d18-feec049bbbf8.png)

[2020-09-08 11:30] EfimovVladimir opened #8304 "SparkUI dark theme"
![image](https://user-images.githubusercontent.com/17744188/92470729-8d5e7400-f1df-11ea-8b01-d3460f624db9.png)

Expected result is dark background of fields.

[2020-09-23 04:49] posenato opened #8305 "Is pip3 installation possible yet?"
Hi,
I would like to use beakerx with Python and Java kernels.
I tried to install it via pip3 on my MacBook but I noted that not everything works well.

SUMMARY OF ISSUE
1. The package beakerx-kernel-java (2.0.1)  does not install Java kernel
2. The package beakerx-all (2.0.1) does not install because it has the following error:
[code]
**beakerx-widgets does not exist!**
3. In order to use Java ker

[2020-09-26 11:27] shivendra90 opened #8306 "IPython won't print output after installation of optional beakerx modules"
Hello,

I installed the latest beakerx with its optional modules such as `tabledisplay`. Before beakerx, on IPython consoles, running simple commands would produce outputs as expected. However after installation of optional modules, I have to add the print() command to return the same output.

For example:
[code]
Would return descriptive stats without the print function. Now, after installation of

[2020-09-27 21:19] ildipo commented on #8302
Please install latest version of BeakerX

`conda install -c beakerx beakerx_all`

[2020-09-27 21:20] ildipo commented on #8305
@EfimovVladimir Can you verify this please?

[2020-09-27 21:21] ildipo commented on #8306
@EfimovVladimir Can you verify this please?

[2020-09-28 05:28] shivendra90 commented on #8306
Please do note that this is after installation of `beakerx_widgets` and `beakerx_tabledisplay` modules.

[2020-09-28 13:32] Berezhnyk commented on #8306
BeakerX uses a deprecated function. See this: https://github.com/welfare-state-analytics/welfare_state_analytics/issues/51#issuecomment-595743523

[2020-09-28 15:03] Berezhnyk commented on #8305
I have the same issue. I tried to install it with Anaconda ``conda install -c beakerx beakerx_widgets`` but I get the following:

![image](https://user-images.githubusercontent.com/6099167/94449566-e3a64d80-01b4-11eb-90e9-0a155676de97.png)

[2020-09-28 15:10] Berezhnyk commented on #8285
Any estimates?

[2020-10-01 14:34] EfimovVladimir opened #8307 "JScript error on Autotranslation doc"
![image](https://user-images.githubusercontent.com/17744188/94823192-4180a280-040c-11eb-9012-dc5cbcce6782.png)

[2020-10-01 14:53] EfimovVladimir commented on #8305
@Berezhnyk does it help you if you will install  python like `conda install python=3.7.5` for your "base3-6" env?

[2020-10-01 15:09] Berezhnyk commented on #8305
No, it doesn't help
![image](https://user-images.githubusercontent.com/6099167/94827482-2a907f00-0411-11eb-93de-16ad259084bc.png)

[2020-10-01 15:29] EfimovVladimir commented on #8306
@shivendra90 @Berezhnyk may be you are not correctly installed beakerx
not reproduced on jupyter notebook
![image](https://user-images.githubusercontent.com/17744188/94829757-88be6180-0413-11eb-91ad-ba9f0248814c.png)

not reproduced on IPython console
![image](https://user-images.githubusercontent.com/17744188/94829901-ac81a780-0413-11eb-9d9f-66f85fc375c3.png)

try to install beakerx on new conda

[2020-10-01 15:42] EfimovVladimir commented on #8305
@Berezhnyk could you try to install beakerx on new conda environment with python 3.7.5 and openjdk=11.0.1 like
[code]

[2020-10-03 08:32] shivendra90 commented on #8306
@EfimovVladimir Ok thanks. Could be the missing `open_jdk`.

[2020-10-03 08:32] #8306 closed, assigned to EfimovVladimir

[2020-10-14 13:51] Ben-Epstein commented on #8183
Is there any work being done on this ticket? It is blocking for me as well.

[2020-10-16 08:23] posenato commented on #8305
Dear all,
this thread should be around pip installation, no about a conda installation issue.

My original question was simple: is it yet possible to install BeakerX 2.* by pip3?
Or, it is necessary to install 'conda' and, then, BeakerX?

Thanks :-)

[2020-10-19 06:43] EfimovVladimir commented on #8305
installation error with pip reproduced for me too
[code]

[2020-11-16 15:27] ronnac commented on #8305
Same problem here. Is it possible to compile the code from source (e.g. v1.5) and install it from there? What steps are necessary?

[2020-11-18 19:54] mahsheed commented on #8166
Hi, I am having the same issue, and I am rendering my BeakerX table in both JupyterLab and Voila. Do you know if there has been a fix for this issue yet?

[2020-12-01 13:37] abhi18av opened #8308 "How to use a custom version of Clojure in BeakerX?"
Hi team,

Thank for this wonderful project!

I was wondering how could I use `clojure 1.10.1` instead of `clojure 1.9` which seems to be the default version in `beakerx` clojure kernel.

[2020-12-03 08:14] #7853 closed, assigned to nobody

[2020-12-14 16:25] jinchen-hou commented on #8305
Same error as @Berezhnyk and I tried all the following, still does not work.
[code]
Anyone could help?

[2020-12-15 17:54] jobevers commented on #8305
There is no beakerx-widgets package on pypi:

![image](https://user-images.githubusercontent.com/2380127/102252865-9f356e80-3ed4-11eb-97ed-60dbd35b9246.png)

[2020-12-15 18:08] jobevers commented on #8305
I was able to clone the repo and pip install the beakerx_widgets package: https://github.com/twosigma/beakerx_widgets/tree/master/beakerx_widgets

pip install beakerx_all still breaks though so you'll have to manually install the other sub-packages.

[2020-12-21 15:18] sapphire008 commented on #7543
I also would love to see BeakerX working with PySpark, a much needed feature.

[2020-12-29 23:49] dstieglitz commented on #6899
@tb8900 what was the issue?

[2020-12-31 22:03] Ben-Epstein commented on #8264
@ildipo are there plans to add support for Jupyterlab 2? Jupyterlab 3 is out now.

[2021-01-01 02:49] dstieglitz commented on #8264
We're happy to help as well if folks want to collaborate.

[2021-01-04 18:12] dstieglitz commented on #8264
Folks, we're coordinating a loose group to tackle this, please feel free to reach out to me for an invite to our Slack group.

[2021-01-09 13:19] bsurnida commented on #8183
+1

[2021-01-11 04:53] benmccann commented on #8274
That's great! So it looks like this is done and just requires a new release? (https://github.com/twosigma/beakerx/issues/8285)

Is there any chance that might happen? [It kind of looks like beakerx is no longer being developed/maintained](https://github.com/twosigma/beakerx/graphs/contributors)?

[2021-04-21 10:10] #8288 closed, assigned to nobody

[2022-09-20 20:50] #8071 closed, assigned to nobody