[2015-10-01 09:37] jonassmedegaard commented on #2561
Quoting Scott Draves (2015-10-01 04:11:37)

I noticed the hashes, but failed to find a match:

hash=$(echo beaker-notebook-v1.3.4-0-g37d7759-ubuntu.zip | cut -d- -f5)
git clone https://github.com/twosigma/beaker-notebook
cd beaker-notebook
git log "$hash" --

...leads to "fatal: bad revision 'g37d7759'" :-(

I don't use Github much myself so am not familiar with their
constraints, nor the differen

[2015-10-01 10:14] mnavasiolava opened #2571 "Edit menu items crash electron for windows os"

[2015-10-01 11:23] ildipo opened #2573 "nodejs - language plugin - shell isolation"
Integrate node-threads-a-gogo in the nodejs language plugin and execute each shell in a different thread.

[2015-10-01 11:24] ildipo opened #2574 "nodejs - language plugin - async execution"
integrate cometd in nodejs language plugin to have async execution of notebook cells

[2015-10-01 11:50] ildipo opened #2575 "nodejs - language plugin - add beaker object"
define a beaker proxy object in nodejs shells for access to shared variables and functions

[2015-10-01 11:55] ildipo opened #2576 "nodejs - language plugin - preserve values across cell invocation"
if you do x = 10 in a nodejs shell then
'x' should have value 10 in the ext nodejs shell - you should be able to do this one you have a thread per shell

[2015-10-01 11:57] ildipo opened #2577 "nodejs - language plugin - autocompletion"
We would like autocompletion for nodejs language plugin.
You should use introspection (looking into the environment) and/or source code parsing e.g. with TypeScript (DefinitelyTypes.org)

[2015-10-01 12:06] ildipo commented on #2554
This is working as expected for me

[2015-10-01 12:07] ildipo commented on #2551
This is working fine

[2015-10-01 12:07] #2551 closed, assigned to ildipo

[2015-10-01 13:26] ildipo commented on #2567
I'll do this one

[2015-10-01 13:35] #2543 closed, assigned to sethkrasnianski

[2015-10-01 13:36] #2536 closed, assigned to sethkrasnianski

[2015-10-01 13:56] #2393 closed, assigned to grin

[2015-10-01 13:56] ildipo commented on #2545
actually it does not fix it

[2015-10-01 13:57] #2552 closed, assigned to ildipo

[2015-10-01 14:10] ildipo commented on #2567
deployed in pub-staging

[2015-10-01 14:11] ildipo commented on #2541
not working

[2015-10-01 14:27] sethkrasnianski commented on #2563
Three color options per your label & bg color suggestion, @scottdraves.

<img width="324" alt="screen shot 2015-10-01 at 10 21 36 am" src="https://cloud.githubusercontent.com/assets/1910114/10223368/a317ce92-6826-11e5-8452-fa784c99ebfc.png">
<img width="322" alt="screen shot 2015-10-01 at 10 23 35 am" src="https://cloud.githubusercontent.com/assets/1910114/10223369/a31a174c-6826-11e5-8ccd-081805df

[2015-10-01 14:27] sethkrasnianski commented on #2563
Actually, the ellipsis in the label should be removed

[2015-10-01 14:35] ildipo commented on #2563
I like the first

[2015-10-01 14:50] maksim-lauryk commented on #2558
added custom error processing for bad variable names
e.g.
![err_cases](https://cloud.githubusercontent.com/assets/13995034/10224029/c6287e48-6864-11e5-8fbb-b65d6b31ce55.PNG)

[2015-10-01 14:52] planyon commented on #2554
This is working now, Bartek fixed it.

[2015-10-01 14:52] #2554 closed, assigned to planyon

[2015-10-01 15:02] scottdraves commented on #2563
1s is fine just put in "Enter a Keyword" instead of "Financial Statistics".
Or leave it blank.

[2015-10-01 15:18] scottdraves commented on #1806
i think it should produce this:

[code]

but with a different namespace....
it is not an error.

[2015-10-01 16:01] sethkrasnianski commented on #1798
Regarding @samccone's [comment](https://github.com/twosigma/beaker-notebook/issues/1798#issuecomment-120925388), stylus is virtually identical and doesn't cause any headaches (like node-sass). You wouldn't really notice a difference when styling Beaker. It's a fairly quick migration. I'd be happy to give it a go if you'd like.

[2015-10-01 16:10] sethkrasnianski commented on #1798
Or alternatively, gulp-sass could be switched in favor of using [gulp-ruby-sass](https://github.com/sindresorhus/gulp-ruby-sass) which internally leverages ruby's (reliable) version instead of libsass.

[2015-10-01 16:12] scottdraves commented on #1798
we went with ruby.
still looking to replace gulp.

[2015-10-01 16:16] sethkrasnianski commented on #1798
Any ideas as to what you would like to replace it with?
Is gulp causing other problems aside from the node-sass issue?

[2015-10-01 16:20] grin commented on #2545
@ildipo are you talking about bullet points and indentation alone? If I go to https://pub.beakernotebook.com/#/publications/560b54da-3c14-4890-8b64-b204bc798320 it shows bullets properly indented...
for the issue with {{}} syntax and block quotes I'm working on a fix right now...

[2015-10-01 16:22] grin commented on #2541
@ildipo  can you give an example where it's not working? Thanks.

[2015-10-01 16:27] grin commented on #2567
Not sure if it was fixed, if not we could also change image scaling method to `ultra-quality`. Should be less likely to produce that noise pattern (if that was the issue). All available scaling methods are listed here: https://github.com/josephwilk/image-resizer/blob/master/src/image_resizer/scale_methods.clj

[2015-10-01 16:37] ildipo commented on #2541
https://pub.beakernotebook.com/#/publications/560b4726-ce94-4e2a-820a-8c828094e309?fullscreen=false

The list of demos and examples should have bullet points

[2015-10-01 16:37] ildipo commented on #2567
did it already on pub-staging

[2015-10-01 17:12] grin commented on #2541
In that particular example the issue is that those lists have incorrect syntax in the notebook source file, they both are missing parent `<ul>` or  `<ol>` elements. In my recent fix I changed list bullet styling in Publications to the default value, same as it is in Beaker: https://github.com/twosigma/bunsen/commit/7a1142309a96bf8aca12c5321e8077b95cfa1c37
but I won't be able to use the same fix he

[2015-10-01 17:15] scottdraves commented on #2541
yea give me a sec

[2015-10-01 17:21] #2525 closed, assigned to maxyeg

[2015-10-01 17:25] scottdraves commented on #1798
see https://github.com/twosigma/beaker-notebook/issues/2562 for my answers and any further discussion

[2015-10-01 17:30] #2571 closed, assigned to mnavasiolava

[2015-10-01 17:30] #2558 closed, assigned to maksim-lauryk

[2015-10-01 17:42] scottdraves commented on #2541
actually if i do that then the indentation in the HTML cell goes wrong.
so I think we should take this fix, and fix ul/li in Beaker and this tut later.
https://github.com/twosigma/beaker-notebook/issues/2582
once this is deployed i'll update the tutorial.

[2015-10-01 17:47] scottdraves opened #2582 "html ul/li indented incorrectly"
![screen shot 2015-10-01 at 1 46 15 pm](https://cloud.githubusercontent.com/assets/963093/10228829/e5022e8a-6842-11e5-9c68-937d95b619e8.png)

[2015-10-01 18:02] planyon commented on #2211
What are thoughts on, for users that are logged in, placing the "Create" button where the "Get Started" button is for users who are not logged in (since get started is not displayed for users logged in) and that button can lead to the upload publication form?

[2015-10-01 18:07] #2563 closed, assigned to sethkrasnianski

[2015-10-01 19:25] #2553 closed, assigned to maxyeg

[2015-10-01 19:25] #2540 closed, assigned to maksim-lauryk

[2015-10-01 19:25] #2567 closed, assigned to ildipo

[2015-10-01 19:51] #2343 closed, assigned to nobody

[2015-10-01 20:00] planyon opened #2585 "Filtering by author should always take user to the first page of results."
Right now, whenever filtering by author, pagination is not reset so the user starts on the author list on whichever page they were on from the previous list. When filtering by author, load the first page of the list.

[2015-10-01 20:01] scottdraves opened #2586 "vertical spacing of bullet items too small"
in the app:
![screen shot 2015-10-01 at 4 00 23 pm](https://cloud.githubusercontent.com/assets/963093/10232258/aa19cbee-6855-11e5-9593-95f7b3f6062c.png)
vs on pub:
![screen shot 2015-10-01 at 3 59 52 pm](https://cloud.githubusercontent.com/assets/963093/10232259/aa1c252e-6855-11e5-92d1-0be9e7c03988.png)

[2015-10-01 20:08] scottdraves opened #2587 "code font in markdown should be roboto mono"
https://pub.beakernotebook.com/#/publications/560d926e-ecbe-4fab-92f2-e0665e0c369c
![screen shot 2015-10-01 at 4 07 41 pm](https://cloud.githubusercontent.com/assets/963093/10232411/9a17dd7a-6856-11e5-8b1b-d357af0f9ec7.png)

[2015-10-01 20:15] scottdraves opened #2588 "need unlisted option for pub"
so that if you want to share privately or are just testing, you can post a notebook that can't be found search or browsing, only if you know the ID or URL.

should be just a checkbox in the pub form.

[2015-10-01 21:58] scottdraves commented on #2561
previous: https://github.com/twosigma/beaker-notebook/releases/tag/1.3.4
current (as of today!): https://github.com/twosigma/beaker-notebook/releases/tag/1.4
going forward i will release src zip as well.

[2015-10-01 22:22] grin commented on #2545
Fixed in: https://github.com/twosigma/bunsen/pull/1218

[2015-10-02 07:16] maksim-lauryk commented on #1806
I tried to run this code in a REPL. It executes code line by line and #'sandbox10869/fib-step is an output for the first line. If we execute our code fully, we get the same error:
![fib_seq_err](https://cloud.githubusercontent.com/assets/13995034/10241181/3b7dedf2-68ee-11e5-9279-419ce399cb35.PNG)

[2015-10-02 07:35] jonassmedegaard commented on #2561
Quoting Scott Draves (2015-10-01 23:58:33)

Looks perfect!
- Jonas

##
- Jonas Smedegaard - idealist & Internet-arkitekt
- Tlf.: +45 40843136  Website: http://dr.jones.dk/

  [x] quote me freely  [ ] ask before reusing  [ ] keep private

[2015-10-02 08:19] maksim-lauryk commented on #1806
besides, this is namely the error of result output, when they try to show object from any string, even if string does not include a print function (println etc.)
If we simple run the code without output object from last string, the error will not appear.
the same, if we add next line after line with a problem, for example:
![fib_seq_woor](https://cloud.githubusercontent.com/assets/13995034/1024201

[2015-10-02 11:20] #2585 closed, assigned to sethkrasnianski

[2015-10-02 11:27] siarhei-shvaiko commented on #2573
Looks like node-threads-a-gogo does not support windows

[2015-10-02 11:55] #2587 closed, assigned to sethkrasnianski

[2015-10-02 11:56] #2586 closed, assigned to sethkrasnianski

[2015-10-02 11:56] #2545 closed, assigned to grin

[2015-10-02 12:31] ildipo opened #2589 "publishing a notebook that uses user-provided css files"
such as https://pub.beakernotebook.com/#/publications/560d4616-0d80-4982-915f-0958e586d158?fullscreen=false

[2015-10-02 14:48] #2561 closed, assigned to nobody

[2015-10-02 15:05] sethkrasnianski commented on #2211
:+1:

[2015-10-02 15:06] #2555 closed, assigned to kpaharelau

[2015-10-02 18:45] scottdraves opened #2591 "ipython backends broken in Docker"
beaker no longer seems to work with ipython v4 and even if I got back to https://github.com/twosigma/beaker-notebook/pull/2280
it still doesn't work.  what happened??

[2015-10-02 22:48] scottdraves opened #2592 "text too large in block quote"
![screen shot 2015-10-02 at 6 47 54 pm](https://cloud.githubusercontent.com/assets/963093/10259442/2ad4d450-6936-11e5-91dc-35f30a8b0bf5.png)

[2015-10-03 02:10] scottdraves opened #2593 "admin needs more edit powers over metadata"
need set category & owner.

<img width="879" alt="screen shot 2015-10-02 at 10 07 19 pm" src="https://cloud.githubusercontent.com/assets/963093/10260997/13538544-6952-11e5-9583-0268f3955b1d.png">

[2015-10-03 02:18] scottdraves opened #2594 "UI jumps when featured row loads"
The Search & Nav appear first, at the top of the page,
but then jump down when the features load.
space for the features should be reserved.
OK to have a gap if there are none.

![beaker publications](https://cloud.githubusercontent.com/assets/963093/10261026/09db62ba-6953-11e5-9528-98a2512dd063.png)

[2015-10-03 03:16] scottdraves commented on #1799
this is what we ended up with:
<img width="402" alt="screen shot 2015-10-02 at 11 13 14 pm" src="https://cloud.githubusercontent.com/assets/963093/10261215/3eb39428-695b-11e5-9f9f-b32df7d398e3.png">

and in-between cells:

<img width="224" alt="screen shot 2015-10-02 at 11 14 51 pm" src="https://cloud.githubusercontent.com/assets/963093/10261220/7710356a-695b-11e5-81f9-fcf8fcc88eb3.png">

[2015-10-03 03:33] samccone commented on #1799
:+1: i dig it

[2015-10-03 03:41] scottdraves commented on #2591
[code]

[2015-10-03 03:50] scottdraves opened #2595 "smaller error fold-out box."
in advanced mode, the box is too close to the word "Error".
easiest way to fix is to shrink the box tighter around the "+".
<img width="347" alt="screen shot 2015-10-02 at 11 48 33 pm" src="https://cloud.githubusercontent.com/assets/963093/10261321/2125663e-6960-11e5-9274-302ae60576bc.png">

[2015-10-03 03:54] scottdraves commented on #2591
False alarm (mostly).  On my mac this was a case of badly installed ipython.  `conda install jupyter` was required, not just `conda install ipython=4.0.0`.

but on the docker container (and probably in our ubuntu install deps sh), we prob need to update the installation.

[2015-10-03 04:00] scottdraves commented on #1501
<img width="548" alt="screen shot 2015-10-02 at 11 58 19 pm" src="https://cloud.githubusercontent.com/assets/963093/10261360/b758168c-6961-11e5-8bf2-7e4132eeb391.png">

[2015-10-03 04:43] scottdraves opened #2596 "electron beaker logo?"
![electron_beaker](https://cloud.githubusercontent.com/assets/963093/10261475/b1d4556c-6967-11e5-85ea-5ea291adc2c2.png)

[2015-10-03 15:27] jonassmedegaard opened #2597 "Please modernize AngularUI usage"
AngularJS used to be a small collection of modules distributed as a whole - that's what is currently (as of versions 1.3.4 and 1.4) included with Beaker Noterbook.

For Debian packaging we prefer to track each upstream source independently, which reveals that upstream is now split into individual modules.

Grepping Beaker Notebook code for instances of "angular.module" seems to indicate that the m

[2015-10-03 16:18] jonassmedegaard commented on #2597
Hmm - seems ui.keypress is not even part of the legacy ui-utils bundle any more: https://github.com/angular-ui/ui-utils

Seems to me that if not refactoring it away then essentially you should consider yourself current upstream of ui-keypress because upstream for that code has gone. :-(

[2015-10-03 16:31] polaris-bioit opened #2598 "R Error ... R language backend failed!"
stderr:
Oct 04, 2015 12:12:29 AM com.twosigma.beaker.r.utils.RServerEvaluator$workerThread startRserve
SEVERE: exception starting RServe
org.rosuda.REngine.Rserve.RserveException: Cannot connect: Connection refused
    at org.rosuda.REngine.Rserve.RConnection.<init>(RConnection.java:88)
    at org.rosuda.REngine.Rserve.RConnection.<init>(RConnection.java:60)
    at com.twosigma.beaker.r.utils.RSer

[2015-10-03 16:57] scottdraves commented on #2598
Hi, thanks for the report.  What is your Operating System?  What version of Beaker are you running?
If you run base R (open a terminal and run `R`), not RStudio) and give the command

[code]

what is the output?

[2015-10-03 17:04] rafa2000 opened #2599 "Add: Use parameters from the command line"
On OSX, I tried:
/Application/Beaker.app/Contents/MacOS/Beaker .
The dot at the end should open the current directory (ala atom) and use it as the desired current project. Currently, it just open the application and use a default and path to open files.

[2015-10-03 17:16] scottdraves commented on #2599
Thanks for the suggestion.  We don't have the notion of "project", but with the Electron version of Beaker you can say `/Applications/Beaker.app/Contents/MacOS/Electron  ./somefile.bkr` and it runs the application and opens somefile.  In fact you can even just double click somefile or say `open ./somefile.bkr`.

It would be possible, if you gave it a directory instead of a file, we could set the d

[2015-10-03 17:18] scottdraves commented on #2597
Thanks for the suggestion.  Can you refer me to a project that does what you mean?

[2015-10-03 18:12] jonassmedegaard commented on #2597
Quoting Scott Draves (2015-10-03 19:18:51)

I am not experienced with AngularJS, nor do I understand how Beaker uses
AngularUI.

It seems (but check - don't trust me on that!) Beaker only uses a single
module - ui.keypress - from AngularUI module bundle ui-utils.

It also seems(!) that ui-utils is deprecated in favor of individually
tracked modules.

Furthermore it seems(!) that ui.keypress is gon

[2015-10-03 18:24] jonassmedegaard commented on #2597
Perhaps core AngularJS is adequate: https://docs.angularjs.org/api/ng/directive/ngKeypress

[2015-10-03 19:55] jonassmedegaard opened #2600 "what is effective license of classloader (GPL-3+ and/or Apache-2.0+)"
Most files (8 of 10) below plugin/jvm/src/main/java/com/twosigma/beaker/jvm/classloader/ contain license grant for both Apache-2.0+ and GPL-3+.

Written like that I would normally assume both licenses to be in effect - i.e. not a dual-licensing (a choice between one license _OR_ the other) but an integration (both one _AND_ the other).

...but the license of Beaker Notebook in general is licensed

[2015-10-03 20:07] jonassmedegaard commented on #2600
Whoops - it is LGPL,-3+, not GPL-3+

But question remains: How are they related, and doesn't that affect (binary) redistribution to effectively be GPL-3+?

Not a problem for Debian redistribution, but seems unintended by Two Sigma.

[2015-10-03 20:16] jonassmedegaard commented on #2600
...and it is Apache-2.0 (not Apache-2.0+) - not that it changes the question, just for the record.

[2015-10-03 20:17] scottdraves commented on #2600
I thought it was Apache2: https://github.com/kamranzafar/JCL
is that a later version?  You are right it does say LGLP in the code.

[2015-10-03 20:23] scottdraves commented on #2600
OK http://kamranzafar.github.io/JCL/
he says:

[2015-10-03 21:09] jonassmedegaard commented on #2600
Quoting Scott Draves (2015-10-03 22:23:21)

Uhm, but there's an annoying "and" at the end of that sentence :-P

README.md at https://github.com/kamranzafar/JCL mentions only
Apache-2.0, not LGPL.  I guess intent was either-or but wording vague.
It was recently clarified:
https://github.com/kamranzafar/JCL/commit/f279287

If you wanna be on the safe side, I suggest you to update to newer
relicensed

[2015-10-03 21:32] scottdraves commented on #2600
You are right, "and" vs "or" in a sentence like that is ambiguous.  But "Dual-license" is a standard term, and it means you can pick which license to use.  We pick Apache 2.0.

[2015-10-04 05:38] rahulpathakgit opened #2601 "*65 connect() failed (111: Connection refused) while connecting to upstream, client: 127.0.0.1, server: , request: "GET /bb3ca3d/ipython.73210"
Everytime I run the beaker then always shows "Initializing Ipython" and "Initializing R" . Both are already installed.

platform@platform-Vostro-3546:~/Downloads/beaker-notebook-1.4-0-gbb3ca3d-ubuntu$ ./beaker.command
starting nginx instance (/home/platform/Downloads/beaker-notebook-1.4-0-gbb3ca3d-ubuntu/nginx)
nginx-stderr>nginx: [alert] could not open error log file: open() "/var/log/nginx/error

[2015-10-04 08:48] jonassmedegaard opened #2602 "dependency update: google-collections → guava"
gradle for jvm plugin declares a dependency on google-collections, which - by that name - is declared "ancient and unmaintained" upstream: https://code.google.com/p/google-collections/

Seems project is simply rename, so perhaps it just works to replace with a dependency on guava: https://github.com/google/guava

[2015-10-04 09:31] jonassmedegaard opened #2603 "possibly dead upstream: org.abstractmeta (a.k.a. compilation-toolbox)"
It seems compilation-toolbox (org.abstractmeta) is dead upstream - no commits in more than 2 years and no reaction to freeze of googlecode repo: https://code.google.com/p/compilation-toolbox/

I suggest to look into possibilities of changing to different actively maintained code, if possible, for javash plugin where it is used.

[2015-10-04 14:51] scottdraves commented on #2601
Thanks for the report.
What version of Beaker do you have?  What version of IPython do you have?

[2015-10-04 14:54] scottdraves commented on #2602
thanks, will do.

[2015-10-04 15:06] scottdraves commented on #2603
I can't find a replacement. We can either copy it into our codebase (it's only 35KB) or make a new github project with it that is packaged separately (we'll maintain it).  What do you recommend?

[2015-10-04 15:31] jonassmedegaard commented on #2603
Quoting Scott Draves (2015-10-04 17:06:48)

If you won't develop that code, just use it, then I see no benefit in
embedding it nor in creating a Github project for it.  Reason I raise it
is not that Debian must have active upstream for all code, but that it
is worrisome when upstream isn't active - it is no less worrisome if
that fact is hidden ;-)

If you consider actually step up and maintain th

[2015-10-04 15:53] scottdraves commented on #2603
I am concerned that it is not maintained and its hosting may vanish.
There is only one entry on maven: http://search.maven.org/#search%7Cga%7C1%7Ccompilation-toolbox
And you are right there are several on github, but none have any stars.
I do see one fix among them but maybe more searching will find a better source.
This code seems to be pretty much static.
So let's 1) search harder but my assumpt

[2015-10-04 16:08] scottdraves commented on #2597
OK so you would like to get rid of this, right?
https://github.com/twosigma/beaker-notebook/blob/master/core/src/main/web/vendor/angular-ui/ui-utils.min.js
ideally just call this instead:
https://code.angularjs.org/1.2.29/docs/api/ng/directive/ngKeypress
ok, np

[2015-10-04 16:41] jonassmedegaard commented on #2597
Quoting Scott Draves (2015-10-04 18:08:17)

If not a problem then I'd appreciate that, yes.
- Jonas

##
- Jonas Smedegaard - idealist & Internet-arkitekt
- Tlf.: +45 40843136  Website: http://dr.jones.dk/

  [x] quote me freely  [ ] ask before reusing  [ ] keep private

[2015-10-04 17:04] jonassmedegaard commented on #2603
Quoting Scott Draves (2015-10-04 17:53:32)

...but are you willing to become new upstream maintainer of the code?
If not, then I think the least ugly is to include the file rather than
create yet another inactive fork at Github.
- Jonas

##
- Jonas Smedegaard - idealist & Internet-arkitekt
- Tlf.: +45 40843136  Website: http://dr.jones.dk/

  [x] quote me freely  [ ] ask before reusing  [ ] keep p

[2015-10-05 02:55] scottdraves commented on #2591
That fixes IPython but Python3 crapping out with:

[code]

[2015-10-05 03:12] scottdraves commented on #2591
[code]

[2015-10-05 03:32] scottdraves commented on #2591
For Ruby I think we just have to revert this:
https://github.com/twosigma/beaker-notebook/commit/eb1e974719b9e1c8b21cc82ea49c41c3f0838171#diff-9652288da9c8facb008f4f7b2ed61a5bL22

and go back to iruby cmd.

[2015-10-05 03:42] scottdraves opened #2605 "missing kdb results in stack trace and hang"
[code]

[2015-10-05 03:45] scottdraves commented on #2605
it should pop up the dialog about how to install the language.
instead the light goes yellow, sticks and blocks any other language from loading.

[2015-10-05 03:53] scottdraves commented on #2319
The problem here is phylo crashes the SVG driver in R.  Beaker is not involved.
That said, in order to work around this, Beaker could allow you to swap in another output driver, like PNG, so you can fallback in a situation like this.
The above commit does that, but it has trouble identifying when output was produced, since the driver seems to write PNG files even for non-graphical output, whereas

[2015-10-05 06:54] DiegoAlbertoTorres opened #2606 "beakerApp.css not generated?"
Just downloaded the Beaker development version on a Linux machine. Got a 404 on beakerApp.css upon first launch: `http://127.0.0.1:8801/b137aad/beaker/app/dist/beakerApp.css Failed to load resource: the server responded with a status of 404 (Not Found).`

Did something happen to the job that generates it? I am launching using 'gradle run', also tried building using 'gradle build'. Also searched th

[2015-10-05 09:38] maksim-lauryk commented on #2477
Classpath and imports are available to set up in the Clojure plugin settings

[2015-10-05 11:28] grin commented on #2544
If I open that notebook in my local Beaker that output cell looks the same and also shows `$$`... is this a bug in Beaker? or we should somehow handle it differently in Publications?

[2015-10-05 11:33] maxyeg commented on #2544
![ebb0e-clip-13kb](https://cloud.githubusercontent.com/assets/2286032/10279376/eca705ba-6b6d-11e5-9621-fbcbf348efbe.png)

That's how I see it in beaker(built from current master).

[2015-10-05 11:44] grin commented on #2544
Ok, tested it in latest master:
![image](https://cloud.githubusercontent.com/assets/12468/10279532/cb4c6196-6b66-11e5-9bb5-47169bd34c93.png)

looks like it depends on the evaluator status which is not properly initialized for me locally. This could also explain why it isn't working on Publications where we don't initialize any evaluators...

[2015-10-05 12:03] ildipo commented on #2606
Hi Diego,
do you remember we had issues with gulp-sass? we switched to ruby-sass so you should run `sudo gem install sass` and rebuild.
Still it does not fail (but writes only an invisible error message) if you don't have sass installed...

[2015-10-05 12:05] ildipo commented on #2600
We are actually moving away from JCL. I think already in 1.4 it is not really used anymore in favor of a different mechanism.

[2015-10-05 12:12] ildipo commented on #2544
`plugin/ipythonPlugins/src/dist/ipython/ipython.js` lines 339 to 356 are triggering the rendering.

I think this function should be _moved_ to the Html output display: if there's a div with a class whose name ends in `-latex-class` interpret it as latex output.
This way the publication server will automatically work.

[2015-10-05 13:48] grin commented on #2544
@ildipo thanks, I got it working locally without ipython based on your suggestion. I will push a formal fix in a bit later today (need to do some refactorings around it)

[2015-10-05 14:30] planyon commented on #2594
@sethkrasnianski I know this is working much better on smaller screens, what can we do to improve it on larger ones? And could you please remind me why it's different between them?

[2015-10-05 15:07] DiegoAlbertoTorres commented on #2606
Cool, that did the trick (doesn't have to be sudo, as long as it is in the path)! I thought you guys ditched gulp-sass because it failed silently? Is there just no way around sass failing silently with gradle? (Also, I love the new animations in the UI!)

[2015-10-05 15:20] scottdraves commented on #2606
thanks.  the silent failures are a general gulp problem.
fixing that is still future work.
the big problem with node-sass was it needs to be compiled from C src.

[2015-10-05 15:29] DiegoAlbertoTorres commented on #2606
I see. Cool, now I can play around with it and see all the new stuff ;).

[2015-10-05 15:29] #2606 closed, assigned to nobody

[2015-10-05 16:48] sethkrasnianski commented on #2594
We could do what @scottdraves suggested and add a fixed height. That way there would never be a jump. The difference is the screen size. One's smaller and therefore the calculations to set the dimensions for the carousel's inner container & slides take a fraction of the time. On a 23" to 27" screen, they take slightly longer, so the rest of the dom is rendered before the featured publications fini

[2015-10-05 17:03] dlukyanyuk opened #2612 "Exception during python autotranslation"
Steps to reproduce:
1. Create an empty notebook, add iPython cell with code:

[code]
1. Save it as .bkr and shutdown Beaker
2. Run Beaker again and open saved notebook (in Chrome). Run the code cell.
3. Copy the entire url to the other browser (Opera, Firefox)
4. Run the code cell 2 times

RESULT:
HTTP Error 500: Server Error

And in the Beaker log:

[code]

[2015-10-05 17:30] scottdraves commented on #2612
thank you dmitri, good catch.  it reproduced for me.
i think there is a problem with the autotranslation protocol, keeping sync between comet and rest.
maybe it needs some kind of sync when opening a client.  i think just discarding the bad value is dangerous.

[2015-10-05 18:14] #2592 closed, assigned to sethkrasnianski

[2015-10-05 18:36] ildipo commented on #2544
ok it seems to work fine.

[2015-10-05 18:37] #2544 closed, assigned to grin

[2015-10-05 18:39] ildipo commented on #2437
I did some style changes and this is no more needed - see pub-staging

[2015-10-05 18:39] #2437 closed, assigned to sethkrasnianski

[2015-10-05 18:54] sethkrasnianski commented on #2437
Looks good :+1:. The laptop breakpoint needs some padding. I'll add a quick fix for that.

[2015-10-05 19:16] scottdraves opened #2613 "provide feedback on language manager settings change"
when you click "set" it generally goes and restarts the backend.
you should get a spinner and acknowledgement of success.

[2015-10-05 19:29] scottdraves opened #2614 "brunel visualization lib"
cool, should test it:
https://github.com/Brunel-Visualization/Brunel/wiki

[2015-10-05 19:44] lwahedi opened #2615 "Failed to start R, ioexception"
I get an error every time I try to start R:

A box also pops up saying:

But my beaker.pref has the correct path to R.

I've also tried the path ending in bin, which has an rscript.exe as well, but get the same error.

I am using Beaker version 1.4-0 and R 3.21

Any help would be much appreciated.

[2015-10-05 19:45] scottdraves commented on #2600
Disagree:
https://github.com/twosigma/beaker-notebook/blob/master/plugin/groovy/src/main/java/com/twosigma/beaker/groovy/utils/GroovyDynamicClassLoader.java#L29-L30

[2015-10-05 20:00] scottdraves commented on #2615
Thanks for the report.
You should not need to edit your prefs, as Beaker should be able to find R via a resource that the R installer sets (unless you disabled that).  How did you install R?
If you do need to set the path explicitly, then you should use double backslashes like this:

[code]

Does that help?

[2015-10-05 20:18] scottdraves commented on #2615
Btw, I made a note of this in the wiki doc for the prefs: https://github.com/twosigma/beaker-notebook/wiki/Language-Preferences

[2015-10-05 20:18] lwahedi commented on #2615
I actually did try with the double backslashes and it didn't work. I specified the destination because I was using a previous install of R, though I did try before updating the prefs file, and it didn't work then either. I don't recall how I originally installed R, but the latest version was probably updated using installr.

I did just get it to work, though. I used the installr package to update

[2015-10-05 20:30] psmaragdis commented on #2467
The problem seems to persist in 1.4 as well (albeit in a different form).

For example it the following code I get an audio player and a figure (ignore the error in the audio player, it's because I don't give it any data):

[code]

Case 1: As it, it will present an audio player and a plot.

Case 2: If I add a  `time.sleep(.5)` between the audio player and the plot lines, only the plot appears. The

[2015-10-05 20:32] scottdraves commented on #2467
Thanks for your persistence reporting bugs :)  I'll look at this soon.

[2015-10-05 20:36] scottdraves commented on #2600
Davide pointed out that it's used by GroovyClassLoader but GroovyClassLoader is not used :)
So best solution is just to remove JCL code.

[2015-10-05 21:47] scottdraves opened #2616 "category not displayed in metadata section"
it only shows the category if no image is uploaded.
![screen shot 2015-10-05 at 5 46 27 pm](https://cloud.githubusercontent.com/assets/963093/10294560/228ad024-6b89-11e5-9a64-43d887058312.png)

[2015-10-05 21:48] grin commented on #2566
The main issue is that widget state (including computed output) is not being persisted in the notebook bkr file (at least for me locally), here is an example where I evaluated the factorial cell and saved the notebook:

[code]

When I reopen this notebook the output cell is blank and I have to re-run it to see the widget and then move the slider to see the computed result. Is this correct behavior

[2015-10-05 23:36] #2597 closed, assigned to maxyeg

[2015-10-05 23:37] #2602 closed, assigned to maxyeg

[2015-10-05 23:41] scottdraves commented on #1064
https://github.com/twosigma/beaker-notebook/issues/2193

[2015-10-05 23:41] #1064 closed, assigned to nobody

[2015-10-05 23:47] scottdraves opened #2617 "batch execution"
Several users have requested the ability to run notebooks from the command-line (or programmatically from other languages), without a GUI.  This is nontrivial, but could be done with PhantomJS.

It would be particularly useful with the ability to save the results as well (as HTML or PDF,
not just as a notebook). https://github.com/twosigma/beaker-notebook/issues/709

[2015-10-06 03:01] scottdraves opened #2618 "do not enable latex by default"
<img width="193" alt="screen shot 2015-10-05 at 10 58 37 pm" src="https://cloud.githubusercontent.com/assets/963093/10299168/ec108dbe-6bb4-11e5-95c7-bffd7a6a1ef2.png">

[2015-10-06 03:04] scottdraves commented on #848
see https://pub.beakernotebook.com/#/publications/560d4616-0d80-4982-915f-0958e586d158?fullscreen=true

if it were a proper language we could make sure it was namespaced.

[2015-10-06 03:16] scottdraves commented on #2588
also consider: license grant checkbox to put the notebook itself under apache2.

[2015-10-06 03:31] scottdraves commented on #2566
you are right & this depends on that.

[2015-10-06 03:34] scottdraves commented on #2566
similar to https://github.com/twosigma/beaker-notebook/issues/2565

[2015-10-06 03:36] scottdraves opened #2619 "save ipython widget values in the notebook"
similar to https://github.com/twosigma/beaker-notebook/issues/2565
as noted https://github.com/twosigma/beaker-notebook/issues/2566

[2015-10-06 04:28] scottdraves opened #2620 "easyform with actions"
make this work?

[code]

where the listener is called whenever the value is changed.
other swing calls could be supported.

or simplify:

[code]

[2015-10-06 08:08] altavir opened #2621 "IPython hangs after SSL sertifcate initialization"
Windows 10, Anaconda 3 with basic Python 3.4.3 and Python 2.7.10.1 via enviornment.
For both Python3 and IPython initialization hangs after line
`IPython-stdout>    ipython notebook --certfile=mycert.pem # use SSL/TLS certificate`
in log console. Does nothing and does not show any activity for process.

[2015-10-06 11:00] grin commented on #2564
Fixed in: https://github.com/twosigma/bunsen/pull/1228

[2015-10-06 11:45] grin commented on #2616
Fixed in https://github.com/twosigma/bunsen/pull/1229

[2015-10-06 11:51] mnavasiolava opened #2622 "Language preferences do not work for Windows"
The path option for languages in beaker.pref.json is broken.

[2015-10-06 11:58] scottdraves commented on #2621
Hi, thanks for the report.
Do you have a special config to make it use SSL?
That is not needed or supported.

Are you accessing your Windows machine as a server?
Beaker has its own options for SSL but I have never tried it on Windows.

[2015-10-06 13:10] scottdraves opened #2624 "allow admin to change notebook author"

[2015-10-06 13:11] scottdraves commented on #2624
https://github.com/twosigma/beaker-notebook/issues/2593

[2015-10-06 13:11] #2624 closed, assigned to grin

[2015-10-06 13:12] ildipo commented on #2593
and title and text

[2015-10-06 13:58] altavir commented on #2621
No, I do not have any specific ssl config. I am using local Anaconda distribution. Here is my configuration file:

[code]

[2015-10-06 14:00] grin commented on #2593
What do you think about separate publication edit form for admins:
![image](https://cloud.githubusercontent.com/assets/12468/10310506/8c188554-6c42-11e5-8e86-6c4c83af9e01.png)
?
...with category as a drop-down, author as a dropdown with all users (or text input with autocompletion based on name).
Then I could add the edit button next to "Delete publication" in publication metadata section which wo

[2015-10-06 14:03] scottdraves commented on #2621
What version of Beaker do you have?
I am baffled why it is running IPython with SSL.
Beaker does not request that.
Did you ever use IPython with SSL before you used Beaker?

[2015-10-06 14:56] #2594 closed, assigned to sethkrasnianski

[2015-10-06 14:56] #2564 closed, assigned to grin

[2015-10-06 14:56] #2616 closed, assigned to nobody

[2015-10-06 15:26] scottdraves opened #2628 "mouse should not change to finger on average stars"
in both the list view and the notebook view, the mouse turns to a finger that makes it look like i can click on the average stars.

[2015-10-06 15:29] ildipo commented on #2541
This has been deployed

[2015-10-06 15:29] #2541 closed, assigned to grin

[2015-10-06 15:54] axkr opened #2629 "How to set Latex output from a plugin?"
How can I set the cells output to Latex format?

This doesn't seem to work:

[code]

[2015-10-06 15:58] scottdraves commented on #2629
Hi, thanks for contacting us.
Can you say more about what you are trying to do?

[2015-10-06 16:01] scottdraves opened #2630 "change expand tooltip"
![screen shot 2015-10-06 at 11 52 31 am](https://cloud.githubusercontent.com/assets/963093/10314080/f20edd9e-6c20-11e5-98a8-b528f17d1e64.png)

When the notebook is fullscreen the tooltip should read "Show Navigation and Metadata"

When the nav is showing, the tooltip should read "Show Notebook Only"

and shouldn't the icon toggle to "contract" as well?

[2015-10-06 16:04] altavir commented on #2621
The latest one (1.4?), just downloaded it from the site. I never used Python at all before that. I like the idea of the notebook, but prefer Groovy myself. Some of my colleagues use IPython so I need it for compatibility.
I installed Beaker then the latest Anaconda for Windows. After that I tried to run IPython from beaker but it failed. Standard recommendation for Anaconda installation failed, be

[2015-10-06 16:14] axkr commented on #2629
In this evaluator plugin:
https://bitbucket.org/axelclk/beaker-plugin/src

I try to output the evaluated expression in Latex instead of a plain text string:
![beaker2629](https://cloud.githubusercontent.com/assets/3109793/10314553/bc9746f8-6c55-11e5-85c1-2bfb012b986c.png)

Here is the description of the evaluation engine:
https://bitbucket.org/axelclk/symja_android_library/wiki/Home

[2015-10-06 17:06] altavir commented on #2621
Tried it from another computer (also win 10, beaker + anaconda). The same problem. I looked through the log more carefully. And believe that it is not ssl problem. SSL comes from some example earlier and it is just before the freeze by coincidence.
There is some problem with text file attachment, so sorry, I will place the whole log here:

[code]

[2015-10-06 17:13] scottdraves commented on #2621
Ah yes that makes more sense.  We just fixed that and it should appear as 1.4.1 later today.
Thank you.

[2015-10-06 19:37] #2618 closed, assigned to nobody

[2015-10-06 21:08] #2600 closed, assigned to maxyeg

[2015-10-06 21:09] #2603 closed, assigned to maxyeg

[2015-10-06 21:09] #2605 closed, assigned to mnavasiolava

[2015-10-06 21:10] #2622 closed, assigned to mnavasiolava

[2015-10-07 02:48] scottdraves commented on #2621
1.4.1 is released, please LMK if it doesn't work for you.

[2015-10-07 04:48] DiegoAlbertoTorres opened #2631 "Publication server css bug?"
So, not sure if this goes in this repository, but there seems to be a css bug in the new publication server in fullscreen mode:
The footer seems to have a very small width, so it is showing one character per line! This happens in Firefox but not in Chrome.

![test2](https://cloud.githubusercontent.com/assets/3867399/10329269/f234a0b2-6c8c-11e5-90c1-cf178852d0e9.jpg)
![test1](https://cloud.githubus

[2015-10-07 07:09] altavir commented on #2621
Ok, thank you, now everything works just fine.

[2015-10-07 07:09] #2621 closed, assigned to nobody

[2015-10-07 08:53] altavir opened #2632 "Javadoc for Plot API needed"
I spent some time looking for API description of plotting classes for Java and Groovy. Finally, I looked through source code and there is now Javadoc there as far as I can see. Of course there are some examples, but it is hard to derive all available possibilities from them. I think that one definitely needs a Javadoc/Groovydoc or at least short tutorial on how to use these classes.

[2015-10-07 11:36] scottdraves commented on #2632
thanks for the feedback.  we don't have the resources to write documentation yet but we will get there.

[2015-10-07 11:37] scottdraves commented on #2632
If you have any specific questions about the API feel free to ask them here.

[2015-10-07 11:37] grin commented on #2593
Implemented in: https://github.com/twosigma/bunsen/pull/1235

[2015-10-07 11:38] scottdraves commented on #2632
https://github.com/twosigma/beaker-notebook/issues/1891

[2015-10-07 11:38] #2632 closed, assigned to nobody

[2015-10-07 11:45] scottdraves commented on #2631
Thanks Diego, I can see that too.  There are some other ffox bugs as well:  only 2 featured notebooks on top instead of 3:

<img width="1100" alt="screen shot 2015-10-07 at 7 40 13 am" src="https://cloud.githubusercontent.com/assets/963093/10336491/24cf65a4-6cc7-11e5-99f5-a9d57fa91add.png">
<img width="1107" alt="screen shot 2015-10-07 at 7 40 54 am" src="https://cloud.githubusercontent.com/assets

[2015-10-07 12:07] maxyeg opened #2633 "Save dialog buttons jump when path is long"
![43116-clip-10kb](https://cloud.githubusercontent.com/assets/2286032/10336921/d52e24e8-6d04-11e5-8551-c351002b4ae1.png)

When path is too long, save button jumps below.

[2015-10-07 12:17] maxyeg opened #2634 "JS exception about missing fonts in open/save dialogs"
1. Use Open dialog(or Save/Save as dialog) to view file system tree.
2. Expand some folders which have files
3. When tree contains files exceptions about missing fonts are thrown

![f6eab-clip-54kb](https://cloud.githubusercontent.com/assets/2286032/10337102/33ef07a8-6d06-11e5-8d3c-84251de901b1.png)

![d0a82-clip-31kb](https://cloud.githubusercontent.com/assets/2286032/10337078/0faacd46-6d06-11e5-

[2015-10-07 13:02] maksim-lauryk commented on #2475
autotranslation added in following format
(beaker :set "x" [1 2 3 "something else"])
(beaker :get "x")

[2015-10-07 13:06] jonassmedegaard opened #2637 "possible bogus dependency: scrollin"
Hi,

The javascript library scrollin is listed in cor/bower.json and included in core/src/main/web/vendor/bower_components - but seems unused anywhere.

[2015-10-07 13:28] ildipo commented on #2629
Just return a string containing:

`<div class="output_latex">$$F(k)$$</div>`

NOTE: works only in 1.4

for 1.3 you must return a JSON object that contains:

`{ type : 'Latex', result: 'F(k)' }`

[2015-10-07 13:36] maxyeg commented on #2637
Hi!
I see it's used here:
https://github.com/twosigma/beaker-notebook/blob/master/core/src/main/web/app/mainapp/components/notebook/notebook-directive.js#L276
and here:
https://github.com/twosigma/beaker-notebook/blob/master/core/src/main/web/app/mainapp/components/notebook/codecell-directive.js#L406
https://github.com/twosigma/beaker-notebook/blob/master/core/src/main/web/app/mainapp/components/n

[2015-10-07 13:36] grin commented on #2588
if apache2 license is granted, should it be visible in the UI for other users when browsing publications? or it should only be saved in the database for internal use?

[2015-10-07 13:50] jonassmedegaard commented on #2637
Oh, indeed.

Silly me, I forgot to grep case-insensitively :-P

[2015-10-07 13:50] #2637 closed, assigned to nobody

[2015-10-07 13:51] melmac48 opened #2638 "Editing categories occasionally fails on save"
In the publication server, as an admin editing the text for a category, when I click Save, nothing happens. I haven't been able to find reliable repro steps.
Console output from the last time this happened:

[code]

[2015-10-07 14:25] sethkrasnianski opened #2639 "Firefox - Fullscreen footer bug"
![test2](https://cloud.githubusercontent.com/assets/3867399/10329269/f234a0b2-6c8c-11e5-90c1-cf178852d0e9.jpg)
![test1](https://cloud.githubusercontent.com/assets/3867399/10329268/f234797a-6c8c-11e5-9fd4-2bb8bd36709b.jpg)

[2015-10-07 14:27] sethkrasnianski opened #2640 "Firefox - featured notebook count"
Chrome:
<img width="1100" alt="screen shot 2015-10-07 at 7 40 13 am" src="https://cloud.githubusercontent.com/assets/963093/10336491/24cf65a4-6cc7-11e5-99f5-a9d57fa91add.png">
Firefox:
<img width="1107" alt="screen shot 2015-10-07 at 7 40 54 am" src="https://cloud.githubusercontent.com/assets/963093/10336490/24ccf74c-6cc7-11e5-9908-39ac0b8110e1.png">

[2015-10-07 14:28] sethkrasnianski opened #2641 "Firefox - notebook list displays different order"
<img width="672" alt="screen shot 2015-10-07 at 7 42 10 am" src="https://cloud.githubusercontent.com/assets/963093/10336523/52e12c8e-6cc7-11e5-9831-53a1bfca5d7c.png">
vs:
<img width="680" alt="screen shot 2015-10-07 at 7 42 17 am" src="https://cloud.githubusercontent.com/assets/963093/10336522/52df31ea-6cc7-11e5-98d6-c9b354e4b82a.png">

[2015-10-07 14:30] sethkrasnianski commented on #2631
Thanks :+1:
Closing this. I broke it up into three issues to better track each bug.

[2015-10-07 14:30] #2631 closed, assigned to sethkrasnianski

[2015-10-07 14:31] melmac48 opened #2642 "Category title disappears when you edit it"
In admin mode, when you click edit on a category the requisite boxes drop down but the category name disappears.

[2015-10-07 14:36] melmac48 opened #2643 "chevron disappears when editing categories, leaving sub categories unaccessible"
Repro steps :
expand a category that has subcategories, e.g. health
click "edit" on the parent category, in this case "health"
collapse the category tree by clicking on the chevron for "health"
click save on the parent category

the edit boxes will now disappear and so will the chevron, so the user can't access the subcategories.

Workaround: exit and reenter the admin console.

[2015-10-07 15:05] #2380 closed, assigned to kpaharelau

[2015-10-07 15:05] #2591 closed, assigned to kpaharelau

[2015-10-07 15:05] scottdraves opened #2644 "iruby backend broken in Docker container"

[2015-10-07 15:06] scottdraves commented on #2644
continuation of https://github.com/twosigma/beaker-notebook/issues/2591

[2015-10-07 15:08] scottdraves commented on #2588
don't implement the license stuff yet, that would need legal review.

[2015-10-07 17:08] axkr commented on #2629
Ok I've taken the 1.4 approach. See:
https://bitbucket.org/axelclk/beaker-plugin/commits/5284c4cb8a65ab8baa5a827566994c6295dc560a

![beaker2629b](https://cloud.githubusercontent.com/assets/3109793/10344938/6d74e2b6-6d26-11e5-91da-2702cf86cd59.png)

Is it possible to have a menu-option, where I can globally enable or disable TeX or Non-TeX output for my plugin?

[2015-10-07 17:33] scottdraves commented on #2629
that looks great!

you can create configuration widgets in the spec of your plugin, like how groovy allows the user to set the classpath.  look in the language manager for groovy to see it in action and then look in groovy.js to see how to implement it.

[2015-10-07 17:41] scottdraves opened #2646 "groovy [null] crashes"
evaluate `[null]` and get

[code]

[2015-10-07 17:46] jonassmedegaard opened #2647 "use stable release of datatables-fixedcolumns"
It seems the fix for issue #1905  has been included in stable release 3.1.0 of datatables-fixedcolumns by now.

I suggest you switch to tracking that instead of a development snapshot.

[2015-10-07 18:38] jonassmedegaard opened #2648 "Please consider switch to Batik 1.8"
Issue 1878 was closed in august, with the workaround of rolling back to Batik 1.7.

Since then a workaround for 1.8 has been mentioned upstream at https://issues.apache.org/jira/browse/BATIK-1125 - please consider that.

[2015-10-07 19:26] jonassmedegaard opened #2649 "blueimp-canvas-to-blob and blueimp-load-image maybe redundant"
It seems at least parts of blueimp projects are embedded in FileAPI.js of ng-file-upload.

Please try if possible to reduce avoid those possibly redundant dependencies.

[2015-10-07 19:48] grin commented on #2588
implemented in https://github.com/twosigma/bunsen/pull/1242

[2015-10-07 19:49] ildipo opened #2650 "sorting of notebooks"
we would like a sort 'menu' for the list of notebooks.
This should apply sorting to the current list of notebook (before pagination).

The function should be available everywhere there's a list of notebooks (landing page, category, user and search results) - please propose some visual layout for it.

The sorting methods should be:
1) by rank - higher rank first (default)
2) by rank - lowest rank f

[2015-10-07 19:57] jonassmedegaard opened #2651 "avoid convenience code copies in notebooks"
bokeh.bkr embeds BokehJs, complete with base64-encoded FontAwesome font.

As a miminum you should revive and include license grants for those projects - you seem to currently violate their licensing by not adequately credit sources and include licensing!

I urge you to avoid embedding full code projects like that in notebooks altogether: Even if technically possible to do, it is a an antipattern y

[2015-10-07 20:37] cjsulli opened #2654 "JAVA_HOME in Ubuntu 14.04 should be set to what?"
Regardless of what I set my JAVA_HOME variable to, I get an error saying:

ERROR: JAVA_HOME is set to an invalid directory: /usr/lib/jvm/java-8-oracle/jre/bin/java

(Alternatively, /usr/bin/java gave me the same error.)

What SHOULD I have it set to?

Thanks in advance!

[2015-10-07 20:44] scottdraves commented on #2651
Agreed but this is just how Bokeh works, we don't control it, it's a popular library and it happens to work in Beaker.

Our license/credit page is available in the "About" window if you click through "Beaker is made possible by code from many great open source software projects." which brings up https://github.com/twosigma/beaker-notebook/blob/18ea55815b2054e9223c397ebdc556e706dc6889/core/src/main

[2015-10-07 20:46] scottdraves commented on #2654
you shouldn't set it at all, if you install Java from the oracle PPA it just works.

[2015-10-07 21:30] scottdraves commented on #2649
Not sure what you are suggesting here.  we have copies of the stuff downloaded from bower in our tree just to make us less dependent on their servers.  presumably you are replacing this with debian versions.
if there is a debian version of ng-file-upload then you can ignore ours and we are good, right?

[2015-10-07 21:34] scottdraves commented on #2648
That's what we do:
https://github.com/twosigma/beaker-notebook/blob/master/plugin/r/build.gradle#L31

[2015-10-07 21:35] scottdraves commented on #2647
Good point, thanks.

[2015-10-07 21:38] #2646 closed, assigned to ildipo

[2015-10-07 21:43] cjsulli commented on #2654
That is where I got it from.  (i.e. I just checked that I have oracle-java8-installer up to date via apt.)  Thoughts?

[2015-10-07 21:47] scottdraves commented on #2654
http://stackoverflow.com/questions/29269829/webupd8-java-home-not-set-after-installing-oracle-java8-set-default
says:

so my thoughts are whatever is setting it is doing so incorrectly, you should unset it and/or find what is setting it and remove it.

[2015-10-07 21:53] cjsulli commented on #2654
Ah ha!  Thanks for that link.  My JAVA_HOME was set to /usr/bin/java, which linked to /etc/alternatives/java, which in turn linked to /usr/lib/jvm/java-8-oracle/jre/bin/java.  But when I manually set JAVA_HOME to /usr/lib/jvm/java-8-oracle, that seems to have solved the problem

Thank you!

[2015-10-07 21:56] scottdraves commented on #2620
OK based on user feedback I am opting for the simple one, expanded and modified as follows:

[code]

all components should support chaining these optional callbacks in.
note that setting the value with form[x]=y should fire onChange, not just via the GUI.

[2015-10-07 22:03] #2654 closed, assigned to nobody

[2015-10-07 22:10] jonassmedegaard commented on #2648
Quoting Scott Draves (2015-10-07 23:34:33)

You currently use Batik 1.8 rasterizer but Batik 1.7 codec.

I suggest to try use Batik 1.8 for both.
- Jonas

##
- Jonas Smedegaard - idealist & Internet-arkitekt
- Tlf.: +45 40843136  Website: http://dr.jones.dk/

  [x] quote me freely  [ ] ask before reusing  [ ] keep private

[2015-10-07 22:23] jonassmedegaard commented on #2649
Quoting Scott Draves (2015-10-07 23:30:12)

It seems src/main/web/vendor/bower_components/ng-file-upload/FileAPI.js
is a superset of
core/src/main/web/vendor/bower_components/blueimp-canvas-to-blob/js/canvas-to-blob.js
and
core/src/main/web/vendor/bower_components/blueimp-load-image/js/load-image-ios.js
- and possibly of other files below
  core/src/main/web/vendor/bower_components/blueimp-load-im

[2015-10-07 22:30] scottdraves commented on #2648
Oh you mean the 2nd workaround:

[code]

Sure we can do that.

[2015-10-07 22:57] jonassmedegaard commented on #2651
Quoting Scott Draves (2015-10-07 22:44:43)

If it is "just how Bokeh works" to violate its own licensing terms, then
you are just not permitted to redistribute it :-P

The license of Bokeh requires, as I understand it, that copyright,
license and disclaimer for that project is included with any and all
redistribution of it.  Seems to me that you nowhere include that info in
your released tarball n

[2015-10-07 23:01] jonassmedegaard commented on #2648
Quoting Scott Draves (2015-10-08 00:30:59)

Great :-)
- Jonas

##
- Jonas Smedegaard - idealist & Internet-arkitekt
- Tlf.: +45 40843136  Website: http://dr.jones.dk/

  [x] quote me freely  [ ] ask before reusing  [ ] keep private

[2015-10-07 23:53] scottdraves commented on #2651
We don't redistribute Bokeh in general, in order to use it it has to be installed with pip or whatever python mechanism.  But yes this file does include their js driver, bokeh.min.js.  I am quite sure it is not their intent to make everyone who redistributes notebooks also display their license, but maybe it is technically required.  Let me ask them.

[2015-10-08 00:45] bryevdv commented on #2651
A few notes (I am the Bokeh project lead)
- Embedding the BokehJS library inline is provided as an option to make notebooks and HTML documents containing Bokeh plots self-contained, and usable without an internet connection. There is no other technical way to accomplish that, unless I am mistaken. (I would love to hear any other ideas.) However, it is also possible to load BokehJS from CDN (or fro

[2015-10-08 00:49] scottdraves commented on #2651
Thanks Bryan, I am satisfied Beaker doesn't need to change, but Jonas it's up to you how to handle that in your redistribution.

[2015-10-08 03:05] scottdraves commented on #1352
and long name should be TeX

[2015-10-08 03:10] scottdraves opened #2655 "on beakernotebook.com"
the language badges get distorted when the window is narrow.
<img width="687" alt="screen shot 2015-10-07 at 11 09 16 pm" src="https://cloud.githubusercontent.com/assets/963093/10356771/97df8d0e-6d48-11e5-917c-4d6de78c18a8.png">

[2015-10-08 03:12] scottdraves opened #2656 "improve this text"
from https://pub.beakernotebook.com/#/create_publication
<img width="426" alt="screen shot 2015-10-07 at 11 00 55 pm" src="https://cloud.githubusercontent.com/assets/963093/10356790/cf3857d6-6d48-11e5-8521-b5d197cb6f6e.png">
<img width="766" alt="screen shot 2015-10-07 at 11 01 04 pm" src="https://cloud.githubusercontent.com/assets/963093/10356791/cf3a5e00-6d48-11e5-8afc-6ba79248ded4.png">

[2015-10-08 03:35] scottdraves opened #2657 "why click to search?"
https://pub.beakernotebook.com/#/publications
if you just start typing it should go into the search box (show cursor too?)

cmd-enter to open 1st hit?
cmd-digit to enter nth hit?

[2015-10-08 08:03] altavir opened #2658 "Can't use Grape.grab() from groovy cell"
I am trying to attach a mathematical library from groovy environment:

[code]

The only thing I get is an error:

[code]

I believe that xerces is a part of JVM and it is definitely not loaded by commons-math. So it seems that the problem is in the Beaker class loader. I also tried to grab other libraries with the same result.

It would be very sad if we could not use grapes from Beaker because it

[2015-10-08 08:53] jonassmedegaard opened #2659 "make embedding of BokehJS configurable"
Beaker includes a tutorial notebook with BokehJS embedded in uglified form.

Some users, including Debian for whom I am currently packaging, prefer to track each upstream independently and track original sources (rather than compiled or uglified code).

BokehJS 0.11 (due in November, it was mentioned in #2651) will offer the choice of either embedding or referencing an external URL for its code. P

[2015-10-08 09:18] jonassmedegaard opened #2661 "store vendor code/data and locally authored parts of notebooks as separate files in source"
Beaker ships with a set of tutorial notebooks, some of which embed code or data chunks with different legal ownership and licensing than the locally authored parts of those notebooks.

Beaker includes a tutorial notebook with BokehJS embedded in uglified form.

Some users, including Debian, prefer to track each upstream independently and track original sources (rather than compiled or uglified cod

[2015-10-08 10:57] #2630 closed, assigned to sethkrasnianski

[2015-10-08 10:58] #2628 closed, assigned to sethkrasnianski

[2015-10-08 11:11] jonassmedegaard commented on #2651
Hi Bryan,

Quoting Bryan Van de Ven (2015-10-08 02:45:34)

I agree there are benefits in embedding the code.

Sounds nice that you make it configurable in the future, because there
are different - conflicting - benefits in cloud hosting, local hosting
and embedding.

I can imagine it being preferable for Two Sigma to stick to your future
default of cloud hosting, whereas for Debian redistribution

[2015-10-08 11:25] #2211 closed, assigned to sethkrasnianski

[2015-10-08 11:25] #2639 closed, assigned to sethkrasnianski

[2015-10-08 11:25] #2640 closed, assigned to sethkrasnianski

[2015-10-08 11:58] bryevdv commented on #2651
Jonas, I was not as clear as I could have been. It is configurable _now_, we are merely changing the default behavior in the future. If you'd like to utilize CDN resources instead of inline resources that has been possible for ~2 years.

Regarding the minified files it seems that the inclusion of license comments was unintentionally lost when we switched from grunt to gulp for our build. Grunt min

[2015-10-08 12:10] #2593 closed, assigned to grin

[2015-10-08 13:38] jonassmedegaard commented on #2651
Quoting Bryan Van de Ven (2015-10-08 13:58:36)

Cool!  Both points :-)
- Jonas

##
- Jonas Smedegaard - idealist & Internet-arkitekt
- Tlf.: +45 40843136  Website: http://dr.jones.dk/

  [x] quote me freely  [ ] ask before reusing  [ ] keep private

[2015-10-08 13:42] planyon commented on #2656
What sentiment would you like to express there @scottdraves ? I can write something and put it by you.

[2015-10-08 13:53] bryevdv commented on #2651
Thanks for raising these issues, BTW. Our intention is to be compliant with strict interpretations of license obligations. But development is a frenzy, and unintended consequences sometimes happen (as seen), so it is good that you brought this to our attention.

[2015-10-08 14:07] scottdraves commented on #2656
sorry i just made a quick note here and forgot to come back to write the text.

the 1st line needs commas.  it should read "Mac, Linux, and Windows and supports Chrome, Firefox, and Safari."

The 2nd line should read "It's easy to make your own notebooks, and share or publish them if you choose to."

[2015-10-08 14:29] planyon opened #2666 "Align ratings stars with other meta-data"
The rating stars should be left aligned with the ratings count and category value on publications list. See attached screenshot where the ratings stars are off to the right a bit.

![screen shot 2015-10-08 at 10 27 30 am](https://cloud.githubusercontent.com/assets/5454235/10369281/68e19e20-6da7-11e5-85c6-f9a0bbd99799.png)

[2015-10-08 14:37] planyon opened #2667 "Top Contributors not working on search results"
See attached screenshot where "Berzelius Beaker" should be listed as a Top Contributor.
![screen shot 2015-10-08 at 10 36 18 am](https://cloud.githubusercontent.com/assets/5454235/10369496/8a58f7a0-6da8-11e5-953d-f3f24587ec6b.png)

[2015-10-08 15:53] scottdraves opened #2670 "featured notebooks not showing prescaled screenshot"

[2015-10-08 16:05] scottdraves opened #2671 "don't crop thumbnails"
they should be scaled down to fit (same amount in X and Y), leaving whitespace (centered).
this is for the regular metadata view.
in the featured view it should crop so the rectangle is filled.

[2015-10-08 16:18] scottdraves opened #2672 "add recommended size for thumbnail image"
"Add preview image" in the publish form should say what the recommended image size is, like

"Add preview image (recommended at least 200x300 resolution)" or whatever the numbers are, wxh.

[2015-10-08 16:26] melmac48 opened #2673 "Changing Category Names should not orphan the notebooks in the category"
If I change the name of a category in the Admin panel, all notebooks in the category are no longer present in the newly named category. The correct behavior is that an Admin should be able to change a category name without any knock on repercussions.

[2015-10-08 17:19] scottdraves commented on #2658
Thanks for your report, we will review it and get back to you.

[2015-10-08 18:18] scottdraves opened #2674 "command-a not selecting all content of code cell"

[2015-10-08 19:02] #2655 closed, assigned to sethkrasnianski

[2015-10-08 22:57] scottdraves opened #2675 "many notebooks broken"
https://pub.beakernotebook.com/#/publications/560b4ea6-5a57-4298-84e3-a3057c1ee4b4?fullscreen=true
![screen shot 2015-10-08 at 5 55 05 pm](https://cloud.githubusercontent.com/assets/963093/10382095/6c3318f0-6dee-11e5-8e8e-9e5398004fd5.png)

[2015-10-08 23:47] scottdraves commented on #2675
related? https://github.com/twosigma/beaker-notebook/issues/2673

[2015-10-09 03:06] scottdraves opened #2676 "cell buttons over code fix?"
<img width="279" alt="screen shot 2015-10-08 at 11 03 47 pm" src="https://cloud.githubusercontent.com/assets/963093/10385006/4554b234-6e11-11e5-87b7-ab406c5d11ec.png">

only show the buttons on hover? adv mode?

[2015-10-09 03:10] scottdraves opened #2677 "[Native Beaker] disconnect frequently"
<img width="593" alt="screen shot 2015-10-08 at 11 09 28 pm" src="https://cloud.githubusercontent.com/assets/963093/10385047/ac56227e-6e11-11e5-97e4-7b775d616094.png">

[2015-10-09 03:14] scottdraves commented on #2676
move language button to the other side, and leave it up all the time.  mock:
<img width="733" alt="screen shot 2015-10-08 at 11 08 40 pm" src="https://cloud.githubusercontent.com/assets/963093/10385083/2ef8305a-6e12-11e5-9819-739bb2ba7376.png">

[2015-10-09 03:17] scottdraves commented on #364
confirm it works with a fresh install.

[2015-10-09 03:25] scottdraves opened #2678 "[Native Beaker] On Mac, give documents an icon"
Notebook files should appear with our branded icon: a combo of beaker logo and the generic, standard doc icon.

[2015-10-09 03:39] scottdraves commented on #2659
thanks.  will do.

[2015-10-09 03:44] scottdraves opened #2679 "click filename to change"
<img width="259" alt="screen shot 2015-10-08 at 11 42 55 pm" src="https://cloud.githubusercontent.com/assets/963093/10385405/7f2d060a-6e16-11e5-9ba7-4feb68a1ebfc.png">

if you click on "/Users/spot/foo.bkr" it should open a dialog to rename the notebook.
open the regular filesystem dialog, but instead of writing a copy like save-as,
mv the original atomically (if possible, otherwise copy & delete

[2015-10-09 03:48] scottdraves commented on #240
ipython has a good system:

1) auto save every minute to the regular file name.
2) when user issues save command, save an extra copy into a checkpoint file.

location of checkpoint could be a dot file, added .bak suffix, or (like ipython) a subdir named "checkpoints".

let's discuss and decide before implementation.

[2015-10-09 11:53] ildipo commented on #2675
Not related. The real error is this one:

`6beakerVendor.js:44748 Error: [$injector:cdep] Circular dependency found: bkOutputDisplayDirective <- bkOutputDisplayFactory <- bkOutputDisplayDirective
http://errors.angularjs.org/1.2.28/$injector/cdep?p0=bkOutputDisplayDirective%20%3C-%20bkOutputDisplayFactory%20%3C-%20bkOutputDisplayDirective
    at VALIDITY_STATE_PROPERTY (https://pub.beakernotebook.c

[2015-10-09 11:54] ildipo commented on #2675
Which is in beaker output displays. It actually works perfectly if you navigate to the notebook from the publication home page but it does not if you use the direct link, but if you toggle on and off the fullscreen it works

[2015-10-09 11:55] ildipo commented on #2675
There's a circular dependency in beaker output displays which we should remove.

[2015-10-09 11:55] ildipo commented on #2675
The other exception should be removed too.

[2015-10-09 11:58] melmac48 opened #2681 "Social Networking Category Not Showing"
If I move a notebook into the Social Sciences Category then that Category shows up in the category list, however if I move the same notebook into the Social Networking sub category, then the Social Sciences category no longer shows ups.

[2015-10-09 12:06] altavir opened #2682 "Cell dependencies?"
Since all cells have their own identifiers and metadata, I think it would be interesting to have cell dependencies. For example if cell `A` is dependent on cell `B` and we try to run `A`, then if `B` is not calculated, it is being calculated automatically prior to `A`. One could organize whole chain of such dependent cells.
Also there could be two different type of dependencies. "Weak" ones to rec

[2015-10-09 12:07] #2656 closed, assigned to sethkrasnianski

[2015-10-09 12:24] ildipo commented on #2675
fixed and deployed

[2015-10-09 12:24] #2675 closed, assigned to nobody

[2015-10-09 12:30] ildipo commented on #2681
This seems to happen if you move it in a sub category that has an attached icon - if it does not have it then it works.
See https://pub.beakernotebook.com/#/publications/560eac5b-6e33-4850-b616-7547536cd8d0?fullscreen=false and try to put it inside Social Science -> Sociology or Psycology it works, but if you use Social Science (which has an icon) it does not.

[2015-10-09 12:34] melmac48 commented on #2681
Seems to work for biology

[2015-10-09 13:22] #2187 closed, assigned to mnavasiolava

[2015-10-09 13:28] #1171 closed, assigned to maxyeg

[2015-10-09 13:28] #2595 closed, assigned to maxyeg

[2015-10-09 13:29] #2648 closed, assigned to maxyeg

[2015-10-09 13:31] #2434 closed, assigned to kpaharelau

[2015-10-09 13:31] #2305 closed, assigned to kpaharelau

[2015-10-09 13:56] scottdraves opened #2683 "make v1.4.2"
include:
https://github.com/twosigma/beaker-notebook/pull/2645
https://github.com/twosigma/beaker-notebook/pull/2653
https://github.com/twosigma/beaker-notebook/pull/2652
https://github.com/twosigma/beaker-notebook/pull/2699
https://github.com/twosigma/beaker-notebook/pull/2708
https://github.com/twosigma/beaker-notebook/pull/2727
https://github.com/twosigma/beaker-notebook/pull/2751
https://githu

[2015-10-09 14:45] scottdraves opened #2684 "easyform on pub server css problems"
css problems, there is garbage at the bottom of the page,
even more if you click the date picker.

https://pub.beakernotebook.com/#/publications/560ca655-12df-43b9-9ecd-5714766b8fc4?fullscreen=true

[2015-10-09 14:47] maxyeg commented on #2684
In js console: ![8abef-clip-21kb](https://cloud.githubusercontent.com/assets/2286032/10396903/9ca5683e-6ead-11e5-98e2-3bf291626697.png)

looks like it lacks some ui resources when calls jquery autocomplete from easy-form impl.

[2015-10-09 14:56] #2186 closed, assigned to mnavasiolava

[2015-10-09 14:59] sethkrasnianski commented on #2684
We're also not including the datepicker's css file. When manually injecting it, it fixes all that garbage at the bottom

![screen shot 2015-10-09 at 10 58 46 am](https://cloud.githubusercontent.com/assets/1910114/10397283/cd0766aa-6e74-11e5-967c-36efe7871415.png)

[2015-10-09 14:59] sethkrasnianski commented on #2684
Just need to get those assets squared away

[2015-10-09 15:07] wgajate opened #2685 "Drives over than C:\ are not available in viewer to open notebooks"
On the main beaker screen, when I select file->open->open..(ipyb), the directory browser that pops up fails to show my locally partitioned mapped G:\ drive.

[2015-10-09 15:15] wgajate opened #2686 "When I run the IPython tutorial I get - IPython initialization failed"
![beaker_runtime](https://cloud.githubusercontent.com/assets/1097313/10397762/568e1d5e-6e77-11e5-9827-a57e8afde3b2.jpg)

[2015-10-09 15:20] scottdraves opened #2687 "control-space in groovy not triggering autocomplete"
exact circumstances are unclear.

[2015-10-09 15:22] scottdraves opened #2688 "typeface for autocomplete is not roboto mono"
<img width="216" alt="screen shot 2015-10-09 at 11 21 42 am" src="https://cloud.githubusercontent.com/assets/963093/10397879/f69cdf38-6e77-11e5-9ab8-0e3a4dcda4f8.png">

[2015-10-09 15:25] scottdraves commented on #2686
thanks for the report.
i think you have python3 as your default python, is that right?
that tutorial is for python2.

[2015-10-09 15:26] scottdraves commented on #2685
good point, we should make all the mounted drives accessible.

[2015-10-09 15:28] sethkrasnianski commented on #2684
Assets and css issues aside, it seems that at the time any form field which talks to the `easyform/set` endpoint is failing due to `window.languageServiceBase` not being accessible. Also,`evaluatorId` is not set at this time.

The culprit in the example of the combo boxes is line `11506`

[code]

When you select an option from the combo box, an ajax request it kicked off to that endpoint. The comb

[2015-10-09 15:29] scottdraves commented on #2684
on the pub server the form should be read-only.

[2015-10-09 15:37] wgajate commented on #2686
my default python is 2.7.4 on the 64 bit Anaconda 2.3.0

[2015-10-09 15:42] scottdraves commented on #2686
if you close the error, can you make a code cell and evaluate the following:

[code]

where do you have beaker installed?

[2015-10-09 15:54] #2066 closed, assigned to nobody

[2015-10-09 15:56] scottdraves commented on #2070
https://github.com/twosigma/beaker-notebook/issues/2193

[2015-10-09 15:56] #2070 closed, assigned to nobody

[2015-10-09 15:57] altavir commented on #2685
I also have this problem. Open dialog shows only the drive on which beaker is installed and user directory. I also could not find a way to manually specify working directory.

[2015-10-09 15:58] altavir commented on #2687
In fact, I have at least partially working autocomplete for Groovy both in 1.4 and 1.4.1.

**EDIT** Win 10, beaker 1.4.1. Groovy aoutocomplete fully functional. It doesn't see closures defined in other cells, but I think it is not possible at all.

[2015-10-09 16:14] wgajate commented on #2686
I ran os.environ["PYTHONPATH"] and it revealed two paths separated by a ':' not ';'. It looks like when beaker runs it adds itself to the pythonpath with a hardcoded ':' instead of using os.pathsep.

[2015-10-09 16:24] scottdraves commented on #2686
what version of beaker do you have? that was recently fixed.

BeakerNotebook.com
ScottDraves.com
twitter.com/Scott_Draves
On Oct 9, 2015 12:14 PM, "Will" notifications@github.com wrote:

[2015-10-09 16:47] planyon commented on #2684
After downloading the publication and running it on my local copy of Beaker I'm seeing the same issue, with improperly displayed Date Pickers on Easy Forms.

[2015-10-09 17:15] altavir opened #2689 "Section number in hierarchy view"
In hierarchy view there are numbers for each section. From common sense these numbers should be section numbers, but in fact they are cell numbers in section. For example if there are two cells and then subsection, the number will be `1.1.3` or something like that with no `1.1.1` and `1.1.2` before it.

Is it intended that way?

[2015-10-09 17:31] scottdraves commented on #2684
i can't reproduce the problem in local beaker.  what version do you have paul?

[2015-10-09 17:42] scottdraves commented on #2689
no that's just a bug, thanks for the report.

![screen shot 2015-10-09 at 1 41 10 pm](https://cloud.githubusercontent.com/assets/963093/10401212/861bf366-6e8b-11e5-9ce2-52152c76f212.png)

[2015-10-09 17:46] scottdraves commented on #2689
not a regression this has always been broken afaik.

[2015-10-09 17:48] altavir commented on #2689
I also found that hierarchy view is not restored on save/load.

[2015-10-09 17:49] scottdraves commented on #2682
Thank you!  I agree that dependencies would be useful, and we'll probably implement something eventually.

[2015-10-09 17:52] scottdraves commented on #2689
Well it's not intended to be part of the document, but just a way of viewing documents.
I agree it should be more persistent (session to session).

[2015-10-09 17:55] wgajate commented on #2686
v1.3.1-0-g3072e5e

[2015-10-09 17:56] scottdraves commented on #2686
OK, try downloading the latest release, 1.4.1.

[2015-10-09 17:59] altavir commented on #1948
I confirm that it is a needed feature, particularly `import static Math.*`.

[2015-10-09 18:11] planyon commented on #2684
I just pulled down the latest master, downloaded the notebook, opened it up and ran all cells. See attached screenshot. I had Seth try to do the same test and it worked for him, but Matt tried and he experienced the same issue as on publications and in my screenshot.

![screen shot 2015-10-09 at 2 03 11 pm](https://cloud.githubusercontent.com/assets/5454235/10401842/a123c068-6e8f-11e5-8be6-23ab23e

[2015-10-09 19:18] #2634 closed, assigned to kpaharelau

[2015-10-09 20:05] wgajate commented on #2686
That worked. Thanks for your help.

On Fri, Oct 9, 2015 at 1:56 PM, Scott Draves notifications@github.com
wrote:

[2015-10-09 20:06] #2686 closed, assigned to nobody

[2015-10-10 00:11] ArthurZ opened #2690 "Unable to start beaker"
On Ubuntu 14.04
Attempting to start Beaker with beaker.command
getting
Exception in thread "main" java.lang.UnsupportedClassVersionError: com/twosigma/beaker/core/Main : Unsupported major.minor version 52.0
    at java.lang.ClassLoader.defineClass1(Native Method)
    at java.lang.ClassLoader.defineClass(ClassLoader.java:800)
    at java.security.SecureClassLoader.defineClass(SecureClassLoader.java

[2015-10-10 00:52] scottdraves commented on #2690
Thanks for the report.  What version of java do you have installed & how was it installed?
Did you run the install-dependencies.sh script?

[2015-10-10 01:01] scottdraves commented on #2689
Note: I could easily be convinced though to make the numbering (or not) part of the doc.

This change should account for improving the table-of-contents navigation in general, a larger future project.

So I an open to changing this, but want to make sure it's the right change.

[2015-10-10 01:30] scottdraves opened #2691 "raise error on large autotranslated value"
https://github.com/twosigma/beaker-notebook/pull/2652
in case even this limit is exceeded, should fail gracefully.

[2015-10-10 01:41] scottdraves opened #2692 "less saturated code highlight colors"
beaker is on the left.  github on the right.  it gets more keywords like document and window too.

especially bad is beaker's bright green matching paren.
<img width="899" alt="screen shot 2015-10-09 at 9 36 33 pm" src="https://cloud.githubusercontent.com/assets/963093/10408553/6a776f12-6ece-11e5-8368-52614fa952f9.png">

[2015-10-10 01:55] scottdraves opened #2693 "admin edit of unlisted"
thanks for the fast implementation of the unlisted post feature :+1:

that means we need this too:  admins can toggle unlisted bit of each notebook (add checkbox):
<img width="561" alt="screen shot 2015-10-09 at 9 49 31 pm" src="https://cloud.githubusercontent.com/assets/963093/10408589/ef1b39dc-6ecf-11e5-8874-52b754d40514.png">

[2015-10-10 02:07] ArthurZ commented on #2690
java version "1.7.0_51"
Java(TM) SE Runtime Environment (build 1.7.0_51-b13)
Java HotSpot(TM) 64-Bit Server VM (build 24.51-b03, mixed mode)

[2015-10-10 02:14] scottdraves commented on #2690
java 7 is at end-of-life, you should def upgrade :)

"after April 2015, Oracle will not post further updates of Java SE 7 to its public download sites"

[2015-10-10 02:30] scottdraves opened #2694 "ubuntu dependencies for core?"
We have https://github.com/twosigma/beaker-notebook/blob/master/launcher/ubuntu/install-dependencies.sh
but that includes all the languages & dev env as well.

what's the minimum required to run the core?
that should be documented.

[2015-10-10 02:51] ArthurZ commented on #2690
Turned out I have multiple versions of Java installed including Java 8. I switch to it with sudo update-alternatives --config java
But got the same Exception in thread "main" java.lang.UnsupportedClassVersionError: com/twosigma/beaker/core/Main : Unsupported major.minor version 52.0 error
Executing the install-dependencies.sh script

[2015-10-10 03:12] ArthurZ commented on #2690
Installing the dependencies took a while, the error did not go away:
bash: ./beaker.command.sh: No such file or directory
arthur@zareason-strata7440:~/Beaker/beaker-notebook-1.4.1-0-ge8427bf-ubuntu$ ./beaker.command
Exception in thread "main" java.lang.UnsupportedClassVersionError: com/twosigma/beaker/core/Main : Unsupported major.minor version 52.0
    at java.lang.ClassLoader.defineClass1(Native

[2015-10-10 03:30] scottdraves opened #2695 "Groovy imports should persist across cells"
<img width="652" alt="screen shot 2015-10-09 at 11 27 58 pm" src="https://cloud.githubusercontent.com/assets/963093/10409049/a19066b6-6edd-11e5-8cd2-87bb005b8136.png">

[2015-10-10 03:31] scottdraves commented on #2658
confirmed: https://pub.beakernotebook.com/#/publications/56188486-7d2e-4bf3-8a18-b3977633eb38

our big plan is to add a package manager UI to the language manager: https://github.com/twosigma/beaker-notebook/issues/1350

in the meantime, this seems like a class loader bug, we'll look into it.

plus: https://github.com/twosigma/beaker-notebook/issues/2695

[2015-10-10 03:47] scottdraves commented on #2690
do you have the JAVA_HOME environment set?
if so, unset it.  or make sure it points to Java8.

[2015-10-10 04:12] ArthurZ commented on #2690
Now set JAVA_HOME and got
ERROR: JAVA_HOME is set to an invalid directory: /usr/lib/jvm/java-8-oracle/jre/bin/java

Please set the JAVA_HOME variable in your environment to match the
location of your Java installation.
If I check for Java installations I get
There are 5 choices for the alternative java (providing /usr/bin/java).

##   Selection    Path                                            Pr

[2015-10-10 04:17] ArthurZ commented on #2690
Wrong path of course, needs to be /usr/lib/jvm/java-8-oracle
Finally, it is a victory, Beaker starts in my own browser.
A big thank you Scott!

[2015-10-10 04:19] altavir commented on #2689
It strongly depends on presumed usage of the notebook. In my case I use it as teaching material, and static chapters would be very nice since they could be easily referenced from other chapters (it would be also great to be able to create clickable link to cell or chapter from text cell).

[2015-10-10 04:21] ArthurZ commented on #2690
Python works, but not R.
Error symbol lookup error: /lib/x86_64-linux-gnu/libncurses.so.5: undefined symbol: _nc_putchar

[2015-10-10 04:22] ArthurZ commented on #2690
stderr:

Oct 10, 2015 12:17:59 AM com.twosigma.beaker.r.utils.RServerEvaluator$workerThread startRserve

SEVERE: exception starting RServe

org.rosuda.REngine.Rserve.RserveException: Cannot connect: Connection refused

[code]

Oct 10, 2015 12:18:03 AM com.twosigma.beaker.r.utils.RServerEvaluator$workerThread startRserve

SEVERE: exception starting RServe

org.rosuda.REngine.Rserve.RserveException:

[2015-10-10 04:25] scottdraves commented on #2690
did you install the R packages listed at http://beakernotebook.com/getting-started?

[code]

[2015-10-10 14:31] scottdraves commented on #1658
The plan for solving this (and more) is here:
https://github.com/twosigma/beaker-notebook/wiki/Refactoring

[2015-10-10 19:15] cjsulli opened #2696 "Pre-install spark on docker container?"
Just a suggestion, but I am trying to work through the tutorials and ran into the fact that Spark was not pre-installed on the docker container.  (At least when I updated my container a few hours ago.)  While I have come across several small issues with things not being installed (mostly python packages that were easily resolved with pip), it would be nice if some of these bigger things like Spark

[2015-10-10 19:27] scottdraves commented on #2696
Thanks for your feedback.  Spark is really gigantic to build but perhaps we could include a binary blob, just like we host on S3.  I don't see any fundamental reason why we couldn't.

[2015-10-10 20:33] cjsulli commented on #2696
I hear ya.  So I installed it myself via:

git clone git://github.com/apache/spark.git
build/mvn -DskipTests clean package

In doing so, I put the install into /src/spark.  So I set $SPARK_HOME to this value.  I ran the built-in spark examples in my container just fine to verify the successful build.

But when I try to run the PySpark example, I get an error saying that $SPARK_HOME is not set.  I

[2015-10-10 20:54] scottdraves commented on #2696
how did you set it?  how are you running beaker?

i believe it has to be set in .bash_profile...

but really if you tried to put the value right into the code, that should work, idk.

[2015-10-10 21:09] cjsulli commented on #2696
OK...a bit of progress.  Running beaker via:

sudo docker run -p 8800:8800 -t beakernotebook/beaker

I set $SPARK_HOME manually in the shell:

export $SPARK_HOME=/src/spark

Then, I added in the set language:

spark_home='/src/spark'

Now I get the following error:

ERROR: [Errno 2] No such file or directory: '/src/spark/python/pyspark/shell.py'

However, I have verified that shell.py is truly in

[2015-10-10 21:17] scottdraves commented on #2696
are you really putting /src at the root of the filesystem?
should that be in the home dir?

[2015-10-10 21:25] cjsulli commented on #2696
Yeah.  That was a typo.  But I changed it to /home/beaker/src/spark and it still threw the same error about shell.py.

[2015-10-11 01:57] scottdraves commented on #2687
cannot reproduce on my home mac.

[2015-10-11 03:30] ArthurZ commented on #2690
I have a problem with the base R. Looks like Anaconda took over it.
error Error symbol lookup error: /lib/x86_64-linux-gnu/libncurses.so.5: undefined symbol: _nc_putchar

[2015-10-11 15:22] scottdraves opened #2697 "do grid and lattice pkgs work in R?"
try this: http://alstatr.blogspot.ca/2015/02/r-how-to-layout-and-design-infographic.html

[2015-10-11 17:56] scottdraves commented on #2467
<img width="466" alt="screen shot 2015-10-11 at 1 53 32 pm" src="https://cloud.githubusercontent.com/assets/963093/10418116/bf800a26-701f-11e5-999c-d41f7184c80c.png">

just got this on master.  the slider flashed & was replaced by the graph.

[2015-10-12 08:06] kpaharelau commented on #2385
I see that _sessionId is set in bkSessionManager in 3 functions:'reset', 'setSessionId' and 'setup'. Obviously in some cases in tests function 'setEdited' is called before calling functions above. We can to avoid this collision calling function 'setSessionId' with null parameter in the setEdited function.

[2015-10-12 10:15] grin commented on #2681
Trying to reproduce it locally, but with no luck. I created a simple category structure:

Social Sciences -> Social Networking

and tested moving notebook between the two categories with sub-category icon present/absent. All my tests were successful.

Is this still an issue on production?

[2015-10-12 10:26] grin commented on #2693
Fixed in: https://github.com/twosigma/bunsen/pull/1247

[2015-10-12 12:27] grin commented on #2667
Fixed in https://github.com/twosigma/bunsen/pull/1248

[2015-10-12 12:44] grin opened #2700 "Add publication listing to admin menu"
The list should have title, author, updated-date, featuredm list/unlist

[2015-10-12 12:55] grin opened #2701 "Add endpoint for returning publications updated/uploaded after given date"
This endpoint will be called periodically by cron and curl.

per @ildipo comments:

_I must get also the unlisted notebook list so we do need some kind of auth and special endpoint,
I think we can have a pre-shared secret I can set in an ENV var when I start the API docker container
and I can pass it via curl query string_

[2015-10-12 12:57] grin commented on #2701
@ildipo what format should the response have? text? html? should it just link to found publications?

[2015-10-12 13:39] grin commented on #2673
Seems like there is something else going on. Tried renaming "Demographics" to "Demographics2" on staging: https://pub-staging.beakernotebook.com/#/publications and it didn't orphan any notebook. Is there any category where you could reproduce this on staging? or that's only happening in production? (I only have admin on staging).

[2015-10-12 17:35] #2644 closed, assigned to kpaharelau

[2015-10-12 18:33] scottdraves commented on #2687
mystery solved: i had emacs editing mode set.

[2015-10-12 20:35] scottdraves opened #2704 "TimePlot class should accept java.util.Date"
not just java.lang.Number for X axis values.

[2015-10-12 21:08] scottdraves opened #2705 "TimePlot autorange bug"
requested 0 in range but seems to be ignored:
https://pub.beakernotebook.com/#/publications/561c2126-6107-43d6-a0f4-1bd97b182d6e

[2015-10-12 22:43] scottdraves opened #2706 "CombinedPlots heights"
if you do not provide a 2nd argument to the add method, it should default to 1.

and if there are multiple plots, they weights do not seem to translate to heights linearly:
https://pub.beakernotebook.com/#/publications/561c37b1-7ce6-4232-b648-3397327458ea
these 3 charts should have the same height since they have the same weight.

[2015-10-12 22:44] scottdraves commented on #2706
![screen shot 2015-10-12 at 6 44 00 pm](https://cloud.githubusercontent.com/assets/963093/10440913/3939d030-7111-11e5-90b5-66cda4d16e99.png)

[2015-10-13 05:13] altavir commented on #2704
Consider working with Instants or LocalDateTimes instead of Dates. Java 8 Time library is much more convenient than legacy date.

[2015-10-13 11:57] maksim-lauryk commented on #2476
added the require configuration

[2015-10-13 12:58] sethkrasnianski commented on #2641
This should be resolved in https://github.com/twosigma/bunsen/pull/1251#issuecomment-147706809

[2015-10-13 13:22] #2693 closed, assigned to grin

[2015-10-13 13:22] #2667 closed, assigned to grin

[2015-10-13 13:29] ildipo commented on #2701
what about JSON with all fields (except the notebook data itself)?

[2015-10-13 13:31] #2588 closed, assigned to grin

[2015-10-13 13:48] grin commented on #2701
:+1:

[2015-10-13 14:33] #2647 closed, assigned to maxyeg

[2015-10-13 14:39] #2477 closed, assigned to maksim-lauryk

[2015-10-13 14:40] #2687 closed, assigned to nobody

[2015-10-13 14:42] #2689 closed, assigned to maxyeg

[2015-10-13 14:53] scottdraves opened #2709 "insert cell buttons shift on load"
when a new notebook is first created, the insert cell buttons appear and then
immediately shift to the right within a fraction of a second.  i think it's because
the word "JavaScript" is blank before it gets filled in.  this is annoying, it should
wait until it knows what to say before drawing the UI.

[2015-10-13 14:58] scottdraves commented on #2697
including posting the demo notebook to pub.beakernotebook.com

[2015-10-13 15:07] scottdraves commented on #2704
agreed, thanks.

[2015-10-13 15:54] scottdraves opened #2710 "add new features clojure demo notebook"
especially autotranslation, dynamic classpath to call java

[2015-10-13 15:54] scottdraves commented on #2710
https://github.com/twosigma/beaker-notebook/issues/1847

[2015-10-13 15:58] planyon commented on #2650
@grin Sorting by highest rated isn't working on staging. The notebook "phytools failure" is first in the list, even though it has no rating.

Sorting by newest/oldest produce different sort orders, but I would expect them to list each item in the same order, just in reverse.

Sorting alphabetically puts "Comparing..." in the first spot, incorrectly. The rest of the items look good.

[2015-10-13 21:29] sethkrasnianski commented on #2638
Hey @melmac48, have you seen this since filing the issue? Were you able to isolate some steps to reproduce it?

[2015-10-13 22:29] melmac48 commented on #2638
I see it all the time on prod. I'll try to repro on staging

[2015-10-14 11:31] grin commented on #2641
should be fixed by: https://github.com/twosigma/bunsen/pull/1256

[2015-10-14 11:32] grin commented on #2650
should be fixed by: https://github.com/twosigma/bunsen/pull/1256 (https://github.com/twosigma/bunsen/commit/3c239f84c741e6a4c6545bd6586a8715775affd2 specifically)

[2015-10-14 13:04] #2475 closed, assigned to maksim-lauryk

[2015-10-14 13:09] #1458 closed, assigned to nobody

[2015-10-14 13:44] scottdraves opened #2713 "refine persistent plot resize info?"
I am sometimes confused when I rerun a cell that creates a plot after changing the code
to change the size, and my changes to not appear because I had resized the plot manually
and the resize info has priority over my changes.

if possible we should make this more intuitive.  maybe along with the new size we can store the requested size, and only override if the requested sizes match.

Or possibly

[2015-10-14 13:56] scottdraves opened #2714 "on mac, build for app store"
https://github.com/atom/electron/issues/249 is closed, we should make our build take advantage of this.

[2015-10-14 14:31] #1316 closed, assigned to maksim-lauryk

[2015-10-14 14:31] #2323 closed, assigned to maksim-lauryk

[2015-10-14 14:38] grin commented on #2671
@scottdraves how "leaving whitespace" can be achieved without actually cropping thumbnails? Also, by "leaving whitespace" do you mean we should try to detect whitespace in all images (png, jpg) and crop images automatically so they don't show it? If yes, this problem seems a bit complex to solve in general.

If we want to have fine grained control over thumbnails maybe we should add a cropping ste

[2015-10-14 14:53] #2488 closed, assigned to siarhei-shvaiko

[2015-10-14 14:55] scottdraves commented on #2671
i think we should keep it simple and not introduce cropping UI.
i am not proposing looking into the image and deducing whitespace.
just treat the uploaded image as a unit.
do not crop it!  whatever the user sent up they want to see.
to make it fit into the space on the web page, introduce whitespace around what they uploaded,
either on top & bottom or on sides.

[2015-10-14 14:58] grin commented on #2671
:+1:

[2015-10-14 15:44] alice-kroch opened #2716 "Beaker menu creation refactoring"
Need to refactor the way how Beaker menu is building. Some points of view:
- It should work through the **bkElectron** factory
- Need to find out if we need to use _'main-menu'_ module in electron because now it seems like it's not in use.
- Also need to override creation of 'About Beaker' menu item. There is example of right behaviour, so we need to rework it:
  - on mac: should be 1st item in th

[2015-10-14 15:52] alice-kroch opened #2717 "Window manager refactoring"
1. Need to build universal methods of _'window-manager'_ electron module that allows to create popups with different configuration. For now it should work with _'change-server-dialog'_ and _'about'_  windows.
2. Need to develop common styles for popups

[2015-10-14 16:33] byndcivilization opened #2719 "QA languages on Safari (running on docker)"
`docker run -p 8800:8800 -t beakernotebook/beaker`
Works fine but I get infinite initilizing languages for everything except html and latex. Is there a flag or process to load language backend?

[2015-10-14 17:14] scottdraves commented on #2719
thanks for the report.  no, they should work.  what version of beaker is in your container (look in the help->about)?

[2015-10-14 17:17] scottdraves commented on #2717
:+1:

[2015-10-14 17:17] scottdraves commented on #2716
:+1:

[2015-10-14 17:25] scottdraves opened #2720 "make sure plot sizes are respected exactly"
For a combined plot, if you request a particular size, the plot comes out a little taller.
see the discussion at the bottom of https://github.com/twosigma/beaker-notebook/pull/2711

[2015-10-14 17:26] scottdraves commented on #2719
i just checked and didn't have any problems.  can you give more specific steps to reproduce?

[2015-10-14 17:53] byndcivilization commented on #2719
[code]

I'm running this through docker-machine on an aws remote host which has been giving me problems on other images. Is there a specific port configuration that you recommend?

[2015-10-14 18:08] scottdraves commented on #2719
it just needs 8800 open.  if you get anything at all then it should work.

[2015-10-14 18:10] byndcivilization commented on #2719
This is weird. My session expired and i reconnected and R and JS work. Nothing else yet.

[2015-10-14 18:12] scottdraves commented on #2719
What browser are you using?

[2015-10-14 18:12] byndcivilization commented on #2719
Safari

[2015-10-14 18:13] byndcivilization commented on #2719
Its giving me logs that indicate IPython noteboodk is good

[2015-10-14 18:15] byndcivilization commented on #2719
althought it is giving me a 404 on an api request:

[code]

[2015-10-14 18:17] byndcivilization commented on #2719
Seems to be working on chrome however.

[2015-10-14 18:27] byndcivilization commented on #2719
Oh okay so i think this is at least partially an issue on my end.
I was not running as daemon but was treating it as such.

[2015-10-14 18:52] scottdraves commented on #2719
Cool, glad you got it figured it out.

[2015-10-14 19:43] planyon opened #2722 "Allow users to upload their own avatars to publications"

[2015-10-14 19:53] #2643 closed, assigned to sethkrasnianski

[2015-10-14 19:54] #2642 closed, assigned to sethkrasnianski

[2015-10-14 20:43] #2709 closed, assigned to tomca32

[2015-10-14 20:48] yz5548 opened #2723 "improve error reporting when wrong python runs"
Problem: when open a default worksheet with ipython and R, there is error popup "error no module named 'urllib2' "

BTW: looks like ipython is still working  by typing "1+1", "1*6+7"

Environment:
OS: Win 7 64 bit
browser: google chorme
notebook version: 1.4.1-0-ge8427bf-windows

Log information
D:\Software\BeakerNotebook\beaker-notebook-1.4.1-0-ge8427bf-windows>REM

D:\Software\BeakerNotebook\bea

[2015-10-14 22:01] #2706 closed, assigned to mnavasiolava

[2015-10-14 23:30] scottdraves commented on #2723
Thanks for the report.
Beaker is confused between Python2 and Python3.
How did you install IPython?

[2015-10-14 23:56] grin commented on #2671
Fixed in: https://github.com/twosigma/bunsen/pull/1266

[2015-10-14 23:56] grin commented on #2670
Fixed in: https://github.com/twosigma/bunsen/pull/1266

[2015-10-15 00:34] yz5548 commented on #2723
using ANACONDA PYTHON 3.4 Windows 64-bit

https://www.continuum.io/downloads

[2015-10-15 01:13] scottdraves commented on #2723
Thank you.  What happens if you restart beaker, make a a new empty notebook, open the language manager, and then click on Python3?
Does it turn green, stay yellow forever, or produce an error?

[2015-10-15 01:25] yz5548 commented on #2723
Python3 is OK ( it turn green without any error msg). Ipython still have the error for the first time

[2015-10-15 01:42] sethkrasnianski opened #2724 "Pub server easy forms should be read-only"

[2015-10-15 01:43] scottdraves commented on #2723
Thanks again.  I think the problem is Beaker assumes you install Python2 Anaconda, and then add Python3 in a virtualenv.  Will have to think about how best to fix that, but in the meantime you should be good as long as you avoid the "IPython" (aka Python2) plugin.

Unfortunately most of the Python tutorials are written assuming Python2 :( So to run those tutorials you would need to change the lang

[2015-10-15 01:53] scottdraves commented on #2719
We should test more on Safari. it sounds like that may have confused the UI a bit.

[2015-10-15 02:38] sethkrasnianski commented on #2657
:+1:

[2015-10-15 03:09] scottdraves opened #2726 "thumbnails should be png not gif"
https://pub.beakernotebook.com/user/v1/attachments/560d93d4-5509-455b-8ed6-0fa4f960881b?variant=metadata

[2015-10-15 05:22] sethkrasnianski commented on #2657
This will remove chrome tabbing abilities. Is ctrl also expected as an alternative to cmd (particularly for windows)?

Also, do we want to capture numbers greater than 9 for page requests??

[2015-10-15 05:27] sethkrasnianski commented on #2676
What if the language icon stayed in place, but persisted? Would that be too visually intrusive?

[2015-10-15 12:16] grin commented on #2700
@ildipo what do you think about adding the unlisted check to publication search:
![image](https://cloud.githubusercontent.com/assets/12468/10513321/157d3b04-7347-11e5-984d-46667f6bbd95.png)
?
that would be visible to admins only and if checked it would only show unlisted publications (and allow filter/search).

[2015-10-15 12:23] grin commented on #2726
yes, this seem broken...the original intention was to use the format of the uploaded image for thumbnails.

[2015-10-15 12:26] ildipo commented on #2700
I think it is a good idea - while you are at it we should also display the unlisted notebook when you are logged in and you are looking at your notebooks. I would also add a menu entry "show my own notebook" that brings you to your author list

[2015-10-15 13:10] #2671 closed, assigned to grin

[2015-10-15 13:12] #2684 closed, assigned to sethkrasnianski

[2015-10-15 13:17] #2666 closed, assigned to sethkrasnianski

[2015-10-15 13:59] #2650 closed, assigned to grin

[2015-10-15 13:59] #2670 closed, assigned to grin

[2015-10-15 14:01] #2641 closed, assigned to sethkrasnianski

[2015-10-15 15:13] grin commented on #2700
@ildipo are we talking about this menu:
![image](https://cloud.githubusercontent.com/assets/12468/10518043/e6fcc4de-735f-11e5-9a05-62eb51d6af68.png)
for "show my own notebooks" option?

[2015-10-15 15:13] ildipo commented on #2700
@grin yes thanks

[2015-10-15 17:14] jslmann commented on #2598
Hello!

preliminaries:
os: OSX 10.11
beaker: 1.4.1 (1)

i get the same error, before I show the installed.packages() result, a bit of context:
I use brew and anaconda, not because I'm smart just cause that's how things happened
bouncing from one hack to another...
that said,  'which r' gives the anaconda path.
when I open r from a bash shell and try: "install.package('Rserve')"
I will get the foll

[2015-10-15 17:47] tomca32 opened #2730 "Header repaints on scroll"
The whole header repaints on scroll. This is unnecessary and affects performance.

To reproduce enable paint flashing in Chrome and scroll the page. Green rectangle marks the areas that are constantly repainted.

![Repainting Header](http://cdn.makeagif.com/media/10-15-2015/-SeT-5.gif)

Promoting the header to a composite layer should solve the issue.

[2015-10-15 17:54] scottdraves opened #2731 "line numbers missing from code"
![screen shot 2015-10-15 at 1 53 21 pm](https://cloud.githubusercontent.com/assets/963093/10522628/27b67d60-7344-11e5-9b34-4f09b67fb35f.png)

[2015-10-15 17:59] altavir opened #2732 "Beaker fails to start when path to user directory contains non-ascii symbols"
On windows user directory usually is C:\Users<user name>. The user name is not necessarily English and is encoded via system default charset (which is usually cp-something). Some of my students with Russian user names found that beaker would not start saying it can't find configuration file.

This problem is quite critical for me, so please tell me if there is some quick work-around for this probl

[2015-10-15 18:19] #2688 closed, assigned to tomca32

[2015-10-15 18:33] altavir opened #2733 "Wrong encoding on import of non-ascii .bkr file"
Loading via File -> open works fine, but if I try to drag and and drop file to main window (both web-version and electron) or upload it, all Russian letters are replaced with `?`-s. The .bkr file itself is in UTF-8 (I've explicitly checked that) and system encoding is cp1251.

[2015-10-15 18:50] altavir commented on #2732
Just checked it again from other computer with Russian user name. That's what I get when I start beaker via PowerShell:

[code]

After that browser starts, but it fails to load the page.

[2015-10-15 19:38] scottdraves opened #2735 "demo notebook"
of https://gitgud.io/unconed/mathbox

[2015-10-15 19:40] scottdraves opened #2736 "d3 demo tut prose has grammatical errors"
and should say "D3" not "d3"

[2015-10-15 19:44] #2730 closed, assigned to tomca32

[2015-10-15 20:01] scottdraves commented on #2732
Thanks we can get this into 1.4.2 early next week at best.
Unfortunately I can't think of a workaround.

[2015-10-15 20:03] altavir commented on #2732
Currently I recommended to create a user with English name for this purpose. It will hold for now, but I definitely looking forward for new release.

[2015-10-15 20:05] scottdraves commented on #2733
thanks for the report.  can you please provide notebook that reproduces this problem?
emailing an attachment to me or beaker-feedback at twosigma is fine.

[2015-10-15 20:07] altavir commented on #2733
Here it is: http://sharing.beakernotebook.com/gist/anonymous/d3bec42962f02963ebbf . I just published it to server to show to students who failed to install beaker.

[2015-10-15 20:12] scottdraves commented on #2733
indeed.  we'll get to this one later since there seems to be a decent workaround.

[2015-10-15 20:59] tomca32 opened #2737 "Wrong headers from getPreference response"
Calling rest/util/getPreference will return a response with content-type set to JSON but content is plain text.

This is important because newer versions of angular will automatically try to parse JSON if the content-type is set to JSON. Unsurprisingly that fails and the application stops working.

![screen shot 2015-10-15 at 4 57 09 pm](https://cloud.githubusercontent.com/assets/3384784/10527349/

[2015-10-15 21:35] scottdraves commented on #2495
on pub too!

[2015-10-16 12:12] alice-kroch commented on #2716
I've noticed, that after main window is closed on mac os the new instance of menu appeared, including main Beaker menu and File menu with two subitems - new empty notebook and new default notebook. Is this a right behaviour? Shouldn't it include any other items?

[2015-10-16 14:30] scottdraves commented on #2732
https://forum.nginx.org/read.php?21,239503,239510#msg-239510

this is a problem in nginx so it's not easy to fix.  we will have to move where we put the config file and i can't do that in 1.4.2, it's a big enough change it has to wait for 1.5, sorry.

[2015-10-16 15:01] altavir commented on #2732
I think it is a good idea to pass config file path and nginx working directory path via CLI so it could be manually reconfigured by editing start script. It will also allow to make a fully portable version ( by storing work files inside beaker installation directory).

[2015-10-16 15:02] #2495 closed, assigned to sethkrasnianski

[2015-10-16 15:28] #2657 closed, assigned to sethkrasnianski

[2015-10-16 15:42] tomca32 opened #2743 "Account activation from email link failed"
After registering a new account I was instructed to check my email and click an activation link there.

After clicking the activation link I was greeted with this screen:
![screen shot 2015-10-16 at 11 39 49 am](https://cloud.githubusercontent.com/assets/3384784/10546231/cb6ef868-73fa-11e5-89d5-45e7e68823e6.png)

After clicking the link a second time, it worked and I was able to log in.

[2015-10-16 15:55] tomca32 commented on #2697
Yes they do: https://pub.beakernotebook.com/#/publications/56211d8f-9b57-4419-b67a-85a52704ceb4

[2015-10-16 15:55] #2697 closed, assigned to tomca32

[2015-10-16 16:47] #2685 closed, assigned to maxyeg

[2015-10-16 16:48] #2705 closed, assigned to mnavasiolava

[2015-10-16 16:49] #2565 closed, assigned to maxyeg

[2015-10-16 16:49] #2476 closed, assigned to maksim-lauryk

[2015-10-16 17:14] tomca32 opened #2744 "Publishing a notebook through publications interface doesn't add the publication id"
Publishing the notebook through the publications website doesn't save it's publication id. This makes it impossible update it from Beaker even if you download the publication and import it into Beaker.

Steps:
1. Create a notebook
2. Go to the publications website: [https://pub.beakernotebook.com](https://pub.beakernotebook.com)
3. Log in
4. Click on your profile image in the upper right and selec

[2015-10-16 17:21] scottdraves opened #2745 "add FAQ for how to add JDBC driver to SQL plugin"

[2015-10-16 19:49] jonassmedegaard opened #2746 "some files have "TWO SIGMA INVESTMENTS, LLC" as copyright holder"
Most files have "TWO SIGMA OPEN SOURCE, LLC" as copyright holder, but the following files instead have "TWO SIGMA INVESTMENTS, LLC":
 build-sharing-server/src/app/beaker_notebook.html
 plugin/jvm/src/main/java/com/twosigma/beaker/chart/serializer/AreaSerializer.java
 plugin/jvm/src/main/java/com/twosigma/beaker/chart/serializer/BarsSerializer.java
 plugin/jvm/src/main/java/com/twosigma/beaker/char

[2015-10-16 19:58] tomca32 commented on #1931
Travis CI has changed their whitelist request format and repo so I opened new issues here:

zeroMQ: https://github.com/travis-ci/apt-package-whitelist/issues/1407
rruter: https://github.com/travis-ci/apt-package-whitelist/issues/1408

[2015-10-16 20:13] #2737 closed, assigned to tomca32

[2015-10-16 20:24] tomca32 commented on #1931
Perhaps we can just use the new Travis infrastructure which allows us to use sudo: #2372

[2015-10-16 20:44] scottdraves commented on #2746
thanks, fix will be merged monday.

[2015-10-16 20:57] dela3499 opened #2749 "Broken Link: keyboardshortcuts.html should be keyboardShortcuts.html"
I've got the latest beaker-notebook-1.4.1, and when I click Help > Keyboard shortcuts button, I'm taken to keyboardshortcuts.html, which doesn't exist. It looks like the first 's' should be capitalized, since keyboardShortcuts.html is in the source.

[2015-10-16 21:00] scottdraves opened #2750 "add simple zip of windows electron beaker"

[2015-10-16 21:40] scottdraves commented on #2749
Thanks for the report.  This will go into 1.4.2 early next week.

[2015-10-16 21:44] dela3499 opened #2752 "Table output for Pandas Series shows index twice (as index and as column)"
The table output for a Pandas Series has three columns: index, index, and values. I'd expect it to have just two columns: index and values, without the index being repeated twice.

Simple test case: pd.Series([1,2,3]) -> shows three columns.

[2015-10-16 22:20] dela3499 opened #2753 "Table display automatically sorts on index - should it?"
I was recently confused by this behavior. I had a Pandas Dataframe with a string index (rather than integer) which was not sorted. When it was shown to screen, however, its rows were sorted by index. It would be great to be able to show a Dataframe without automatically sorting it.

Might it be worth adding an option in the table display to just show 'as is', without any sorting?

[2015-10-17 04:05] #2719 closed, assigned to alice-kroch

[2015-10-17 13:03] jonassmedegaard commented on #2488
Does this mean Beaker is supposed to work with Java7 VMs, and you just prefer to use Java8?

I ask because a Java7 implementation is the default on Debian, so for Debian packaging it is relevant if we can avoid pulling in multiple implementations.

[2015-10-17 14:08] jonassmedegaard opened #2754 "blueimp-load-image seems unused"
I fail to locate anywhere in the Beaker coad that blueimp-load-image is used.

If true, I (obviously) suggest to drop it from vendor code.

What I did was grep for load-image - the stem of all files in the blueimp-load-image project.

This relates to #2649 but should be far easier to address, so hopefully need not be postponed for a later release.

[2015-10-17 14:51] scottdraves commented on #2488
yes, it works with 7

[2015-10-17 15:37] jonassmedegaard commented on #2488
Quoting Scott Draves (2015-10-17 16:51:28)

Great!
- Jonas

##
- Jonas Smedegaard - idealist & Internet-arkitekt
- Tlf.: +45 40843136  Website: http://dr.jones.dk/

  [x] quote me freely  [ ] ask before reusing  [ ] keep private

[2015-10-18 10:38] jonassmedegaard opened #2755 "license of data contained in ipython-examples tutorial is non-free"
ipython-examples.bkr seems to include data fetched via python-pandas from Yahoo SPY site.

Web page https://finance.yahoo.com/q?s=SPY contains that the bootom the following text:

Seems to me Beaker Notebook currently violates above implicit agreement - and by the feature described in said tutorial notebook of saving data also encourages its users to violate it as well.

[2015-10-18 10:51] jonassmedegaard opened #2756 "ipython.bkr tutorial hardcoded path to local sources for website"
ipython.bkr includes this path: ../beaker-notebook-www/assets/img/hero.jpg

Seems that assumes the user has a clone of the website sources at a specific location - unlikely for non-developers.

[2015-10-18 18:54] jonassmedegaard opened #2757 "please consider use request-frame polyfill instead of gist"
Hi,

You currently use this gist from Paul Irish: https://gist.github.com/paulirish/1579671

A proper project has been formed, based on same gist: https://github.com/julienetie/request-frame

Please consider switch to use that, as I expect that to more likely be community maintained.

[2015-10-18 21:58] jonassmedegaard opened #2758 "RJSONIO licensing effectively non-free by Debian interpretation"
RJSONIO itself is licensed as BSD-3-Clause but links against libjson which has a license considered non-free by Debian and others: https://wiki.debian.org/qa.debian.org/jsonevil

Please consider switching to either r-cran-rjson or r-cran-jsonlite (i.e. revisit #472).

[2015-10-18 22:00] jonassmedegaard commented on #2758
For the record, this issue was kindly brought to my attention by a fellow Debian developer, Jonathon Love, when I filed a "request for packaging" of r-cran-rjsonio for Debian: https://bugs.debian.org/802263

[2015-10-19 12:41] grin commented on #2726
Actually, all thumbnails preserve the original image format. Only incorrect file extension (".gif") gets appended by Chrome when a thumbnail image is downloaded and this happens because we don't set the correct content type for dynamic images and Chrome doesn't use the auto-detected image type internally when saving the file to disk. This works fine in Firefox.

Do we care about this file extensio

[2015-10-19 13:20] grin commented on #2700
implemented in https://github.com/twosigma/bunsen/pull/1280

[2015-10-19 13:26] grin commented on #2681
@ildipo do you know if this is still happening? if yes, can we get some steps to reproduce it? (ideally on staging)

[2015-10-19 13:26] grin commented on #2673
@ildipo do you know if this is still happening? if yes, can we get some steps to reproduce it? (ideally on staging)

[2015-10-19 14:56] alice-kroch commented on #2389
In this article i’m going to explain why current Beaker electron application doesn’t work properly and how we should  make this application work.
Current Beaker electron application use next scheme: it assembles web application source and copies it into electron’s distributive directory. The native electron application code is not complicated and not full-developed. It only creates base features a

[2015-10-19 15:21] ildipo commented on #2726
can we save the image type in the DB?

[2015-10-19 15:21] ildipo commented on #2743
This is datomic crashing. looking int it

[2015-10-19 15:23] ildipo commented on #2673
still not able to reproduce - it goes away if you delete and recreate the category

[2015-10-19 15:24] ildipo commented on #2681
not able to reproduce

[2015-10-19 15:37] scottdraves commented on #1352
The key here is to rename the plugin when loading old notebooks.

[2015-10-19 15:59] #2749 closed, assigned to nobody

[2015-10-19 16:00] #2746 closed, assigned to nobody

[2015-10-19 16:09] scottdraves commented on #2758
argh, i heard about this.  thanks for the report.
Unfortunately https://cran.r-project.org/web/packages/rjson/index.html does not support unicode.
I will see if jsonlite can do the unboxed values right.

[2015-10-19 16:45] scottdraves commented on #2757
thanks, sounds like a good idea.

[2015-10-19 16:46] scottdraves commented on #2756
yup, thanks.

[2015-10-19 16:48] scottdraves commented on #2755
thank you, you are right, we'll change the example.

[2015-10-19 16:49] ildipo opened #2760 "users - cannot confirm email address using safari"

[2015-10-19 17:44] scottdraves commented on #2753
thanks for the feedback, i think you are right, it should only sort if you click the column.

[2015-10-19 17:47] scottdraves commented on #2754
do you mean you need this in 1.4.2, not in 1.5?

[2015-10-19 17:52] scottdraves commented on #2752
thanks, we did this for pandas dataframes and need to handle series too.

[2015-10-19 18:59] tomca32 opened #2762 "Refactoring for Angular 1.4.x upgrade"
In order to upgrade to  the latest stable angular version we need to refactor some pieces of the application. We are doing some non-standard operations which aren't supported by Angular. The biggest offenders are:
- mutating the resolve object in $routeProvider config - angular will copy the object when instantiated and ignore the mutations
- Accessing $scope.$root instead of $rootScope - $scope.$

[2015-10-19 19:46] #2690 closed, assigned to nobody

[2015-10-19 19:46] #2674 closed, assigned to nobody

[2015-10-19 19:56] scottdraves commented on #1731
https://github.com/twosigma/beaker-notebook/issues/2723
also

also, make use of the jupyter APIs so all languages that are available there are automatically available in beaker (and none that are not installed).

[2015-10-19 19:57] scottdraves commented on #2723
After a bit more research, I decided we should keep our default that users will install Python2 primarily, and Python3 as an option, and keep our documentation in Python2.

So the more complex issue of handling more exactly which Pythons and other languages are available to jupyter remains in issue 1731.

the thing i can change now to make this a better UX is to improve the error when users try to

[2015-10-19 20:07] yz5548 commented on #2723
Thank you very much for the update

[2015-10-19 20:31] grin commented on #2744
Fixed in https://github.com/twosigma/bunsen/pull/1314

[2015-10-19 21:47] grin commented on #2726
Fixed in https://circleci.com/gh/mojotech/bunsen/3015

[2015-10-19 23:37] #2723 closed, assigned to nobody

[2015-10-20 03:22] scottdraves opened #2765 "admin needs to be able to replace the thumbnail image"
in this panel:
<img width="793" alt="screen shot 2015-10-19 at 11 21 33 pm" src="https://cloud.githubusercontent.com/assets/963093/10596969/2ee2acae-76b8-11e5-93d0-a64a9b0fd427.png">

[2015-10-20 07:32] jonathon-love commented on #2758
it _does_ support UTF-8

we originally baulked at using it for exactly the same reason, but it actually does.

[2015-10-20 09:35] alice-kroch commented on #1851
Tested - not reproduced in current version, please check.

[2015-10-20 09:36] alice-kroch commented on #2142
Tested - not reproduced in current version, please check.

[2015-10-20 11:02] jonassmedegaard commented on #2754
Quoting Scott Draves (2015-10-19 19:47:13)

For your project development, it seems less complicated to drop
references to already unused code than to refactor code for changes to
libraries - hence I suggest to apply the change faster.

For my packaging, I simply would appreciate if you could confirm or deny
my suspicion - no matter for which release you act on it: I will in any
case need to cherry

[2015-10-20 13:12] #1851 closed, assigned to alice-kroch

[2015-10-20 13:16] #2754 closed, assigned to nobody

[2015-10-20 13:18] scottdraves commented on #2754
confirmed

[2015-10-20 13:23] scottdraves commented on #2142
i still see it.

[2015-10-20 14:45] #1146 closed, assigned to alice-kroch

[2015-10-20 14:46] scottdraves commented on #2142
https://github.com/twosigma/beaker-notebook/pull/2768

[2015-10-20 14:46] #2142 closed, assigned to alice-kroch

[2015-10-20 15:56] #2744 closed, assigned to grin

[2015-10-20 15:57] ildipo commented on #2743
seems fixed

[2015-10-20 15:57] #2743 closed, assigned to nobody

[2015-10-20 16:03] tomca32 opened #2769 "404 requesting ui-utils.min.js"
I believe we are not using ui-utils at all, however we are requesting it and getting a 404.

![screen shot 2015-10-20 at 12 02 39 pm](https://cloud.githubusercontent.com/assets/3384784/10613284/8595d200-7722-11e5-8974-11714ed41360.png)

[2015-10-20 16:05] scottdraves commented on #1352
actuall forget that, this PR is good, make another PR for html under this issue: https://github.com/twosigma/beaker-notebook/issues/515

[2015-10-20 16:35] sethkrasnianski commented on #2724
Migrating the issue to the appropriate repo.

[2015-10-20 16:35] #2724 closed, assigned to sethkrasnianski

[2015-10-20 17:20] #2726 closed, assigned to grin

[2015-10-20 19:43] tomca32 commented on #2455
didn't notice anything in particular. I don't think it's a problem.
Here's a bkr file.
https://pub.beakernotebook.com/#/publications/56269d16-aa31-449f-aadb-d80228ce404f

[2015-10-20 19:46] #2620 closed, assigned to maxyeg

[2015-10-20 19:47] #1352 closed, assigned to alice-kroch

[2015-10-20 19:50] #2681 closed, assigned to nobody

[2015-10-20 19:50] #2455 closed, assigned to tomca32

[2015-10-20 19:50] ildipo commented on #2638
This was highly likely related to datomic death. Since it seems to be solved I'm closing it.

[2015-10-20 19:50] #2638 closed, assigned to sethkrasnianski

[2015-10-20 19:52] ildipo commented on #2700
merged and avail on pub-staging

[2015-10-20 19:52] #2700 closed, assigned to grin

[2015-10-20 20:01] sethkrasnianski commented on #2638
:+1:

[2015-10-20 20:19] tomca32 commented on #2335
We use ng-show (ng-hide) which keeps the DOM around. We should change to ng-if.

[2015-10-20 20:27] tomca32 opened #2771 "performance optimization: Use one-time bindings"
Currently we have a lot of watchers in our application. Watchers have to evaluate on every digest cycle and are causing significant slowdown.

As an example, a small notebook with 3 cells:

![screen shot 2015-10-20 at 4 26 17 pm](https://cloud.githubusercontent.com/assets/3384784/10620114/58132e7a-7747-11e5-909a-2e51463ff3c2.png)

We can reduce this number by using one-time binding for values that

[2015-10-20 20:28] tomca32 commented on #2336
#2771 - relevant

[2015-10-20 20:35] tomca32 opened #2772 "performance optimization: disable watchers outside of viewport"
We can disable watchers outside of the viewport. Considering that Beaker has a lot of watchers and scrolls a lot, this could significantly improve our performance.

Library to try for this: https://github.com/shahata/angular-viewport-watch

[2015-10-21 00:10] scottdraves opened #2773 "version string appears hardcoded in installer"
![screen shot 2015-10-20 at 8 09 27 pm](https://cloud.githubusercontent.com/assets/963093/10624468/8f6aba40-7766-11e5-9c90-cc75f9f48437.png)

[2015-10-21 07:31] maxyeg opened #2774 "EasyFormService should separate easyForm instances"
EasyFormService in Angular must separate easyForms by their IDs in order to accurately support multiple easyForms.

Now all easyForm components and its values are mixed in this js instance. This appears only on save operation, but more difficult cases could also exist.

Example:

http://sharing.beakernotebook.com/gist/anonymous/5ac7d3a5a38c4ccbf65a

[2015-10-21 13:31] maxyeg commented on #2649
We have `blueimp-canvas-to-blob`, `blueimp-load-image` and `blueimp-tmpl` included, because they are dependencies of `jquery-file-upload`.
https://github.com/blueimp/jQuery-File-Upload/blob/master/bower.json#L44

Beaker uses `jquery-file-upload` to import notebooks.
https://github.com/twosigma/beaker-notebook/blob/master/core/src/main/web/app/helpers/core.js#L216

What about `ng-file-upload`(which

[2015-10-21 14:04] scottdraves commented on #2649
let's use ng-file-upload like jonas suggests.

[2015-10-21 14:56] #2750 closed, assigned to nobody

[2015-10-21 15:00] scottdraves opened #2779 "add option for location of prefs and temp files"
this is especially important on windows in order to make a portable version of beaker that you can run from a thumb drive and does not modify any other volume.

this would be a cmd line, like --plugin-option and --public-server

[2015-10-21 15:11] scottdraves opened #2780 "file paths too long for windows"
this causes problems in the zip of the electron version, and also when building the installer for the windows verison, you have to make sure the path to your build directory is very short.
We should be able to fix by moving to npm version 3:
http://www.felixrieseberg.com/npm-v3-is-out-and-its-a-really-big-deal-for-windows/

[2015-10-21 15:11] #2760 closed, assigned to sethkrasnianski

[2015-10-21 15:14] #2683 closed, assigned to nobody

[2015-10-21 15:44] #2745 closed, assigned to nobody

[2015-10-21 16:04] scottdraves opened #2781 "hitting return key in easyform field should click run buttons"

[2015-10-21 16:32] scottdraves commented on #2762
https://github.com/twosigma/beaker-notebook/pull/2763

[2015-10-21 16:32] #2762 closed, assigned to nobody

[2015-10-21 16:33] scottdraves opened #2782 "upgrade to angular 1.4"
https://github.com/twosigma/beaker-notebook/pull/2763 is done

[2015-10-21 16:35] scottdraves opened #2783 "easyform button actionPerformed"
[code]

if there is no tag, then user can have groovy closure run on click.

[2015-10-21 16:46] scottdraves opened #2784 "change empty table warning"
![screen shot 2015-10-21 at 12 43 47 pm](https://cloud.githubusercontent.com/assets/963093/10643541/7a8a8016-77f1-11e5-9121-aa445e4714c7.png)

if the table is narrow this message is confusing.  it's supposed to say "no data available in table" but "no" is truncated.

change it to just "empty table"

[2015-10-21 16:55] scottdraves opened #2785 "easyform regression: keySet()"
it used to return all the fields, but now it only returns the ones that have been set.
it should return them all.

run the last example in the tutorial to see the difference.

[2015-10-21 17:06] scottdraves opened #2786 "regression: help menu on the left"
new race condition?  sometimes I get this:
![screen shot 2015-10-21 at 1 05 13 pm](https://cloud.githubusercontent.com/assets/963093/10644073/7c46f9d6-77f4-11e5-854d-c7f7e4bc3803.png)

[2015-10-21 20:07] tomca32 opened #2787 "Clicking on the cell id in the header scrolls to the cell"
![screen shot 2015-10-21 at 4 04 00 pm](https://cloud.githubusercontent.com/assets/3384784/10648610/63574d04-780d-11e5-993a-d062a1135c43.png)

Clicking on the "Evaluating x cell {ID}" scrolls to the cell that's currently being evaluated.

[2015-10-22 10:43] altavir opened #2789 "Work with TableDisplay columns"
I found (by means of experiment and source code exploration) that `TableDisplay` is represented by the list of rows and does not have means to work with columns. It is not very convenient since one usually needs to make some operations with columns (for example select subset of columns from table). Since TableDisplay already have column designations, I think it would be better to make it a set of

[2015-10-22 15:43] scottdraves opened #2793 "pub server should be able to display externally hosted notebook"
from any URL including from github gist especially.

[2015-10-22 15:48] scottdraves opened #2794 "clojure imports?"
is this field in the language manager used?
seems it has been replaced by require.
![screen shot 2015-10-22 at 11 46 29 am](https://cloud.githubusercontent.com/assets/963093/10670252/b4c44aa2-78b2-11e5-9fb3-23f10b1b30b1.png)
delete it if not.

[2015-10-22 19:09] tomca32 opened #2795 "Menu loading times out on large notebooks"
When dealing with large notebooks, the initial setup and paint takes long enough for the requirejs to timeout loading menu plugins. This causes menus to not render and leaves the notebook pretty much unusable.

![screen shot 2015-10-22 at 3 07 29 pm](https://cloud.githubusercontent.com/assets/3384784/10675520/bcb317c2-78ce-11e5-9b4e-346583c7c541.png)

[2015-10-22 20:19] dela3499 opened #2796 "R cells show output even on variable assignment. Should they?"
Python cells show output only when there's a print statement, or the last statement is a variable:

x = 2 # assing value
x # show value as cell output

R cells, though, seem to show cell output just on variable assignment.

x <- 2 # shows output

This is fine for small values, but problematic for large dataframes since their output takes so long to generate and show to screen.

For now, I just mas

[2015-10-22 20:27] tomca32 opened #2798 "enforce JSCS code style in the build"
We have jscs config with a defined Google code style but we are not using it. Running the code checker currently outputs 225 errors. We should run a code checker on CI and fail the build on error.

[2015-10-22 21:18] #2774 closed, assigned to maxyeg

[2015-10-22 21:18] #879 closed, assigned to alice-kroch

[2015-10-22 21:19] #515 closed, assigned to alice-kroch

[2015-10-22 21:20] #2785 closed, assigned to maxyeg

[2015-10-22 23:01] dela3499 opened #2799 "Autotranslation is slow for large dataframes"
For a large dataframe (50k rows and 2 columns), I'm finding it takes a very long time (several minutes) to write to the Beaker object in R and then read it in Python. This takes under a second when I write to and read from a csv. Is this a known performance limitation, or perhaps some issue specific to me? I've checked that I'm not memory-constrained when this issue occurs.

If this is a known per

[2015-10-23 03:37] scottdraves opened #2800 "try these libraries"
http://vispy.org/
http://bl.ocks.org/bunkat/1962173
http://marmelab.com/EventDrops/
http://romsson.github.io/dragit/example/nations.html
http://philogb.github.io/

[2015-10-23 03:47] scottdraves commented on #2789
Thanks, indeed, In Groovy we don't really have a class for tables.  We have https://github.com/ssadedin/graxxia
in the jars but I never got an good demo notebook for it, and it seemed matrix oriented more than column.  Are there other  good groovy dataframe classes we could use?

[2015-10-23 03:55] scottdraves commented on #2799
Yes I have heard complaints about this.  I believe the problem is the translator was written as an R class, and the R interpreter is very slow.  It should be replaced by one written in Java or C.  We also have a longer-term plan to switch to HDF5 and shared memory segments, so we might just skip the intermediate step.

[2015-10-23 04:18] scottdraves commented on #2796
I see what you mean about the dataframe showing up, compared to what the native R console does.
We have had some trouble reproducing its behavior, and I would be happy to see a definitive rule
about what to show and when with R.  For me, the simpler case x <- 2 works correctly.
In the meantime you can suppress the output with just "" or 0 like this:

[code]

and save a few chars.

[2015-10-23 04:48] scottdraves opened #2801 "jar in clojure tutorial, do not show stack trace"
remove this example and the jar from the settings.
<img width="288" alt="screen shot 2015-10-23 at 12 34 04 am" src="https://cloud.githubusercontent.com/assets/963093/10684727/d157e888-791e-11e5-8b41-7c01717e5242.png">

do not display stack trace in error panel (show only in cell output):
<img width="870" alt="screen shot 2015-10-23 at 12 46 21 am" src="https://cloud.githubusercontent.com/assets/9

[2015-10-23 05:05] dela3499 commented on #2799
Sounds exciting! Is there any wisdom in having the beaker object read/write
dataframes to/from disk, at least until a proper setup is in place? For
example:

### Python Cell

beaker.x = mydataframe # saves to temp file

### R Cell

my.data.frame <- beaker::get('x') # reads the dataframe as a csv

In the meantime, it may be worthwhile to add a prominent warning to the
autotranslation example notebo

[2015-10-23 06:38] maksim-lauryk commented on #2801
Clojure tutorial was updated.
about stack trace, this is an exeption while initializing the clojure plugin, therefore it is shown in common error panel.
but if we will execute the cell without appropriate import then exception will shown only in cell output.

[2015-10-23 06:42] altavir commented on #2789
I haven't searched for one. In this case it is quite easy to write one myself. Will do it in first free time window. The only question is your autotranslation mechanism, which i don't understand in great detail. Is pandas table always translated to TableDisplay? Do I need to replace TableDisplay or can I just create new class to which we can add autotranslation later?

[2015-10-23 07:34] maksim-lauryk commented on #2794
yes, they are used for different goals:
- the imports field for importing Java dependencies
- the require field for Clojure dependencies

[2015-10-23 11:13] alice-kroch commented on #2361
Should I update the information in tutorial.bkr ?
![screenshot_3](https://cloud.githubusercontent.com/assets/5072172/10691216/3345beb4-7990-11e5-85fc-6bdefe3fd97e.png)

[2015-10-23 11:34] scottdraves commented on #2361
yes please

[2015-10-23 12:47] scottdraves opened #2804 "remove directory"
https://github.com/twosigma/beaker-notebook/tree/master/embeddable_assets
is no longer used

[2015-10-23 13:20] scottdraves commented on #2804
https://github.com/twosigma/beaker-notebook/pull/2805

[2015-10-23 13:20] #2804 closed, assigned to nobody

[2015-10-23 16:00] tomca32 opened #2807 "Set up performance metrics"
We should set up a performance metrics suite to be able to measure improvements and prevent performance regressions.

Possible tools:
- [browser-perf](https://github.com/axemclion/browser-perf)
- [protractor-perf](https://github.com/axemclion/protractor-perf)

[2015-10-23 17:33] sethkrasnianski commented on #2722
With options to use gravatar or upload an image or external authentication image

[2015-10-23 19:12] dela3499 opened #2808 "Long lines of text are obscured by cell menu"
Long lines (usually with inline comments) are obscured by the right-justified cell menu. I often work with a split screen which highlights the issue. Perhaps the menu should only be shown when hovering over a cell, or the right side of it.

![screenshot from 2015-10-23 12 04 56](https://cloud.githubusercontent.com/assets/5673550/10702540/365b2104-797f-11e5-847a-84f53300af13.png)

[2015-10-23 19:13] scottdraves commented on #2808
yup https://github.com/twosigma/beaker-notebook/issues/2676

[2015-10-23 19:13] #2808 closed, assigned to nobody

[2015-10-23 20:22] dela3499 commented on #1773
In IPython cells, I'd suggest that autocomplete be allowed in the middle of a line, as is the case for the IPython/Jupyter notebook. I often return to edit some text in the middle of line, and find autocomplete useful.

[2015-10-23 20:26] scottdraves commented on #1773
you can do it with control-space in the middle of a line.
but yea we might allow tab to work there too.

[2015-10-23 22:35] dela3499 opened #2809 "Large plots don't show when called from IPython's `interact`"
In trying to plot a dataframe with around 50,000 rows, I used IPython's interact function to add some widgets in my analysis. I found the plotting behaved very oddly in my experiments. Here are some of my observations:
1. Calling `f` directly to plot the data below always works - the plot is shown below the code cell.
2. Calling `f` from `interact` works best when there are fewer points
   - alway

[2015-10-23 22:37] scottdraves commented on #326
too old prob fixed

[2015-10-23 22:37] #326 closed, assigned to scottdraves

[2015-10-23 22:38] scottdraves commented on #369
dup

[2015-10-23 22:38] #369 closed, assigned to nobody

[2015-10-23 22:38] #2786 closed, assigned to tomca32

[2015-10-23 22:46] scottdraves commented on #2809
thanks for the report.  i think there is a race condition in there somewhere we also got this report: https://github.com/twosigma/beaker-notebook/issues/2467
i tried your code and again could not repro, even with 100k points.

[2015-10-23 22:51] dela3499 commented on #2809
Another observation. If I generate a small dataset within `f`, and then use a widget to increase its size, I don't run into the problem above. But, if I start out with a large dataset, no plot or widget is shown. I take it that the race condition you mentioned is only a problem on the initialization of the widget?

[code]

[2015-10-23 22:53] dela3499 commented on #2809
I'm running an R kernel as well, if that changes anything. Are there any logs or additional information I can provide to help debug this?

[2015-10-23 23:01] #2629 closed, assigned to nobody

[2015-10-23 23:02] #133 closed, assigned to scottdraves

[2015-10-23 23:03] scottdraves commented on #138
we'll get this through distribution via app store or apt.

[2015-10-23 23:03] #138 closed, assigned to scottdraves

[2015-10-23 23:08] scottdraves commented on #167
also remove from:
./core/src/main/web/plugin/evaluator/javaScript.js
./core/src/main/web/plugin/menu/file_ipython.js
./core/src/main/web/app/utils/notebookversionmanager_test.js

[2015-10-23 23:09] scottdraves commented on #178
dup of https://github.com/twosigma/beaker-notebook/issues/2336

[2015-10-23 23:09] #178 closed, assigned to scottdraves

[2015-10-23 23:10] scottdraves commented on #221
electron versions are done

[2015-10-23 23:10] #221 closed, assigned to scottdraves

[2015-10-23 23:11] #222 closed, assigned to scottdraves

[2015-10-23 23:12] scottdraves commented on #227
https://github.com/twosigma/beaker-notebook/issues/2780

[2015-10-23 23:12] #227 closed, assigned to scottdraves

[2015-10-23 23:14] scottdraves commented on #265
is this still true?

[2015-10-23 23:16] scottdraves commented on #2809
Is there anything suspicious on the JavaScript console?
What OS do you have?

[2015-10-23 23:19] scottdraves commented on #2789
how about this? https://code.google.com/p/jlabgroovy/
https://github.com/twosigma/beaker-notebook/issues/347

[2015-10-23 23:21] scottdraves commented on #368
electron version does this

[2015-10-23 23:21] #368 closed, assigned to scottdraves

[2015-10-23 23:22] #415 closed, assigned to nobody

[2015-10-23 23:23] scottdraves commented on #468
text is gone.

[2015-10-23 23:23] #468 closed, assigned to nobody

[2015-10-23 23:25] #535 closed, assigned to scottdraves

[2015-10-23 23:26] scottdraves commented on #542
is this still true?

[2015-10-23 23:27] #809 closed, assigned to nobody

[2015-10-23 23:28] #753 closed, assigned to nobody

[2015-10-23 23:29] scottdraves commented on #723
electron version solves this

[2015-10-23 23:29] #723 closed, assigned to scottdraves

[2015-10-23 23:30] scottdraves opened #2811 "test this library: rCharts"
http://rcharts.io/

[2015-10-23 23:32] scottdraves opened #2812 "test with this lib rMaps"
http://rmaps.github.io/

[2015-10-23 23:32] scottdraves opened #2813 "make Shiny work"
ggvis works but not with shiny.

[2015-10-23 23:32] scottdraves commented on #693
ggvis is done.  filing separate issues for the rest:
https://github.com/twosigma/beaker-notebook/issues/2811
https://github.com/twosigma/beaker-notebook/issues/2812
https://github.com/twosigma/beaker-notebook/issues/2813

[2015-10-23 23:32] #693 closed, assigned to nobody

[2015-10-23 23:47] dela3499 commented on #2809
I'm running Chrome on Ubuntu 14.04, and nothing's logged to console when I run the examples above.

[2015-10-24 00:03] dela3499 commented on #2809
Since initialization seems problematic, I'm running `interact` with an on/off widget that starts in the off position. This seems to work well. Once the widget is shown, I check the box that turns my plot on, and everything works as it should.

[code]

[2015-10-24 00:59] scottdraves commented on #2809
thanks that could be a good clue.

[2015-10-24 01:12] scottdraves commented on #1806
This is still a bug

[2015-10-24 01:14] scottdraves commented on #2516
https://github.com/twosigma/beaker-notebook/issues/2813

[2015-10-24 01:14] #2516 closed, assigned to ildipo

[2015-10-24 01:43] scottdraves commented on #1847
http://data-sorcery.org/2009/06/14/chi-square-test/

[2015-10-24 04:21] altavir commented on #2789
I tried to work with this framework, but found that it is not maintained (no updates for 2 years) and definitely not ready for public use. There are currently no good groovy scientific frameworks (as far as I searched), which gives beaker an advantage. Though there are some pretty java frameworks like http://jas.freehep.org/jas3/ and http://jwork.org/dmelt/ which possibly could benefit from notebo

[2015-10-25 15:07] scottdraves opened #2814 "use shared memory for autotranslation"
at least for large objects, maybe small ones faster to just copy.

[2015-10-25 15:22] scottdraves opened #2815 "reimplement R autotranslation"
https://github.com/twosigma/beaker-notebook/blob/master/plugin/r/src/dist/beaker/R/beaker.r
this is too slow for large objects https://github.com/twosigma/beaker-notebook/issues/2799
most of this should be implemented in Java via http://www.rforge.net/rJava/index.html
or C http://cran.us.r-project.org/doc/manuals/r-release/R-exts.html#Interface-functions-_002eCall-and-_002eExternal

[2015-10-26 12:44] #2731 closed, assigned to sethkrasnianski

[2015-10-26 12:57] grin commented on #2701
Implemented in https://github.com/twosigma/bunsen/pull/1343

[2015-10-26 13:34] grin commented on #2672
fixed in https://github.com/twosigma/beaker-notebook/pull/2819

[2015-10-26 14:02] alice-kroch commented on #253
Can't reproduce it in current version

[2015-10-26 15:24] maksim-lauryk commented on #1806
up to date with master
such exceptions will be shown in the cell output

[2015-10-26 15:31] #2649 closed, assigned to maxyeg

[2015-10-26 15:32] #2801 closed, assigned to maksim-lauryk

[2015-10-26 18:23] scottdraves commented on #2784
:+1:

[2015-10-26 18:39] dela3499 opened #2822 "Highlight active cell"
The active cell isn't distinguished from other cells, except by the presence of a cursor, which makes it difficult to navigate up or down with the keyboard. Perhaps the active cell's background or border should be darker than other cells', say.

[2015-10-26 18:53] #2783 closed, assigned to maxyeg

[2015-10-26 22:02] #2361 closed, assigned to alice-kroch

[2015-10-26 22:03] #167 closed, assigned to alice-kroch

[2015-10-26 22:03] #2784 closed, assigned to alice-kroch

[2015-10-26 22:04] #1806 closed, assigned to maksim-lauryk

[2015-10-26 23:58] dela3499 opened #2824 "String columns that start with NaN are shown as all NaNs"
String columns in a Pandas dataframe are shown correctly when the first row's value is a string, rather than a NaN. When the first value is NaN, all subsequent values are shown as NaNs. Each statement below is an observation that's either shown as table output or as text from a print statement. These observations seem to show the rich table output is the culprit, and the problem only affects strin

[2015-10-27 00:05] scottdraves commented on #2822
yea i think something like this is a good idea.  thank you.

[2015-10-27 00:06] scottdraves commented on #2824
confirmed: https://pub.beakernotebook.com/#/publications/562ebfec-8ae3-49d3-979c-31f22588abf4
thanks again, carlos!

[2015-10-27 00:08] dela3499 commented on #2824
You're absurdly fast. Thanks for being so responsive Scott.

[2015-10-27 01:01] dela3499 commented on #2809
Another observation here. When I plot and then wait a short while, it seems to work normally. But, if the sleep time is set a bit high, the plot isn't shown to screen.

[code]

[2015-10-27 01:35] scottdraves commented on #2824
:) thanks -- fast at confirming bugs, that is :P

[2015-10-27 03:09] scottdraves commented on #472
first question is can this be done without changing semantics?

[2015-10-27 03:15] scottdraves commented on #472
https://github.com/rstudio/shiny/issues/572

[2015-10-27 05:57] jeffsteinmetz commented on #2570
I have a similar question, that may be related.
I ran your 1.4.2 docker image, and have been unable to figure out how the docker file sets up this directory

`/home/beaker/.beaker/v1/nginx2408163095435771827`

Under this directory, there is an `ssl_cert.pem`, `cert.tmp` and a `conf/nginx.conf`

Is the method by which these are created documented?

The only place I see this referenced is here
https

[2015-10-27 06:33] jeffsteinmetz commented on #2570
After diving deep into the source, I found this

https://github.com/twosigma/beaker-notebook/blob/4e9a6c9b6a90c9e44c769b6ce7954f2f9f5f96f7/core/src/main/java/com/twosigma/beaker/core/module/config/DefaultBeakerConfig.java#L186

Is there documentation on the command line switches, found here -

https://github.com/twosigma/beaker-notebook/blob/4e9a6c9b6a90c9e44c769b6ce7954f2f9f5f96f7/core/src/main/j

[2015-10-27 07:14] altavir commented on #2789
Hello again. I found an hour of free time and started to work with this table problem. That's what I've done so far: https://bitbucket.org/Altavir/groovytable/overview . It is of course far from perfect, but I think it is a way more convenient than current TableDislpay. Since row values are not stored but calculated there could be some performance issues with very-very large tables, but thy could

[2015-10-27 13:07] #2781 closed, assigned to maxyeg

[2015-10-27 13:24] scottdraves commented on #2789
I am definitely interested in this & will be happy to explain how integrate it (add a serializer).
Storing as columns in the JVM is fine, as long as the JSON representation does not change.
Any chance you could sign a CLA and contribute this upstream?

[2015-10-27 13:40] altavir commented on #2789
If you want a written signature in paper, than there could be a problem to send it from Russia. If the scan is sufficient, then of course I can do it.
Your autotranslation feature is very similar to the metadata processing that I use in DataForge so I do understand the principle, but it will take some time to understand how it is implemented since beaker definitely lacks documentation. Also I am n

[2015-10-27 14:23] scottdraves commented on #2789
A scan is fine.

The main place to connect types to autotranslation is https://github.com/twosigma/beaker-notebook/tree/master/plugin/jvm/src/main/java/com/twosigma/beaker/jvm/serialization

The top-level gradle file passes requests to the gradle files in the core & plugin/\* subdirectories.

[2015-10-27 14:51] ildipo commented on #2722
This will be done in https://github.com/twosigma/bunsen/issues/1352

[2015-10-27 14:51] #2722 closed, assigned to nobody

[2015-10-27 14:52] #2672 closed, assigned to grin

[2015-10-27 17:40] altavir commented on #2789
OK, I will return to it in a few days after one very urgent job.

[2015-10-27 17:54] RanaivosonHerimanitra opened #2828 "gradle run failed!"
Hi there,
I'm trying to install beaker notebook on my ubuntu 15 . Here is the error I get  after running the following command :  `sudo gradle run`

[code]

Is It me or a possible bug? What can I do to solve this issue?
Thanks in advance,

[2015-10-27 18:03] scottdraves commented on #2828
we don't support ubuntu 15, we only use 14.04.  that said, it will probably work if you can get the dependencies installed.  did you do that?

i would not recommend doing the build as root.

[2015-10-27 18:04] scottdraves commented on #2828
btw, are you trying to _use_ beaker or _develop_ beaker?

users should not need gradle.

[2015-10-27 18:06] RanaivosonHerimanitra commented on #2828
I'm a user :) I've already  installed dependencies

[2015-10-27 18:07] scottdraves commented on #2828
OK so you should download our zip file and just run "beaker.command" script.

[2015-10-27 18:08] RanaivosonHerimanitra commented on #2828
you mean this one: beaker-notebook-1.4.2-0-ge55c059-ubuntu.zip ?

[2015-10-27 18:10] scottdraves commented on #2828
yes.

[2015-10-27 18:15] RanaivosonHerimanitra commented on #2828
I downloaded, unzipped  it before cloning the git file. It gave me :  `command not found`
I also ran `python beaker.command`. It gave me:

[code]

[2015-10-27 18:17] scottdraves commented on #2828
In order to run command-line programs on Linux you usually need to provide the full path to them, so try "./beaker.command".  are you sure you have the dependencies though?  did you use the script to install them?

[2015-10-27 18:20] RanaivosonHerimanitra commented on #2828
ha! thank you  `./beaker.command`  works! newbie to command line :)

[2015-10-27 18:43] scottdraves commented on #2828
cool thanks.

[2015-10-27 18:43] #2828 closed, assigned to nobody

[2015-10-27 19:47] #2765 closed, assigned to sethkrasnianski

[2015-10-27 20:51] #2824 closed, assigned to maxyeg

[2015-10-27 22:19] dela3499 opened #2829 "Multiple cursors: only last selection is deleted on backspace"
Given two lines of text,

[code]
- `ctrl + click` the end of each line to create two cursors
- `shift + left arrow` to select last letter of each line
- `backspace` to delete all selections, but only second line's selection is deleted

[2015-10-28 13:56] scottdraves commented on #2829
funny, i had no idea codemirror had multiselect :)
and indeed it is a bit broken.

[2015-10-28 17:42] scottdraves opened #2830 "make an option for dark bkg"
some people do not like a white background.
we should give them an option.

[2015-10-28 17:42] scottdraves commented on #2830
related: https://github.com/twosigma/beaker-notebook/issues/2692

[2015-10-28 18:34] scottdraves opened #2831 "improve autocomplete"
we need to substantially strengthen this feature,
including the ability to show javadoc.
maybe we should use http://www.eclipse.org/recommenders/
?

[2015-10-28 23:28] dela3499 commented on #2829
This codemirror issue seems relevant: https://github.com/codemirror/CodeMirror/issues/2470

[2015-10-29 15:58] alice-kroch commented on #2809
@dela3499, please, test this [dist](https://dl.dropboxusercontent.com/u/16000016/dist.zip)

[2015-10-29 16:06] scottdraves commented on #2809
Hi, Carlos, Alice has a proposed fix for this issue.  however since i was unable to reproduce it, i can't really test it.  could you please see how it works for you?  it's a zip file for ubuntu, at the link above.

[2015-10-29 19:24] dela3499 commented on #2809
@alice-kroch Tested it. Works perfectly in all the cases above! :+1:

[2015-10-29 20:21] dela3499 commented on #2800
It's probably not relevant here, but Mathbox 2 from Steve Wittens is really awesome.
Blog Post: http://acko.net/blog/mathbox2/
Conference talk: http://acko.net/tv/pixelfactory/
Code: https://gitgud.io/unconed/mathbox

[2015-10-29 20:21] scottdraves commented on #2800
agreed :) https://github.com/twosigma/beaker-notebook/issues/2735

[2015-10-29 20:55] dela3499 opened #2832 "Table columns misaligned with long cell entry"
It seems like a (very) long cell entry causes the table layout to break.

[code]

![1](https://cloud.githubusercontent.com/assets/5673550/10831829/063f0e16-7e45-11e5-8139-93e4568d7d50.jpg)
![2](https://cloud.githubusercontent.com/assets/5673550/10831830/07b6d5bc-7e45-11e5-9a24-1f97592e482d.jpg)

[2015-10-29 22:57] JoshLipschultz opened #2834 "Password-protected / nonpublic notebook publishing"
Currently, the 'Publish' feature can only publish notebooks publically. It would be extremely useful to have the option for password-protection or a user-based ACL system on published notebooks.

[2015-10-29 22:59] scottdraves commented on #2834
agreed, it's on the agenda.  in the meantime, if you use "unlisted" then it's fairly secret, people will only know about it if you give them the URL, which is impossible to guess.

[2015-10-30 01:43] scottdraves commented on #2834
This should be in the FAQ.

[2015-10-30 01:49] scottdraves commented on #2832
yup https://pub.beakernotebook.com/#/publications/5632cc53-9fc2-4ef9-8efe-a24face90423

this is similar to cells that generally return very large strings or structures and break the browser.
thanks.

[2015-10-30 02:16] scottdraves commented on #2832
https://github.com/twosigma/beaker-notebook/issues/1888

[2015-10-30 02:30] scottdraves opened #2835 "move notebook model to server"
only sync to the client what is visible (according to window, scrolling and section toggles, etc).
JS code needs to use functions to traverse the model so downloading can be triggered.
the evaluation queue moves to the server.

editing of code only comes from the client.  if you want to access from a backend you have to call into JS via comet.
client has full copy of all cell codes, they are not l

[2015-10-30 02:46] JoshLipschultz commented on #2834
Cool. Thanks for the quick response!

It looks like [this page](https://github.com/twosigma/beaker-notebook/wiki/Options-for-notebook-sharing) should be updated as well. By the way, Google Drive integration would solve this problem, actually, because of its Google account-based sharing features.

[2015-10-30 03:00] scottdraves opened #2836 "improve dataframe UI"
put a menu on every column, this menu would have the format & centering & visibility check, sort order, and the left/right fix selection.  the menu appears as the same 3-dot menu as is already on the index column, the one for the whole table.

remove the current triangle overlays that show the sort order.  instead show the sort order by altering the 3-dot menu, replacing the dots with little trian

[2015-10-30 03:23] scottdraves commented on #293
use inheritance to fix this.  generally redo the plugin js api:
connect to any available Jupyter language, properly restart languages,
get all the JS in one place (https://github.com/twosigma/beaker-notebook/issues/120),
smoke/version check (test the backend confirm its version and that it runs code).

[2015-10-30 14:01] #2807 closed, assigned to tomca32

[2015-10-30 14:36] #2809 closed, assigned to alice-kroch

[2015-10-30 14:44] scottdraves commented on #253
after you delete the outputs, save the notebook, and then inspect the file.
the menu item to delete the cell output has the same problem.

[2015-10-30 15:00] tomca32 opened #2839 "Insert cell menu at the bottom of the notebook fades out"
When I create a new notebook the menu containing the insert cell button is clearly visible:
![screen shot 2015-10-30 at 10 57 31 am](https://cloud.githubusercontent.com/assets/3384784/10849033/2fa07afa-7ef5-11e5-8891-d7615aa47a73.png)

But if the notebook already has at least one cell, the menu doesn't display unless I hover over it:
![screen shot 2015-10-30 at 10 57 44 am](https://cloud.githubuse

[2015-10-30 15:39] scottdraves commented on #2450
dup of https://github.com/twosigma/beaker-notebook/issues/2692

[2015-10-30 15:39] #2450 closed, assigned to nobody

[2015-10-30 15:42] scottdraves commented on #2692
alice, please start out with a PR for just fixing the matching-paren green.
i think we should also use some bold, in addition to highlighting with color.
watch out for this though: https://github.com/codemirror/CodeMirror/issues/3603

[2015-10-30 17:29] tomca32 opened #2841 "Hovering over the insert cell menu causes digest loops"
Just hovering over the insert cell menu to fade it in causes a digest loop and a very noticeable slowdown in a large notebook.

I think the reason is that we use ng-mouseleave expressions in the menu and menu items. This is unnecessary and causes too much workload for the application when the same functionality can be achieved with only CSS.

[2015-10-30 18:21] scottdraves opened #2842 "bitCount -> binCount"
https://github.com/twosigma/beaker-notebook/blob/52a578257dbb325074e585c758399b80dbd3c6a6/plugin/jvm/src/main/java/com/twosigma/beaker/chart/histogram/Histogram.java#L34
etc

[2015-10-30 18:35] scottdraves opened #2843 "line number font"
we should use roboto mono for the line numbers in code cells
![screen shot 2015-10-30 at 2 34 33 pm](https://cloud.githubusercontent.com/assets/963093/10854651/68ce232c-7f13-11e5-925e-6e3e43022503.png)

[2015-10-30 19:46] scottdraves commented on #2834
https://github.com/twosigma/beaker-notebook-www/commit/4a0bbef85b08457852bf2bbfa9628eae23cfcc51

[2015-10-30 19:46] #2834 closed, assigned to nobody

[2015-10-30 20:10] #2829 closed, assigned to alice-kroch

[2015-10-30 20:10] #2839 closed, assigned to alice-kroch

[2015-10-30 22:34] scottdraves opened #2845 "delete this branch?"
https://github.com/twosigma/beaker-notebook/tree/bunsen

[2015-10-31 01:00] scottdraves commented on #2831
the simple way? javadoc + an xml doclet (we could provide a UI that reads source code or a jar).
these xml files are read via a language manager setting, comes with all the builtin libs.

[2015-11-01 21:03] scottdraves opened #2846 "try this lib"
https://github.com/drojdjou/squareroot.js
js interface to webgl based on unity

[2015-11-02 14:42] #2782 closed, assigned to tomca32

[2015-11-02 17:05] tomca32 opened #2847 "Disable debug mode in production"
By default AngularJS attaches information about binding and scopes to DOM nodes, and adds CSS classes to data-bound elements. This negatively affects performance and should be only enabled when we run Beaker in debug mode: https://code.angularjs.org/1.4.7/docs/guide/production

Unfortunately it's not possible to reliably test the performance gain from removing the debug data as Protractor relies o

[2015-11-02 17:29] scottdraves commented on #2845
deleted

[2015-11-02 17:29] #2845 closed, assigned to ildipo

[2015-11-02 21:48] scottdraves opened #2848 "infinite loop in classpath scanner"
https://github.com/twosigma/beaker-notebook/blob/4e9a6c9b6a90c9e44c769b6ce7954f2f9f5f96f7/plugin/jvm/src/main/java/com/twosigma/beaker/autocomplete/ClasspathScanner.java#L63

this can get in an infinite loop if a jar has itself in the classpath that it lists in its manifest.
this is incorrect but there are such jars out there, and we should not fail on them.
so, this function can keep track of jar

[2015-11-03 14:27] scottdraves opened #2851 "hover highlight of bars sometimes invisible"
In the following bar chart, if you hover over row 1 in the legend, the thickening highlight isn't visible in the chart because the bars only expand to the right, and the right side of the orange bars is blocked by the yellow bars.

they should expand in all 4 directions.

[2015-11-03 14:27] scottdraves commented on #2851
![screen shot 2015-11-03 at 9 20 34 am](https://cloud.githubusercontent.com/assets/963093/10910376/1a0340c2-820d-11e5-9656-267eecb1e00b.png)

[2015-11-03 15:27] tomca32 opened #2852 "Websocket connection times out on large notebooks"
It seems that the websocket disconnect event happens while loading large notebooks. This causes us to render a popup telling the user that we lost connection.

Someone with the same problem: https://groups.google.com/forum/#!topic/cometd-users/o6m3UpYC2lQ

Connection is actually reestablished in the background but we don't notify the user of that. While it would be ideal to understand why the disc

[2015-11-03 19:33] #2842 closed, assigned to mnavasiolava

[2015-11-03 19:34] #2841 closed, assigned to tomca32

[2015-11-03 20:27] #2848 closed, assigned to mnavasiolava

[2015-11-04 07:20] maxyeg commented on #2815
consider branch maxy/2815

[2015-11-04 09:42] ScottPJones opened #2857 "Unable to download docker beakernotebook"
I have a totally new installation of docker, on OS X El Capitan (on a MBP with 284GB free).
I ran the command as per instructions, but got the following errors:

Any help?  Thanks!

[2015-11-04 16:20] #2851 closed, assigned to mnavasiolava

[2015-11-04 18:20] scottdraves commented on #2857
this sounds like a docker problem, not a beaker problem.

[2015-11-04 18:20] #2857 closed, assigned to nobody

[2015-11-04 18:21] ScottPJones commented on #2857
OK, thanks!

[2015-11-04 22:57] scottdraves opened #2864 "level of detail on points should default to boxes"
just like how we changed it for lines to default to river.

[2015-11-05 04:45] scottdraves opened #2865 "add "off" to lod toggler?"
the button on the right of each row in the legend toggles between on/auto.  add "off" to that, and make it rotate between the 3.

this this might blow up but users might like it.

[2015-11-05 04:46] scottdraves commented on #2865
<img width="221" alt="screen shot 2015-11-04 at 11 42 13 pm" src="https://cloud.githubusercontent.com/assets/963093/10960062/3f776e0e-834e-11e5-833c-77648cdd7d4a.png">

[2015-11-05 13:36] maxyeg opened #2868 "Click add code cell button expand menus on the whole page"
When you click 'code' or 'section' menu button to choose what cell to add, all such menus are toggled in the whole notebook.

Steps to replicate:
1. Create notebook
2. Add two or more cells(any)
3. Press 'section' or 'code' button to add a code or a section cell
You can see all menus opened. Screenshot attached.
![untitled](https://cloud.githubusercontent.com/assets/2286032/10969713/23e272e6-83db-

[2015-11-05 14:23] #2864 closed, assigned to mnavasiolava

[2015-11-05 14:23] tomca32 commented on #2868
I'm sure I introduced this yesterday. I remember encountering that bug and then I was pretty sure I fixed it in the next commit.

Apparently not. Anyway, I believe I know what the issue is and will try to fix it today

[2015-11-05 14:25] maxyeg commented on #2868
@tomca32 great! Thanks!

[2015-11-05 14:29] tomca32 commented on #2868
Nope I was wrong. I didn't introduce this (phew), it seems that it actually always worked this way but previously we never had more than one Insert Cell menu shown on the screen at the same time (bottom one was faded out).

It seems that we always opened all Insert Cell menus but only one was visible on the screen so it didn't matter.

[2015-11-05 14:46] #2843 closed, assigned to alice-kroch

[2015-11-05 14:46] #253 closed, assigned to alice-kroch

[2015-11-05 14:47] scottdraves commented on #265
https://github.com/twosigma/beaker-notebook/pull/2854

[2015-11-05 14:47] #265 closed, assigned to maxyeg

[2015-11-05 19:57] scottdraves commented on #2758
Looks like the libjson included by RJSONIO is not the problematic one.
this license looks good: https://github.com/duncantl/RJSONIO/blob/master/src/libjson/License.txt

[2015-11-05 20:03] scottdraves commented on #2815
one of the motivations for this has been otherwise closed, so this has been deprioritized.
see https://github.com/twosigma/beaker-notebook/issues/2758#issuecomment-154172969

[2015-11-05 20:57] scottdraves opened #2871 "hover tooltip for heatmaps"
the text should not be transparent, should be solid white.
![screen shot 2015-11-05 at 3 55 21 pm](https://cloud.githubusercontent.com/assets/963093/10981448/d83d1436-83d5-11e5-84ce-a6f0ca8d423b.png)

[2015-11-05 21:13] jonathon-love commented on #2758
look here:

https://github.com/duncantl/RJSONIO/blob/master/src/JSON_parser.c

[2015-11-05 22:49] scottdraves commented on #2758
https://github.com/duncantl/RJSONIO/issues/21

[2015-11-06 03:05] hydrosquall commented on #1919
Had similar issues on windows 7, resolved after restarting the container several times. Still getting the error nginx can't open the log files, but at least beaker is running.

[2015-11-06 03:42] hydrosquall opened #2872 "Adding Python Packages to Docker?"
I wanted to add the beautifulsoup4 library to my ipython code, so I ran pip install beautifulsoup4 on the container, and successfully installed the module.

[code]

However, when I run ipython, it doesn't pick up on the installed package. Anyone have ideas about how to properly add python packages in docker so that beaker notebook detects the additions?

[2015-11-06 08:07] altavir opened #2873 "Open recent does not work in Windows/Electron"
It shows in the menu, but does not have any drop-down. Works fine if I start the same distribution in browser mode.

[2015-11-06 09:44] altavir commented on #2732
Found a workaround for this problem: change user.home system property of JVM.
In `\build\install\core\bin\core.bat` add a new line like `set CORE_OPTS="-Duser.home="D:\\beaker-user""`. Instead of `beaker-user` one can use any ASCII name (do not forget to replace all `\` in path by `\\`). In this case all configurations and temporary files are stored in given directory and everything works fine.

I

[2015-11-06 14:06] scottdraves commented on #2758
btw, thank you jonathon

[2015-11-06 14:38] jonathon-love commented on #2758
no worries :)

i only know about this because i once tried to package rjsonio for debian, and lintian automagically picked up that a bad license was in the source!

[2015-11-06 15:13] xiaoweiz opened #2878 "Cannot find julia on OS X"
julia version: 0.4
python version: 3.5 from Anaconda 2.4

`IJulia` is installed and `julia` can be used with `jupyter-notebook`.

`R`, on the other hand, can be found by beaker. I've add the path info of `julia` in `beaker.pref.json` but it still doesn't work.

[2015-11-06 15:39] scottdraves commented on #2878
Thanks for the report.  Unfortunately Julia put the version number into the kernel name, and Beaker is requesting version 0.3.  You can hack around this by editing julia.js line 89, which you can find inside the application.  I can tell you how more precisely if you say your OS and if you are using our Electron version.

Really Beaker should query the Jupyter backend so it can always match.

[2015-11-06 15:40] xiaoweiz commented on #2878
Just found a similar issue #1602.

Revising the line [https://github.com/twosigma/beaker-notebook/blob/master/plugin/ipythonPlugins/src/dist/julia/julia.js#L89] to change the kernel name from `julia-0.3` to `julia-0.4` solves the problem.

[2015-11-06 15:42] xiaoweiz commented on #2878
Thanks for your quick response. I was typing my own finding while you're replying! :)

[2015-11-06 15:47] scottdraves commented on #2878
no problem, thanks for the report.  since julia has moved 0.4 up to their default download we should at least update our default, if not query.

[2015-11-06 18:31] #2868 closed, assigned to tomca32

[2015-11-07 01:56] scottdraves opened #2882 "old python confuses beaker on windows"
a user had a generic python (not ipython) installed and in their system path.
they installed anaconda python to use beaker.
they started beaker and started python and it crahes right away, when trying to compute the hash.

[2015-11-07 01:58] scottdraves commented on #2882
the workaround was to remove old python from the path, but we should not fail at all.
seems like the simplest way would be to avoid calling python, only call ipython.
there must be a way to hash the password from within ipython...

this probably isn't a windows specific problem.

[2015-11-07 04:38] scottdraves opened #2883 "with safari, download results in json file extension not bkr"

[2015-11-07 16:04] scottdraves opened #2884 "comet stack trace on wakeup"
i see a stack trace like this now and then when i wake up my laptop from sleep (i think)

[code]

[2015-11-07 16:51] mfarrugi opened #2885 "Cleanup groovy stacktraces"
This helper looks like it does all the work

`org.codehaus.groovy.runtime.StackTraceUtils.sanitize(throwable)`

from http://stackoverflow.com/questions/2334037/clean-stack-traces-in-groovy-using-eclipse

[2015-11-07 17:56] planyon opened #2886 "Category tree does not stay open after clicking on an item"
Click on computer science in the category tree.
For a brief second you can see the child nodes to computer science.
The list is then filtered correctly but the child nodes are not visible.

[2015-11-07 19:24] scottdraves opened #2887 "output table in closed section not visible on open"
looks like i merged https://github.com/twosigma/beaker-notebook/pull/2879
too fast.  try this notebook: https://pub.beakernotebook.com/#/publications/563e4f52-572d-47d5-84db-31a8b58581dd
open the section, see there is no table.  delete the section, then the table appears.

[2015-11-07 19:33] scottdraves opened #2888 "make plot and table interactions programmable"
from groovy (initially but also js/python/r) you should be able to attach actions to various elements in the plots and tables, so you can have a closure be called or a cell tag be executed when you user clicks on a cell in a table, or clicks on a data point in a plot.

The plotitems classes like Line() and Bars() should have another parameter onClick that takes a closure that gets called when you

[2015-11-07 19:38] tomca32 commented on #2887
interesting, will take a look at this now

[2015-11-07 19:56] scottdraves commented on #2887
please IM me on slack.

[2015-11-07 22:05] tomca32 opened #2889 "Repeat failed e2e tests as part of build"
Selenium is notoriously flaky so sometimes our build fails because of a flaky test. We should rerun the failed tests in the build to make builds more reliable.

This might prove useful:
http://testarmada.github.io

more background info on e2e flakiness: https://medium.com/@geek_dave/zombies-and-soup-e346f0c8064f

[2015-11-09 11:31] maxyeg opened #2891 "Duplicate input area in code mirror"
In every code cell now I see two input areas in code mirrors.
When I reopen notebook stored in session, empty code cells looks correct.
![e40e6-clip-6kb](https://cloud.githubusercontent.com/assets/2286032/11032639/14c454b2-86ee-11e5-8295-d7aa95ed4dfc.png)
I see this in Chrome and it works well in FF.

[2015-11-09 12:37] xiaoweiz commented on #2601
@scottdraves
I met a similar situation but in my case, beaker notebook can indeed work (just with annoying warnings).

Setup: Ubuntu 15.04, not sure Beaker's version but I downloaded from [beakernotebook.com](beakernotebook.com) a couple of days ago.

I installed all the dependencies by running the `install-dependencies.sh` except that I didn't use it to install `python3` since I have Anaconda dis

[2015-11-09 13:55] maxyeg commented on #1976
The only way I can reproduce it is:
In beaker(web version), when notebook is opened, click menu File -> Close.
It will call REST Api to close session:
https://github.com/twosigma/beaker-notebook/blob/master/core/src/main/java/com/twosigma/beaker/core/rest/SessionBackupRest.java#L190
and it tries to publish session update to Electron channel which was never created.
So I will separate api for closi

[2015-11-09 15:22] scottdraves commented on #2891
confirmed.

[2015-11-09 15:57] scottdraves commented on #2878
cit, please find the API call jupyter uses to get the list of available kernels, and call find find a kernel that starts with "julia" and then use that to start our backend.

[2015-11-09 20:36] #2891 closed, assigned to tomca32

[2015-11-09 20:38] scottdraves commented on #2799
https://github.com/twosigma/beaker-notebook/issues/2814

[2015-11-09 20:39] scottdraves commented on #2815
related: https://github.com/twosigma/beaker-notebook/issues/2814

[2015-11-09 20:43] scottdraves commented on #2793
dup of https://github.com/twosigma/bunsen/issues/1382

[2015-11-09 20:53] #2871 closed, assigned to mnavasiolava

[2015-11-09 20:57] #2334 closed, assigned to tomca32

[2015-11-09 22:02] HanniAli opened #2895 "Electron HTML form input un-editable"
I had previously created HTML form elements to drive other beaker cells, this works well in the browser. When I open the notebooks in the Electron version they render correctly, but the input fields are not editable. Is this a bug or do I need to re-implement the way I am taking user input?

[2015-11-09 22:03] scottdraves commented on #2895
It's just a bug in the Electron version, thanks for the report.

[2015-11-09 22:11] hydrosquall commented on #2882
Thanks @scottdraves for fixing this problem on my computer! Just leaving a comment so I can find it again if it happens on a friends' computer / to know when the bug gets patched :)

[2015-11-10 13:50] maxyeg commented on #2800
1. VisPy for webGL is unstable. I don't succeed running their webGL examples. They have issues and don't include webGL support yet (vispy.ipython) in distribution.
2. [Swimlane chart](http://bl.ocks.org/bunkat/1962173) example is [here](https://github.com/twosigma/beaker-notebook-examples/blob/master/SwimlaneChart/swimlane-chart.bkr)
3. [EventDrops chart](http://marmelab.com/EventDrops/) example i

[2015-11-10 15:10] #2736 closed, assigned to nobody

[2015-11-10 15:13] #2615 closed, assigned to nobody

[2015-11-10 15:15] #2478 closed, assigned to maksim-lauryk

[2015-11-10 16:01] scottdraves opened #2901 "latency for some UI actions is high"
even for medium sized notebooks like "interactive charts", some UI actions such as clicking on the menus have intolerable latency of 0.6s or so.  this seems to be a regression in the past week.
other actions that are effected; toggling cell visibility, toggling lines with the chart legends.
actions that are not effected: typing and editing in the code mirror, evaluating cells.

[2015-11-10 16:04] scottdraves commented on #1976
still getting these.

[2015-11-10 16:10] maxyeg commented on #1976
Could you describe test case?

[2015-11-10 16:17] tomca32 commented on #2901
Introduced in this commit: 931727704238c526302a709034a2ba3b39befc71

[2015-11-10 16:20] tomca32 commented on #2901
So the issue is with the CSS selector performance. For the last couple of years most people are saying that CSS selector performance is not an issue in modern browsers and we should stop thinking about it.

I guess we just proved otherwise.

[2015-11-10 16:46] scottdraves commented on #2758
Looking at the code, R_readFromJSON does call into the evil code, but is itself only called from oldFromJSON.  The other reference in readJSON.R is protected by if(FALSE).  oldFromJSON is only called if a 2nd parameter is given to fromJSON, which we never do.  So I think we can rip it out.

[2015-11-10 17:11] jonassmedegaard commented on #2758
Quoting Scott Draves (2015-11-10 17:46:54)

That sounds promising.

I can understand if upstream wants to keep backwards compatibility
and therefore not (yet?) drop even deprecated functions.

Even so, we can in the Debian packaging of RJSONIO patch the code and
add a warning to our packaging documentation that we've killed those
functions due to its licensing problems.
- Jonas

##
- Jonas Smedega

[2015-11-10 19:21] #2901 closed, assigned to tomca32

[2015-11-10 19:52] samccone commented on #2901
interesting, the selector in this case as far as I understood was being passed into sizzle and the node was being looked up there, not by CSS.

by caching the element as you did I could see a potential perf boost, however I would be suprised if it was so signifcant.

I would :heart: to see some numbers (timeline trace) because this is a really interesting case.

[2015-11-10 20:15] tomca32 commented on #2901
Fair point. Didn't realize it was sizzle going through that but now that I think about it makes sense that it was js lookup because it was doing class switching.

Anyway the impact was pretty significant, here are the timeline dumps:

Not cached: https://www.dropbox.com/s/0bj84mjxu1jebco/timeline_not_cached?dl=0

Cached: https://www.dropbox.com/s/raa1vep5iohp9rk/timeline_cached_element?dl=0

Both

[2015-11-10 21:18] samccone commented on #2901
So I took a look into the traces and well this is really interesting

So in the cached version we are only looping one time.. in the clearMenu jquery each loop:

![screenshot from 2015-11-10 13 09 33](https://cloud.githubusercontent.com/assets/883126/11075917/a8d2fa14-87ac-11e5-9990-bf06fbe96aa6.png)

on this line:

https://github.com/twosigma/beaker-notebook/blob/master/core/src/main/web/vendor/b

[2015-11-10 22:08] paulirish commented on #2901
Clickable timeline urls: for convenience:
<strong>
- [Not Cached](https://frontend.chrome-dev.tools/serve_rev/@5fc94bb7460d68729b80640137f454284dba2bba/inspector.html?loadTimelineFromURL=https://dl.dropboxusercontent.com/s/0bj84mjxu1jebco/timeline_not_cached?dl=0)
- [Cached](https://frontend.chrome-dev.tools/serve_rev/@5fc94bb7460d68729b80640137f454284dba2bba/inspector.html?loadTimelineFromURL=htt

[2015-11-10 22:48] paulirish commented on #2901
The quick things that I see:

![image](https://cloud.githubusercontent.com/assets/39191/11078355/3477135e-87ba-11e5-94ca-9215f6166c5e.png)

`getParent` in dropdown bootstrap appears to be grabbing the absolute selector. [It is not element-rooted](https://github.com/twosigma/beaker-notebook/blob/master/core/src/main/web/vendor/bower_components/bootstrap-sass/assets/javascripts/bootstrap.js#L776) an

[2015-11-11 04:42] scottdraves commented on #2830
extend/use codemirror themes? https://codemirror.net/demo/theme.html#ambiance

[2015-11-11 04:56] scottdraves opened #2907 "to fix scrollbar jumping, save output heights"
since the outputs instantiate lazily, as you scroll down a notebook for the first time, the scroll bar can jump as the height changes.  we should initialize them with empty divs with the right height (save it in the notebook model).

[2015-11-11 15:10] #2889 closed, assigned to tomca32

[2015-11-11 15:10] tomca32 commented on #2887
I believe this is fixed. Do you want to close this @scottdraves ?

[2015-11-11 15:10] #2852 closed, assigned to tomca32

[2015-11-11 15:10] #2795 closed, assigned to tomca32

[2015-11-11 15:13] scottdraves opened #2911 "need easier way to show and edit tags"
i am thinking small gray text just above the cell box, on the right, maybe with some UI for adding and removing.

[2015-11-11 15:14] scottdraves commented on #2911
part of https://github.com/twosigma/beaker-notebook/issues/448 now its own issue

[2015-11-11 15:50] alice-kroch commented on #2467
Hello, @psmaragdis . Please, try to run your tests on [this](https://www.dropbox.com/s/q5gvl2pqvko2yrc/Beaker%2011-11-15%2C%2017.51.xcarchive.zip?dl=0) dist

[2015-11-11 17:32] psmaragdis commented on #2467
I can't seem to get the web browser to connect to this binary. Any idea why?

I exported as a Mac Application, but when launch it and go to 127.0.0.1:8801/beaker/ there's nothing to load (unlike other beaker binaries which present me with the initial page)

[2015-11-11 17:57] #2800 closed, assigned to maxyeg

[2015-11-11 21:47] scottdraves opened #2912 "html in groovy error needs quoting"
https://pub.beakernotebook.com/#/publications/5643b667-d94b-48d7-9caa-36529175db47

[2015-11-12 00:56] scottdraves opened #2913 "moving past last line crashes"
if you press down arrow on the last line of a code cell, it should move to the next cell.
instead i get this stack trace:

[code]

same for up arrow

[2015-11-12 01:05] scottdraves opened #2914 "include more info in default visible part of groovy stack trace"
a syntax error in groovy results in an error with only the first line visible which reads:

[code]

if you expand the error you can see the useful info:

[code]

followed by stack trace info (this is true even after #2885 is fixed).  we should show the whole header of the error and only hide in the expander the stack trace, which is the part that looks like:

[code]

ie, is printed out with tab an

[2015-11-12 02:17] #1135 closed, assigned to nobody

[2015-11-12 02:18] #908 closed, assigned to nobody

[2015-11-12 02:18] #877 closed, assigned to nobody

[2015-11-12 02:19] #1296 closed, assigned to nobody

[2015-11-12 02:19] #1262 closed, assigned to nobody

[2015-11-12 02:22] #1305 closed, assigned to nobody

[2015-11-12 02:24] scottdraves commented on #2815
https://github.com/twosigma/beaker-notebook/issues/1514

[2015-11-12 02:24] #1514 closed, assigned to nobody

[2015-11-12 02:25] #2372 closed, assigned to nobody

[2015-11-12 02:28] #1892 closed, assigned to nobody

[2015-11-12 02:31] #1705 closed, assigned to nobody

[2015-11-12 02:32] #1598 closed, assigned to nobody

[2015-11-12 02:33] #1441 closed, assigned to nobody

[2015-11-12 07:53] alice-kroch commented on #2467
@psmaragdis, you have to perform next steps to launch the application:
1. open xcarchive in Finder
2. right click -> choose Show Package Contents
3. go to Products -> Applications
4. dbl click on Beaker application - it should present page in browser

[2015-11-12 13:04] maxyeg commented on #2913
@scottdraves , the same is for up arrow, when you in the first line of a cell and it should move you to the previous cell. Getting 't.focus is not a function'.

[2015-11-12 15:40] mathsong opened #2920 "Need help with beaker notebook on remote server"
Hello,

newbie with almost everything here and tried to install beaker notebook on aws ec2.
when building from source code following the instruction ( install-dependencies.sh + gradle run ),
I stuck at "beaker Building 0% > :run > :dev:run" after "starting nginx instance ";
when running the docker image, I got a weird ip like "https://321b94ebff76".

I was also wondering if there were an option si

[2015-11-12 16:11] scottdraves opened #2921 "encoding of pubs and tuts"
publications downloaded seem to have wrong encoding.
ditto fro some of the tutorials in our source tree and hence in the application dist.
https://github.com/twosigma/beaker-notebook/pull/2909

[2015-11-12 16:51] scottdraves commented on #2920
docker is probably best.  once it starts, just ignore the IP/URL that it prints out.  you should know the IP or hostname of your instance, just use that (but do copy the port number).  the open_browser option is not needed, it does that automatically.

[2015-11-12 18:08] scottdraves opened #2923 "libs to try:"
https://github.com/bloomberg/bqplot

[2015-11-12 18:10] scottdraves opened #2924 "pivot tables"
we should support them
http://nicolas.kruchten.com/content/2015/09/jupyter_pivottablejs/

[2015-11-12 18:13] #2873 closed, assigned to mnavasiolava

[2015-11-12 18:13] #2885 closed, assigned to mnavasiolava

[2015-11-12 18:14] #2546 closed, assigned to mnavasiolava

[2015-11-12 18:15] #2733 closed, assigned to mnavasiolava

[2015-11-12 18:16] scottdraves commented on #448
still need:
1) if the code is hidden, then show this indicator in the summary of the code, to the right of the number of lines.
2) if you click on the indicator, bring up a menu with one item that says "disable initialization"

[2015-11-12 18:21] scottdraves opened #2925 "down arrow on last line, with hidden source"
if you type the down arrow button on the last line of a cell,
and the next code cell has the input hidden, then the cursor should skip over the closed cell
and move on to the next cell.

[2015-11-12 18:35] scottdraves commented on #2758
sounds like this can be handled when rjsonio is packaged, not in beaker's code.

[2015-11-12 18:35] #2758 closed, assigned to nobody

[2015-11-12 19:39] psmaragdis commented on #2467
It looks like this build is missing the jre files in the resources (hence not launching).

[2015-11-12 20:20] scottdraves opened #2926 "renaming a readonly document should do save-as"
try opening the tutorial and then clicking the name.

[2015-11-12 20:22] scottdraves opened #2927 "prepend * to filename if it has been edited."
same as in the window title.

[2015-11-12 20:31] scottdraves opened #2928 "do not allow renaming based on filesystem"
if the file was opened eg by http, then it cannot be renamed.
in these cases, the path should not be an anchor.

[2015-11-12 22:48] scottdraves opened #2930 "remove plot memory across reruns"
currently plot resizes and and viewport changes and LoD settings are recorded so that even if you rerun the cell, they are reapplied.  this was a mistake -- if you run the cell again, it should always get the same results.  we do need to save the results of these interactions, but they are regular output.

[2015-11-13 00:24] scottdraves opened #2931 "plots should support java.awt.Color"
instead of producing this error:
https://pub.beakernotebook.com/#/publications/56452db0-4487-4f64-b516-1e60bce455b3
in addition to our own color class.

[2015-11-13 03:38] #2913 closed, assigned to maxyeg

[2015-11-13 06:17] altavir commented on #984
Is this problem fixed yet? When I try to launch public server on windows I get:

[code]

And long uninformative stacktrace after that.

[2015-11-13 06:21] altavir commented on #2931
In fact if you are basing on Java 8, I recommend to use [JavaFX Color](https://docs.oracle.com/javase/8/javafx/api/javafx/scene/paint/Color.html) instead of Swing. It is much more flexible and has an advanced [string value parser](https://docs.oracle.com/javase/8/javafx/api/javafx/scene/paint/Color.html#valueOf-java.lang.String-).

[2015-11-13 06:38] altavir commented on #984
And why not to use [JSSE](http://docs.oracle.com/javase/8/docs/technotes/guides/security/jsse/JSSERefGuide.html) which is part of JVM in case native library is not found? I believe that openSSL is better for very high workloads, but still it is better to have some slower client than to have none.

[2015-11-13 08:51] alice-kroch commented on #2467
Have you opened http://127.0.0.1:8801/beaker/#/control in browser after steps above?

[2015-11-13 10:29] mathsong commented on #2920
Thanks a lot. Docker image works fine now and beaker notebook is kind of cool.

But as an R user, I prefer not running docker image because of the ability to add R packages..
Here is where I stuck when building from source (any suggestion is appreciated)
...
:dev:core:build
:dev:core:copyGGVis
:dev:core:copyJQueryUIImages
:dev:core:copyKatex
:dev:core:copyRequireJS
:dev:core:copyVendorStuff
:dev:c

[2015-11-13 14:00] scottdraves commented on #2931
we need to support 7 and 8 so sticking with old classes for now.

[2015-11-13 15:58] altavir commented on #2931
Well, currently JavaFX is included in jvm7 so it should also work in java 7.

[2015-11-13 16:48] psmaragdis commented on #2467
Looks like it was a problem with that one machine I was running it on. It launches, but it still doesn't behave predictably. The example with the four sound players at the start of the thread is fine, but if do:

[code]

I only get the second figure to show but not the first. If I do:

[code]

I sometimes get both figures, most of the time I get the second figure only, but I never get the sound pl

[2015-11-13 18:09] tomca32 opened #2943 "TimePlot chart crashes the browser"
Running this notebook crashes the browser:

https://pub.beakernotebook.com/#/publications/5646273b-fe04-4817-bcdf-0160687dbd84

[2015-11-13 20:09] scottdraves opened #2944 "code mirror line spacing too small on pub"
on pub.beakernotebook.com:
<img width="204" alt="screen shot 2015-11-13 at 3 08 36 pm" src="https://cloud.githubusercontent.com/assets/963093/11156217/802fbad4-8a18-11e5-8351-70d76f467582.png">
in the live application:
<img width="219" alt="screen shot 2015-11-13 at 3 03 09 pm" src="https://cloud.githubusercontent.com/assets/963093/11156216/7fd2c784-8a18-11e5-81cd-56169a93d498.png">

[2015-11-14 10:24] mathsong opened #2945 "cat() in R"
no output for the function cat() in R
then using print(), the previous output displayed.

https://pub.beakernotebook.com/#/publications/56470b17-8778-4b34-9c92-1cf996e3b957

[2015-11-14 20:23] scottdraves commented on #2945
thanks for the report.  yea that's because the string returned by cat has no newline,
so the output doesn't show up until it gets one from the print.  here's another report: https://github.com/twosigma/beaker-notebook/issues/699

we were going to fix this when we redid the output handling to go into cells instead of the tray, but i think it fell off the bottom of the queue, thanks for reminding us

[2015-11-14 20:27] scottdraves commented on #2945
at the end of evaluation, should make sure the output is flushed and displayed.
if it is not newline terminated should show it with a red null/empty symbol, like github does.

[2015-11-14 20:52] #2883 closed, assigned to sethkrasnianski

[2015-11-15 00:39] scottdraves opened #2946 "beaker object becomes disconnected"
I do not have a good way to reproduce this, it is pretty rare but it does happen and of course this is a big problem when it does because autotranslation stops working in a notebook, instead you just get errors like:

[code]

It seems to be more likely to happen if I am running Beaker and put my laptop to sleep and then come to to existing sessions.

[2015-11-15 00:57] mathsong commented on #2945
I see. It's ok for me then -- just to add "\n". Thanks for help.

It's hardly a bug for my need for a notebook.

[2015-11-15 01:19] mathsong opened #2947 "matrix display in R"
sth. wrong with matrix dimnames in R.
e.g.

[code]

I suppose to get

[code]

but beaker gave me

[code]

https://pub.beakernotebook.com/#/publications/5647ddcd-a9ae-4367-baa2-a427f22f85e5

[2015-11-15 07:06] scottdraves commented on #2945
glad you can workaround it but we can and should handle this more intuitively.

[2015-11-15 19:08] upendrak opened #2948 "R backend error"
I am very new to Beaker and when i opened a default notebook and ran R i got this error. The ipython shell works perfectly fine

Nov 15, 2015 11:06:23 AM com.twosigma.beaker.r.utils.RServerEvaluator$workerThread startRserve
SEVERE: exception starting RServe
org.rosuda.REngine.Rserve.RserveException: Cannot connect: Connection refused
    at org.rosuda.REngine.Rserve.RConnection.<init>(RConnection.

[2015-11-15 19:56] scottdraves commented on #2947
thanks for the report.  we got row names but i did not know about dim names.
will look into fixing it.

[2015-11-15 20:00] scottdraves commented on #2948
did you install the packages that Beaker depends on?
make sure you do so with the command-line R (not RStudio).
here's the exact list: http://beakernotebook.com/getting-started#R

[2015-11-15 20:08] upendrak commented on #2948
I missed that part. Yes, it works now after all those installations. Thanks

[2015-11-15 20:08] #2948 closed, assigned to nobody

[2015-11-15 20:10] scottdraves commented on #2948
cool glad you got it going and thanks for closing the loop.
please don't hesitate to let us know of any other issues or questions you have.

[2015-11-15 20:17] filipstachura commented on #2598
Same for me. Two days ago everything worked fine!

OS: Win 8.1
Beaker: beaker-notebook-1.4.2-0-ge55c059-windows
installed.packages: https://gist.github.com/filipstachura/b168e6838853ec618d42

_Edit:_ For me reinstalling required R packages under current user has solved the problem.

[2015-11-16 14:47] kpaharelau commented on #2424
I found native codemirror functionality for the auto indent. Please open notebook,  select all ell content and click Shift-Tab. This is a native behaviour codemirror. Ctrl-Shift-J from issue is not a good idea. On my OS Ubuntu this command open development tools in a chromium-browser and firefox.

[2015-11-16 15:02] scottdraves opened #2954 "specify installing anaconda with python2"
in our getting started web page and in the wiki about getting python working.

[2015-11-16 15:18] mathsong opened #2955 "Only one login allowed?"
If running beaker with --public-server and have a active session on one computer, I can't login on any other machines. Googled, but got no answers. (jupyter allows multiple login.)

[2015-11-16 15:42] scottdraves commented on #2943
https://github.com/twosigma/beaker-notebook/pull/2950

[2015-11-16 15:56] scottdraves commented on #2955
thanks for the report.
it should allow multiple logins, what kind of error did you get?

[2015-11-16 16:46] #2926 closed, assigned to maxyeg

[2015-11-16 16:56] scottdraves commented on #2424
thanks you are right on all counts.
i'll just document it.

[2015-11-16 17:09] scottdraves commented on #2424
well, it does not seem to always work.
this documents it at least: https://github.com/twosigma/beaker-notebook/pull/2956

[2015-11-16 17:50] scottdraves commented on #2424
5.8 does not fix it for me, so i think we need to reimplement this.
the native function seems to work reliably if you set the cursor to the beginning of the line,
so maybe we can just do that in a loop.

[2015-11-16 20:39] #2930 closed, assigned to kpaharelau

[2015-11-16 23:30] mathsong commented on #2955
Thanks for quick reply as always.
I tried on 3 other computers with no success -- no matter what password I submit, the right one with great care or some random input. I only got the reload button, in the top-left corner of chrome, rotate one round. There is no any error message.

[2015-11-17 02:33] #2679 closed, assigned to maxyeg

[2015-11-17 08:30] mnavasiolava opened #2957 "Table output is displayed incorrectly if was executed in a closed section"
open Interactive Charts tutorial, execute the 1st cell with data generation, expand output section, table display is broken
![image](https://cloud.githubusercontent.com/assets/12935591/11206195/602a1c62-8d1e-11e5-8ce7-3831ab2ab3d3.png)

[2015-11-17 14:07] #2928 closed, assigned to maxyeg

[2015-11-17 14:07] #2927 closed, assigned to maxyeg

[2015-11-17 14:08] #2925 closed, assigned to maxyeg

[2015-11-17 15:34] #2704 closed, assigned to mnavasiolava

[2015-11-17 15:34] #2757 closed, assigned to mnavasiolava

[2015-11-17 15:35] #2914 closed, assigned to mnavasiolava

[2015-11-17 15:36] #2912 closed, assigned to mnavasiolava

[2015-11-17 15:38] scottdraves opened #2961 "support javafx colors"
https://docs.oracle.com/javase/8/javafx/api/javafx/scene/paint/Color.html
in addition to awt colors.   from https://github.com/twosigma/beaker-notebook/issues/2931

[2015-11-17 15:38] #2931 closed, assigned to mnavasiolava

[2015-11-17 15:39] #1524 closed, assigned to mnavasiolava

[2015-11-17 15:41] scottdraves commented on #2882
https://github.com/twosigma/beaker-notebook/pull/2910

[2015-11-17 15:41] #2882 closed, assigned to kpaharelau

[2015-11-17 18:14] scottdraves opened #2962 "try plotly"
https://github.com/plotly/plotly.js

[2015-11-17 18:41] scottdraves opened #2963 "Y viewport not restored correctly"
If you adjust the viewport of a chart and then save the notebook, and then open the notebook, the resulting viewport is wrong in the Y coordinate only.

saved like this:
![screen shot 2015-11-17 at 1 39 29 pm](https://cloud.githubusercontent.com/assets/963093/11221021/dab9cb1e-8d30-11e5-8264-96fa0c6d16cb.png)

open and look and see this:
![screen shot 2015-11-17 at 1 39 54 pm](https://cloud.github

[2015-11-17 21:18] #2943 closed, assigned to tomca32

[2015-11-18 15:29] tomca32 opened #2966 "IPython fails to start"
Steps:
1. Open Beaker landing page
2. Click New Default Notebook
3.  Wait for IPython to start
4. Observe the error alert

![screen shot 2015-11-18 at 10 28 40 am](https://cloud.githubusercontent.com/assets/3384784/11245138/30986f32-8ddf-11e5-9936-7e1aae6396b3.png)

[2015-11-18 15:36] tomca32 commented on #2966
Also in the browser console we get the following error:
http://127.0.0.1:8801/93017c3/ipython.732108985775/api/sessions/ Failed to load resource: the server responded with a status of 403 (Forbidden)

[2015-11-18 15:48] tomca32 commented on #2966
Seems to first happen in this commit: ed5a0ec37aa42452c21fab5a230b006a302627c9

[2015-11-18 16:04] scottdraves opened #2967 "shift-tab does not show docs"
In Python this should show the documentation.
this is a regression, it worked before.

[2015-11-18 16:45] scottdraves commented on #2492
turns out this is not needed for reindent, so putting it on hold until we get a good reason.

[2015-11-18 17:58] scottdraves commented on #2835
We still need _something_ to sync the code to the server as it's being edited.
This works with CodeMirror, we would just have to rewrite the server:
https://github.com/firebase/firepad

[2015-11-18 18:43] scottdraves opened #2969 "pasted tab should be converted to spaces"
when you paste a string into a code cell, any tab character should be converted to spaces.

[2015-11-18 18:44] scottdraves commented on #1976
you said you have seen these now...

[2015-11-18 21:56] tomca32 commented on #2836
Maybe we could try if some other solution is more performant first.

Something like this: http://www.ag-grid.com/

This also seems to be native to angular. Also http://ui-grid.info/

Could we put these three (datatables, ag-grid and ui-grid) on the same page and check which performs the best?

[2015-11-18 21:58] mnavasiolava opened #2971 "Plot state is not saved on Ctrl/Cmd+S"
Open interactive chart tutorial, select File->Save, open .bkr file - you can see that plots states are saved:
`"state": {
                    "focus": {
                        "xl": 0.4738095238095238,
                        "xr": 0.5261904761904762
                    },...`
Open interactive chart tutorial, press Ctrl/Cmd+S, open .bkr file - plots states are empty:
`"state": {}`

P.S. checked o

[2015-11-18 21:59] scottdraves commented on #2971
sounds very weird, glad you found this bug!

[2015-11-18 22:10] scottdraves opened #2972 "modifying language settings needs spinner"
when you change the classpath or any of the settings in the language manager that result in restarting the backend, you should put the text "Restarting Groovy..." with a spinner in the upper right of the dialog (right justified in the same line as the title). and when it finishes it changes to say "Restarting Groovy... done".

[2015-11-18 22:14] scottdraves opened #2973 "unify spinners"
we have 3 spinners in use.
1) in a cell while it's running:
![screen shot 2015-11-18 at 5 11 47 pm](https://cloud.githubusercontent.com/assets/963093/11256023/a853f00e-8e17-11e5-8306-dddd0b50baee.png)
2) in the top bar while running cells and starting backends
![screen shot 2015-11-18 at 5 11 54 pm](https://cloud.githubusercontent.com/assets/963093/11256048/bdf68da4-8e17-11e5-810f-fd8b2fd28f28.png

[2015-11-19 01:41] mathsong opened #2974 "exception in worker"
one line in R:

[code]

I got error message below and was wondering if it was about "REXP" related to dplyr.

[code]

[2015-11-19 06:02] mnavasiolava commented on #2967
note: works fine on master f13013e5a112aab44e324b98e94d61e9b928a376 (windows, ipython 3.0.0)

[2015-11-19 10:17] kpaharelau commented on #2966
I found little problem with windows quotes and fixed it.  Problem still exists for MacOS. I   have not  MacOS at the current moment

[2015-11-19 10:20] kpaharelau commented on #2966
see my PR with fixes for windows os

https://github.com/twosigma/beaker-notebook/pull/2975

[2015-11-19 17:54] scottdraves opened #2978 "show tab with arrow to bar"
in the code mirror, any actual tab character should be displayed with http://www.fileformat.info/info/unicode/char/21e5/index.htm

[2015-11-20 03:02] hadfield commented on #2276
any ETA on fixing the groovy issue?

[2015-11-20 07:36] mnavasiolava commented on #2967
after fixing the problem with ipython hash (#2966), works also on Mac OS
![image](https://cloud.githubusercontent.com/assets/12935591/11294174/7080f42c-8f72-11e5-8cc5-16c07570ab6b.png)

[2015-11-20 11:11] nrfm opened #2979 "node.js cell / expression with modulus operator throws error"
When evaluating the expression (3 % 4) in a  node.js cell the following error is thrown...

`Error
 URIError: URI malformed
    at decodeURIComponent (native)
    at /Applications/Beaker.app/Contents/Resources/dist/config/plugins/eval/node/app/app.js:31:48
    at callbacks (/Applications/Beaker.app/Contents/Resources/dist/config/plugins/eval/node/app/node_modules/express/lib/router/index.js:164:37

[2015-11-20 14:48] scottdraves commented on #2424
https://github.com/twosigma/beaker-notebook/pull/2964

[2015-11-20 14:48] #2424 closed, assigned to kpaharelau

[2015-11-20 14:50] #448 closed, assigned to alice-kroch

[2015-11-20 14:51] #2963 closed, assigned to mnavasiolava

[2015-11-20 14:51] #1343 closed, assigned to mnavasiolava

[2015-11-20 14:52] scottdraves commented on #2966
https://github.com/twosigma/beaker-notebook/pull/2975

[2015-11-20 14:52] #2966 closed, assigned to mnavasiolava

[2015-11-21 00:02] scottdraves commented on #2979
Thanks for the report, will look into this.

[2015-11-21 00:11] scottdraves commented on #2974
works fine for me https://pub.beakernotebook.com/#/publications/564fb6e9-86b6-4368-a29e-ec63e81cc919

can you reproduce reliably?

[2015-11-21 14:00] mathsong commented on #2974
Then I guess it was "OutOfMemoryError". Thanks.

[2015-11-21 14:00] #2974 closed, assigned to nobody

[2015-11-23 14:29] scottdraves opened #2982 "warn user on closing unset language manager"
if the user edits the settings in language manager, and then closes the window without clicking "set", they should get a modal popup that says "Discard your changes to the settings?" ok/cancel

[2015-11-24 17:08] scottdraves opened #2984 "notebook not showing Html cell badge"
https://pub.beakernotebook.com/#/publications/560c9f9b-14e6-4d95-8e78-cc0a60bf4e5a?fullscreen=false

should support the old name as well

[2015-11-24 20:49] scottdraves opened #2986 "search broken"
https://pub.beakernotebook.com/#/publications/featured
search box nonfunctional

https://pub.beakernotebook.com/#/publications
this search box is fine

this bug is live & deployed

[2015-11-24 22:27] scottdraves opened #2987 "access notebook control API from Groovy"
beaker.evaluateCode() does not seem to work if the language is not JS.

we also need beaker.evaluate("tag").

[2015-11-25 12:52] grin commented on #2986
Fixed in https://github.com/twosigma/bunsen/pull/1490

[2015-11-25 16:14] scottdraves commented on #2830
please add a persistent preference for codemirror color theme.
colors should apply to plots, tables, menus, dialogs, the whole UI.

[2015-11-25 20:53] scottdraves commented on #2969
bad idea

[2015-11-25 20:53] #2969 closed, assigned to maxyeg

[2015-11-25 20:57] scottdraves commented on #472
not needed

[2015-11-25 20:57] #472 closed, assigned to nobody

[2015-11-25 20:58] #544 closed, assigned to nobody

[2015-11-26 15:53] scottdraves opened #2988 "try tangle"
http://worrydream.com/Tangle/

make a notebook that uses this and try to publish it.  i found it did not work a long time ago but i can't find the issue for it, so making a new one.  does it still have a problem and can it be fixed?

[2015-11-26 16:25] himoacs opened #2989 "Error when making q variable visible to other languages"
Hi,

I am getting this error when I try to run the kdb tutorial:

/ Make the trades table visible to the notebook.
.bk.s[`trades; trades]

Error
 kx.c$KException: .j.j

Any idea what I need to do to get this to work? I am using mac and have python/kdb installed.

Thanks!

[2015-11-27 12:22] altavir opened #2990 "':plugin:node:installNodePackages' fails on Windows"
Version 53da3fc.
Error message:

[code]

[2015-11-27 13:22] #2978 closed, assigned to maxyeg

[2015-11-27 13:23] #2972 closed, assigned to maxyeg

[2015-11-27 14:31] scottdraves commented on #2780
locked because this seems to be a spam magnet

[2015-11-27 20:07] scottdraves commented on #2990
thanks will look into this.  what version of node do you have?

[2015-11-27 20:08] scottdraves commented on #2989
thanks for the report, i'll look into this.
what version of beaker are you running and on what OS?

[2015-11-27 20:11] himoacs commented on #2989
I am running version: 1.4.2-0-ge55c059 on mac os (el capitan)

[2015-11-27 20:19] scottdraves opened #2991 "update lodash?"
i am getting the following warning during build:

[code]

[2015-11-27 20:31] scottdraves opened #2992 "stick with Java7"
in XYGraphics.java:

[code]

even though we compile with java8 we need to restrict ourselves to java7 APIs since there are some people who compile with 7.

[2015-11-27 21:02] scottdraves commented on #2991
2.4.2 is from dec 2013 so rather old.  lodash is working on 4.0 even.
but there are some incompatible changes going from 2 to 3, and just dropping it in results in an error:
Uncaught TypeError: _.range is not a function
but i think that's because it did not load at all.

@ildipo what do you think about upgrading beaker lab?